Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

Update loadConfig.js
  lib/loadConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: require at least Node.js 18.12.0
  .changeset/dull-moons-double.md
  package-lock.json
  package.json
Due: prettier --write

ci: drop Node.js 16 from CI
  .github/workflows/push.yml
Due: none

ci: allow Actions workflow to create pull requests
  .changeset/stupid-radios-kiss.md
  .github/workflows/push.yml
Due: prettier --write

ci: fix Changeset action permissions
  .changeset/blue-tigers-know.md
  .github/workflows/push.yml
Due: prettier --write

docs: add information about ESLint --no-warn-ignored
  README.md
Due: prettier --write

docs: fix double space on --no-warn-ignored title
  README.md
Due: prettier --write

Add empty changeset
  .changeset/fuzzy-mirrors-rush.md
Due: prettier --write

docs: add information about ESLint --no-warn-ignored (#1332)
  .changeset/fuzzy-mirrors-rush.md
  README.md
Due: prettier --write

chore(deps): update dependencies
  .changeset/tall-bats-fetch.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependencies (#1330)
  .changeset/tall-bats-fetch.md
  package-lock.json
  package.json
Due: prettier --write

ci: update Actions workflow for publishing Changeset releases to npm correctly
  .github/workflows/push.yml
  .github/workflows/tag.yml
Due: none

ci: rename npm script, because it was triggered when running "npm publish"
  .changeset/sour-terms-live.md
  .github/workflows/push.yml
  package.json
Due: prettier --write

ci: remove dependabot config
  .github/dependabot.yml
Due: none

fix: run task command on files deep copy
  .changeset/sixty-stingrays-glow.md
  lib/makeCmdTasks.js
  test/unit/makeCmdTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: update desc when pass --diff option
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

docs: create heavy-ligers-fail.md
  .changeset/heavy-ligers-fail.md
Due: prettier --write

refactor: update desc when pass --diff option (#1230)
  .changeset/heavy-ligers-fail.md
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix(deps): update dependencies
  .changeset/lovely-seas-wait.md
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependencies (#1339)
  .changeset/lovely-seas-wait.md
  package-lock.json
  package.json
Due: prettier --write

ci: use actions/checkout@v4
  .github/workflows/codeql.yml
  .github/workflows/install.yml
  .github/workflows/push.yml
  .github/workflows/tag.yml
Due: none

ci: run tests with Node.js 21
  .changeset/thin-chairs-develop.md
  .github/workflows/push.yml
Due: prettier --write

feat: support symbolic link git dir
  lib/resolveGitRepo.js
  test/unit/resolveGitRepo.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: suppress warnings when using --quiet
  .changeset/mighty-ducks-invite.md
  lib/runAll.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add integration test for symbolic link git dir
  .changeset/unlucky-mayflies-cheat.md
  test/integration/symlink-git-dir.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: add support for `package.yaml`
  README.md
  lib/loadConfig.js
  test/unit/__mocks__/package.yml
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: declare some variables
  lib/loadConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add unit test for uncovered error
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix
