Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

fix: emit correct value to debug logs
  lib/gitWorkflow.js
Due: eslint --fix

fix: do not count hidden (partially) unstaged changes when using `--fail-on-changes`
  .changeset/sixty-dingos-fall.md
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  test/integration/fail-on-changes.test.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

refactor: make general error messages more clear they originate from lint-staged
  lib/messages.js
  test/e2e/no-stash.test.js
  test/integration/diff-options.test.js
  test/integration/files-outside-cwd.test.js
  test/integration/symlinked-staged-files.test.js
  test/unit/index3.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix

perf: only import `yaml` when loading YAML files
  .changeset/gold-papers-retire.md
  lib/loadConfig.js
Due: eslint --fix, prettier --write

feat: enforce minimum Git version >=2.27.0
  lib/index.js
  lib/messages.js
Due: eslint --fix

chore: remove unreachable 'unknown'
  lib/messages.js
Due: eslint --fix

fix(deps): update dependencies
  .changeset/afraid-cycles-thank.md
  package-lock.json
  package.json
  test/unit/execGit.spec.js
  test/unit/getFunctionTask.spec.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getStagedFiles.spec.js
  test/unit/runAll.spec.js
  test/unit/validateOptions.spec.js
Due: eslint --fix, prettier --write

fix: handle error when spawning of configured task fails
  .changeset/three-insects-worry.md
  lib/getSpawnedTask.js
Due: eslint --fix, prettier --write

build(deps): update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: log spawn failure error
  lib/getSpawnedTask.js
  test/e2e/kill-tasks-on-failure.test.js
  test/integration/fail-to-spawn.test.js
Due: eslint --fix

fix: catch errors when calling spawn
  lib/getSpawnedTask.js
Due: eslint --fix

feat: use Node.js builtin `util.styleText` for colors
  .changeset/plain-pens-scream.md
  .github/workflows/pull-requests.yml
  lib/colors.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/unit/colors.spec.js
Due: eslint --fix, prettier --write

feat: mark dependency `yaml` as optional
  .changeset/silver-otters-ask.md
  package-lock.json
  package.json
Due: prettier --write

ci: use separate caches for MSYS2 and Cygwin
  .github/workflows/pull-requests.yml
Due: none

test: fix test assertions for `--continue-on-error` to reveal incorrect behavior
  .changeset/mighty-planets-juggle.md
  test/integration/continue-on-error.test.js
Due: eslint --fix, prettier --write

test: fix test usage for `--continue-on-error`
  .changeset/six-eagles-march.md
  test/integration/__utils__/withGitIntegration.js
  test/integration/continue-on-error.test.js
Due: eslint --fix, prettier --write

fix: run all tasks when --continue-on-error=true
  .changeset/cool-sites-taste.md
  lib/getSpawnedTask.js
  lib/getSpawnedTasks.js
  lib/runAll.js
  package-lock.json
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

build(deps): update listr2
  package-lock.json
  package.json
Due: prettier --write

build(deps): update Vitest 4
  package-lock.json
  package.json
  test/unit/colors.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

build(deps): regenerate package-lock.json
  .changeset/soft-snakes-sort.md
  package-lock.json
Due: prettier --write

refactor: use `tinyexec` in Node.js version range script
  .changeset/crisp-wombats-doubt.md
  scripts/test-node-range.js
Due: eslint --fix, prettier --write

feat: use `tinyexec` in with Git commands
  lib/exec.js
  lib/execGit.js
  package-lock.json
  package.json
  test/unit/__utils__/getMockTinyexec.js
  test/unit/__utils__/mockTinyexecReturnValue.js
  test/unit/execGit.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

feat: kill sub-processes of tasks more efficiently without `pidtree`
  .changeset/salty-colts-allow.md
  lib/getSpawnedTask.js
  lib/killSubprocesses.js
  package-lock.json
  package.json
  test/unit/getSpawnedTask.spec.js
  test/unit/killSubprocesses.spec.js
Due: eslint --fix, prettier --write

refactor: only try to kill processes on failure
  lib/getFunctionTask.js
  lib/getSpawnedTask.js
  test/e2e/kill-tasks-on-failure.test.js
  test/unit/getSpawnedTask.unmocked.spec.js
Due: eslint --fix

refactor: improve messaging around failed/killed tasks
  lib/getSpawnedTask.js
  test/e2e/kill-tasks-on-failure.test.js
  test/integration/fail-to-spawn.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
