Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        "*.md": "yaspeller",
        ".*rc": "jsonlint"
    }
}

Add full coverage for runAll.js
  test/runAll.spec.js
Due: eslint --fix

Add console mock to runAll
  test/runAll.spec.js
Due: eslint --fix

Allow file path to config to be explicitly provided
  src/index.js
  test/__mocks__/cosmiconfig.js
  test/__mocks__/my-config.json
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix

Allow passing a configuration file using --config or -c flag
  README.md
  index.js
  package.json
Due: eslint --fix, yaspeller

Add serializer to account for Windows, Linux and MacOS path differences
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix

Inject console to encapsulate test output
  index.js
  src/index.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix

feat(commandline): Add -c and --config commandline parameter support
  README.md
  index.js
  package.json
  src/index.js
  test/__mocks__/cosmiconfig.js
  test/__mocks__/my-config.json
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix, yaspeller

Add required changes
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix

Fix the "no files" test
  test/runAll.spec.js
Due: eslint --fix

feat: Allow config to be provided via command-line (#304)
  README.md
  index.js
  package.json
  src/index.js
  test/__mocks__/cosmiconfig.js
  test/__mocks__/my-config.json
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix, yaspeller

docs: Tweak appveyor badge
  README.md
Due: yaspeller

docs: Tweak appveyor badge (#316)
  README.md
Due: yaspeller

chore: Bump cosmiconfig to v3, rm greenkeeper ignore
  package.json
  src/index.js
  test/index.spec.js
Due: eslint --fix

Update listr
  package.json
Due: none

Disable dates in console output
  src/runAll.js
Due: eslint --fix

Update snapshot
  test/__snapshots__/runAll.spec.js.snap
Due: none

feat: Verbose as CLI flag
  index.js
  src/index.js
Due: eslint --fix

chore: Bump cosmiconfig to v3, rm greenkeeper ignore (#315)
  package.json
  src/index.js
  test/index.spec.js
Due: eslint --fix

chore(package): update prettier to version 1.7.4 (#322)
  package.json
Due: none

Clear the console mock after the tests are run
  test/runAll.spec.js
Due: eslint --fix

Remove clearing implementation after each test
  test/runAll.spec.js
Due: eslint --fix

Refactor the no-files case
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix

Refactor the not-skip case
  test/runAll.spec.js
Due: eslint --fix

test: Add full coverage for runAll.js (#309)
  package.json
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix

refactor: Promisify staged-git-files
  package.json
  src/runAll.js
Due: eslint --fix

remove gitDir config option and close #271
  README.md
  package.json
  src/generateTasks.js
  src/getConfig.js
  src/resolveGitDir.js
  src/runAll.js
  src/runScript.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/generateTasks.spec.js
  test/getConfig.spec.js
  test/resolveGitDir.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
Due: eslint --fix, yaspeller

cleanup tests
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

style: Promisify staged-git-files (#325)
  package.json
  src/runAll.js
Due: eslint --fix

update based on feedback
  package.json
  src/generateTasks.js
  test/resolveGitDir.spec.js
Due: eslint --fix

style: Use dedent for prettier multi-line template literals
  package.json
  src/getConfig.js
  src/index.js
  src/runScript.js
  test/__snapshots__/index.spec.js.snap
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix

style: Use dedent for prettier multi-line template literals (#242)
  package.json
  src/getConfig.js
  src/index.js
  src/runScript.js
  test/__snapshots__/index.spec.js.snap
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix

Remove unnecessary condition
  src/getConfig.js
Due: eslint --fix

Remove the unnecessary condition
  src/getConfig.js
Due: eslint --fix

update message for gitDir
  src/getConfig.js
Due: eslint --fix

add snapshot test for gitDir config
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

updated based on feedback
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

Minor whitespace adjustment for deprecation msg
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
Due: eslint --fix

feat: Remove gitDir option and resolve it automatically (#327)
  README.md
  package.json
  src/generateTasks.js
  src/getConfig.js
  src/resolveGitDir.js
  src/runAll.js
  src/runScript.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/generateTasks.spec.js
  test/getConfig.spec.js
  test/resolveGitDir.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
Due: eslint --fix, yaspeller

chore(package): Bump dev-dependencies
  package.json
  src/runScript.js
  test/getConfig.spec.js
  test/index.spec.js
  test/printErrors.spec.js
  test/runAll.spec.js
  test/runScript.spec.js
Due: eslint --fix

chore(package): Bump dev-dependencies (#331)
  package.json
  src/runScript.js
  test/getConfig.spec.js
  test/index.spec.js
  test/printErrors.spec.js
  test/runAll.spec.js
  test/runScript.spec.js
Due: eslint --fix
