Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        "*.md": "yaspeller",
        ".*rc": "jsonlint"
    }
}

docs: Adda not about partial commits to README
  README.md
Due: yaspeller

docs: Fix link to the issue
  README.md
Due: yaspeller

build: Update semantic-release config
  .travis.yml
  package.json
Due: none

tests: Switched to Jest
  package.json
  test/__fixtures__/test.css
  test/__fixtures__/test.js
  test/__fixtures__/test.txt
  test/__mocks__/execa.js
  test/__mocks__/npm-which.js
  test/findBin.spec.js
  test/runScript.spec.js
  wallaby.js
Due: eslint --fix

build: Enable coverage report on codecov.io
  .travis.yml
  package.json
Due: none

fix: Remove unnecessary `which` dependency and code block in findBin.js
  package.json
  src/findBin.js
Due: eslint --fix

Adding logging for when no files match a pattern.
  src/generateTasks.js
  src/index.js
  test/generateTasks.spec.js
Due: eslint --fix

Fixing conditional.
  src/index.js
Due: eslint --fix

Using Listr skips to skip tasks with empty file lists.
  src/index.js
Due: eslint --fix

feat: Display a message if there are no files that match a pattern. (#139)
  src/generateTasks.js
  src/index.js
  test/generateTasks.spec.js
Due: eslint --fix

tests: Migrate git workflow tests to Jest
  test/__snapshots__/gitStash.spec.js.snap
  test/gitStash.spec.js
  test/gitWorkflow.spec.js
  test/jest-stdout-serializer.js
  wallaby.js
Due: eslint --fix

chore: Switch to husky and fix dependencies
  package.json
  yarn.lock
Due: none

chore: Add *.json to .lintstagedrc config
  .lintstagedrc
Due: jsonlint

tests: Remove dependency to expect
  package.json
  test/findBin.spec.js
  test/generateTasks.spec.js
  test/runScript.spec.js
  test/utils.js
  yarn.lock
Due: eslint --fix

tests: Update tests
  test/__snapshots__/gitStash.spec.js.snap
  test/gitStash.spec.js
Due: eslint --fix

Use gitRestore in post command
  post.js
Due: eslint --fix

tests: Update tests and add gitRestore
  src/gitWorkflow.js
Due: eslint --fix

test: Skip failing test for now
  test/gitStash.spec.js
Due: eslint --fix

Trying a proposed approach and restoring from stash before the commit
  package.json
  src/gitWorkflow.js
  src/index.js
  test/__snapshots__/gitStash.spec.js.snap
  test/gitStash.spec.js
Due: eslint --fix

tests: Removed unnecessary code, test, and snapshot
  src/gitWorkflow.js
  test/__snapshots__/gitStash.spec.js.snap
  test/gitStash.spec.js
Due: eslint --fix

Simplify installation instructions
  README.md
Due: yaspeller

Remove unnecessary dashes
  README.md
Due: yaspeller

docs: Remove unnecessary dashes (#154)
  README.md
Due: yaspeller

Use husky instead of pre-commit
  README.md
Due: yaspeller

docs: Simplify installation instructions copy (#153)
  README.md
Due: yaspeller

pre-commit → husky
  README.md
Due: yaspeller

docs: Use husky in examples (#156)
  README.md
Due: yaspeller

change npm to git since gitDir is only used for git executables
  src/runScript.js
Due: eslint --fix

Added recursive option to stylefmt which takes a list
  README.md
Due: yaspeller

Log verbose output even on successful lints
  package.json
  src/index.js
  src/runScript.js
Due: eslint --fix

tests: Introduce getConfig + tests
  package.json
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

tests: Update eslintrc to not fail on Jest
  .eslintrc
Due: jsonlint

tests: Refactor index.js in a way we can test the output
  src/index.js
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix

tests: Add resolveGitDir and tests and refactor generateTasks
  src/generateTasks.js
  src/index.js
  src/resolveGitDir.js
  test/generateTasks.spec.js
  test/resolveGitDir.spec.js
Due: eslint --fix

tests: Do not use async/await
  test/runAll.spec.js
Due: eslint --fix

tests: Simplify and fix the implementation of getConfig
  package.json
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

Refactor code to use getConfig
  src/generateTasks.js
  src/resolveGitDir.js
  test/resolveGitDir.spec.js
Due: eslint --fix
