Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        "*.md": "yaspeller",
        ".*rc": "jsonlint"
    }
}

Bumped version to 4.0.0-beta-1
  CHANGELOG.md
  package.json
Due: yaspeller

Bumped version
  package.json
Due: none

Switched to async/await for tests
  package.json
  test/gitWorkflow.spec.js
  wallaby.js
Due: eslint --fix

Extracted expect extension to a separate file. Added a failing test for gitWorkflow.
  .eslintrc
  test/gitWorkflow.spec.js
  test/runScript.spec.js
  test/utils.js
  wallaby.js
Due: eslint --fix, jsonlint

Removed no-console eslint error
  .eslintrc
Due: jsonlint

Some progress on git workflow.
  package.json
  post.js
  pre.js
  src/index.js
  yarn.lock
Due: eslint --fix

chore(package): update listr to version 0.7.0
  package.json
Due: none

Tweak installation instructions a little.
  README.md
Due: yaspeller

docs: Be more specific about where to put `pre-commit` in the installation instructions. (#87)
  README.md
Due: yaspeller

chore(package): update eslint to version 3.9.1
  package.json
Due: none

chore(package): update listr to version 0.7.0 (#85)
  package.json
Due: none

chore(package): update eslint to version 3.9.1 (#88)
  package.json
Due: none

Show simpler pattern for matching js/jsx.
  README.md
Due: yaspeller

docs(readme): Simpler pattern for matching js/jsx in the README. (#89)
  README.md
Due: yaspeller

chore: Added commitizen conventional changelog
  package.json
Due: none

chore: Added commitizen conventional changelog (#92)
  package.json
Due: none

fix(glob): Added dot: true to allow more complex globs with dots in path
  src/generateTasks.js
  test/generateTasks.spec.js
Due: eslint --fix

fix(glob): Added dot: true to allow more complex globs with dots in path (#93)
  src/generateTasks.js
  test/generateTasks.spec.js
Due: eslint --fix

Updated CHANGELOG
  CHANGELOG.md
Due: yaspeller

3.2.1
  package.json
Due: none

Bumped version in the CHANGELOG
  CHANGELOG.md
Due: yaspeller

Fixed a few typos in readme
  README.md
Due: yaspeller

Fixed a few typos in readme (#95)
  README.md
Due: yaspeller

chore(package): update listr to version 0.8.0
  package.json
Due: none

chore(package): update listr to version 0.8.0 (#96)
  package.json
Due: none

chore(package): update tmp to version 0.0.30
  package.json
Due: none

chore(package): update tmp to version 0.0.31
  package.json
Due: none

docs: add stylelint+stylefmt example
  README.md
Due: yaspeller

docs: add stylelint+stylefmt example (#98)
  README.md
Due: yaspeller

chore(package): update mocha to version 3.2.0
  package.json
Due: none

chore(package): update eslint-config-okonet to version 1.2.0
  package.json
Due: none

chore(package): update eslint-config-okonet to version 1.2.1
  package.json
Due: none

chore(package): update eslint to version 3.11.0
  package.json
Due: none

chore(npm): Removed yarn.lock.
  yarn.lock
Due: none

fix(tty): Force colors only when `process.stdout.isTTY` is true
  src/index.js
Due: eslint --fix

chore(dependencies): Upgraded listr to 0.9.0 that introduces nonTTY renderer fallback
  package.json
Due: none

style: Changed emoji in case of failure
  src/runScript.js
Due: eslint --fix

fix(tty): Force colors only when running in TTY (#108)
  package.json
  src/index.js
  src/runScript.js
Due: eslint --fix

docs(badge): Added npm version badge
  README.md
Due: yaspeller
