Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  10/63068bf5b19ec42c8cdb109503d17489c16c01
Due: none

perf: further optimize by reusing previous job
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  lib/symbols.js
  test/__mocks__/gitWorkflow.js
  test/state.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: update most of the tests
  lib/gitWorkflow.js
  lib/runAll.js
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/runAll.spec.js
  test/state.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: add `--no-stash` as hidden option for backwards-compatibility
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/validateOptions.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not apply empty patch
  lib/gitWorkflow.js
  test/gitWorkflow.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: restore previous order of jobs
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not use `fs/promises` for Node.js 12 compatibility
  lib/resolveGitRepo.js
  lib/unlink.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: remove unused code
  lib/file.js
  lib/gitWorkflow.js
  lib/resolveGitRepo.js
  lib/runAll.js
  lib/unlink.js
  test/file.spec.js
  test/gitWorkflow.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: restore original state when preventing an empty commit
  lib/gitWorkflow.js
  lib/state.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: do not use a git stash for better performance
  lib/gitWorkflow.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/state.js
  lib/symbols.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: rename `--no-stash` option to `--no-reset`
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/state.js
  test/gitWorkflow.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
  test/state.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  a7/c1c0b07550cd54a338a17bee54eea9082d2391
Due: none

feat(deps): update and slim down dependencies (#1003)
  .appveyor.yml
  .eslintrc.json
  .github/workflows/main.yml
  bin/lint-staged.js
  lib/figures.js
  lib/messages.js
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  test/.eslintrc.json
  test/__snapshots__/validateConfig.spec.js.snap
  test/index.spec.js
  test/integration.test.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
  test/validateBraces.spec.js
  test/validateOptions.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  32/c08d3f3c1c929e4fb3996c36fc937f032a2c5a
Due: none

Notes added by 'git notes add'
  8f/85e71acece04caab1f032c7f3a45d438c8d3a4
Due: none

Fix #1025 using git rev-parse to get the relative path inside git repo
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: detect git repo root correctly on cygwin (#1026)
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  f2/91824efadb1cce47eba62ee8fa57a546aab37f
Due: none

Fix #1027 by removing dangling chars
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Add tests
  lib/resolveGitRepo.js
  test/resolveGitRepo.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: remove dangling chars from git dir (#1028)
  lib/resolveGitRepo.js
  test/resolveGitRepo.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  11/c004e89dfacc381fdb10b0db70475f693c27f1
Due: none

Unbreak windows by correctly normalizing cwd
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: unbreak windows by correctly normalizing cwd (#1029)
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  f8/61d8d17d966809b6cd7ae338c289a125d0e3b4
Due: none

perf: ⚡️ replace `cosmiconfig` with `lilconfig`
  README.md
  lib/index.js
  package-lock.json
  package.json
  test/__mocks__/cosmiconfig.js
  test/__mocks__/lilconfig.js
  test/index.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

perf: replace `cosmiconfig` with `lilconfig` (#981)
  README.md
  lib/index.js
  package-lock.json
  package.json
  test/__mocks__/cosmiconfig.js
  test/__mocks__/lilconfig.js
  test/index.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  04/529e2b9040adc54cc8e5efc66b95bc0023477c
Due: none

fix: correctly import `js-yaml` to fix yaml config loading
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: correctly import `js-yaml` to fix yaml config loading (#1033)
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  61/2d8066aa2c95573a06c125a311dc4aed8f2e71
Due: none

Revert "fix: correctly import `js-yaml` to fix yaml config loading (#1033)"
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Revert "perf: replace `cosmiconfig` with `lilconfig` (#981)"
  README.md
  lib/index.js
  package-lock.json
  package.json
  test/__mocks__/cosmiconfig.js
  test/__mocks__/lilconfig.js
  test/index.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: revert back to `cosmiconfig` from `lilconfig` (#1035)
  README.md
  lib/index.js
  package-lock.json
  package.json
  test/__mocks__/cosmiconfig.js
  test/__mocks__/lilconfig.js
  test/index.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  e0/35b80e39da355da57c02db6565b55271ab1afa
Due: none

Notes added by 'git notes add'
  9d/b7f4c20ee7a6414e3f842488bc326ef9a4d44a
Due: none

test: remove appveyor config
  .appveyor.yml
  README.md
Due: prettier --write

ci: configure git to use unix line endings on Windows runners
  .github/workflows/main.yml
Due: none

test: always read files with Unix style line endings
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base -- --fix: any of: *.js
