Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "linters": {
    "*.{js,json,md}": ["prettier --write", "git add"],
    "*.js": ["npm run lint:base --fix", "git add"],
    ".*{rc, json}": "jsonlint"
  }
}

fix: Use listr-update-renderer from npm (#542)
  package.json
  yarn.lock
Due: prettier --write

chore: pin cosmiconfig to 5.0.6 (#538)
  package.json
Due: prettier --write

chore: Upgrade husky to v1
  package.json
  yarn.lock
Due: prettier --write

chore: Upgrade husky to v1 (#543)
  package.json
  yarn.lock
Due: prettier --write

docs: Fix typo in README.md (#537)
  README.md
Due: prettier --write

feat: Add `relative` option to allow passing relative paths to linters (#534)
  README.md
  src/generateTasks.js
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/generateTasks.spec.js
  test/getConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Chore: Upgrade semantic-release to v15
  .travis.yml
Due: none

Chore: Upgrade semantic-release to latest
  .travis.yml
Due: none

chore: Upgrade semantic-release to latest (#548)
  .travis.yml
Due: none

Add update for JetBrains support
  README.md
Due: prettier --write

docs: Update for JetBrains support (#552)
  README.md
Due: prettier --write

README: Remove comment about hunks support
  README.md
Due: prettier --write

docs: Remove comment about hunks support (#553)
  README.md
Due: prettier --write

feat: add fileFlag option when linter need to pass a flag before each pathFile
  README.md
  src/getConfig.js
  src/makeCmdTasks.js
  src/resolveTaskFn.js
  src/runAll.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/getConfig.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feature: use unmock to avoid explicit hoist
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: Use `unmock` to get rid of mock hoisting (#563)
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs(readme): Add example for environment variables
  README.md
Due: prettier --write

docs(readme): Add example for environment variables (#564)
  README.md
Due: prettier --write

feat: refactor resolveGitDir
  package.json
  src/generateTasks.js
  src/gitWorkflow.js
  src/makeCmdTasks.js
  src/resolveGitDir.js
  src/runAll.js
  test/generateTasks.spec.js
  test/gitWorkflow.spec.js
  test/makeCmdTasks.spec.js
  test/resolveGitDir.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

update husky post-commit configuration
  README.md
Due: prettier --write

Revert "chore: pin cosmiconfig to 5.0.6 (#538)"
  package.json
Due: prettier --write

chore: Revert "chore: pin cosmiconfig to 5.0.6" (#571)
  package.json
Due: prettier --write

show both husky v0.x and v1.x configuration
  README.md
Due: prettier --write

Improve configuration validation
  package.json
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: add check for changed lint-staged files before stashing changes
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: simplify implementation, add comment as requested and remove "only" from "it.only"
  src/runAll.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: update test snapshot for "runAll should resolve the promise with no files" as stashing/linters are no longer executed if no staged files match the linters configuration
  test/__snapshots__/runAll.spec.js.snap
Due: none

use `yup` to validate, add more tests
  package.json
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Fix configuration validation and allow specifying custom renderers (#572)
  package.json
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: replace Array.forEach with Array.every, add message if lint-staged is skipped and update snapshots
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: remove "No linters executed" and "in lint-staged.linters" copy
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Avoid stashing if no staged files has been changed (#570) (#573)
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix
