Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

feat: add --exit-code flag
  .changeset/fifty-tires-itch.md
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.d.ts
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/state.js
  lib/symbols.js
  test/integration/exit-code.test.js
Due: eslint --fix, prettier --write

docs: change flags section from list to level-4 headings
  README.md
Due: prettier --write

Update README with lint-staged diff usage
  README.md
Due: prettier --write

docs: add changeset
  .changeset/early-shoes-serve.md
Due: prettier --write

docs: update README with lint-staged diff usage (#1622)
  .changeset/early-shoes-serve.md
  README.md
Due: prettier --write

refactor: rename "--fail-on-changes" flag
  .changeset/fifty-tires-itch.md
  .changeset/small-geese-kick.md
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.d.ts
  lib/index.js
  lib/messages.js
  lib/runAll.js
  test/integration/fail-on-changes.test.js
Due: eslint --fix, prettier --write

feat: add --continue-on-error flag
  .changeset/healthy-oranges-walk.md
  README.md
  bin/lint-staged.js
  lib/index.d.ts
  lib/index.js
  lib/runAll.js
  test/integration/continue-on-error.test.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

fix(npm): pin exact version of dependencies to avoid compromised updates
  .changeset/early-actors-run.md
  package-lock.json
  package.json
Due: prettier --write

ci: enable dependabot
  .changeset/ten-dryers-nail.md
  .github/dependabot.yml
Due: prettier --write

docs: format changeset
  .changeset/early-actors-run.md
Due: prettier --write

ci: adjust dependabot config
  .github/dependabot.yml
Due: none

ci: create changeset for Dependabot PRs
  .changeset/happy-donkeys-fall.md
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Due: prettier --write

docs: update changeset
  .changeset/fifty-tires-itch.md
Due: prettier --write

ci: allow dependabot changeset workflow to trigger another workflow
  .github/workflows/dependabot.yml
Due: none

ci: trigger dependabot changeset on workflow run
  .github/workflows/dependabot.yml
Due: none

ci: check triggering_actor
  .github/workflows/dependabot.yml
Due: none

ci: check github.event.workflow_run.actor
  .github/workflows/dependabot.yml
Due: none

Revert "ci: check github.event.workflow_run.actor"
  .github/workflows/dependabot.yml
Due: none

Revert "ci: check triggering_actor"
  .github/workflows/dependabot.yml
Due: none

Revert "ci: trigger dependabot changeset on workflow run"
  .github/workflows/dependabot.yml
Due: none

ci: allow dependabot to automatically merge PRs
  .github/workflows/dependabot.yml
Due: none

ci: fix Dependabot secret name
  .github/workflows/dependabot.yml
Due: none

fix: avoid double-triggering workflow
  .github/workflows/dependabot.yml
Due: none

ci: fix authentication
  .github/workflows/dependabot.yml
Due: none

ci: use dependabot secret instead of built-in
  .github/workflows/dependabot.yml
Due: none

ci: fix gh cli flags
  .github/workflows/dependabot.yml
Due: none

ci: install dependencies with "npm ci --ignore-scripts"
  .github/workflows/default-branch-push.yml
  .github/workflows/dependabot.yml
  .github/workflows/pull-requests.yml
Due: none

build(deps): regenerate fresh package-lock.json
  package-lock.json
Due: prettier --write

ci: run on "macos-latest"
  .github/workflows/pull-requests.yml
Due: none

style: ignore Dependabot commit messages from commitlint
  .changeset/every-jars-rule.md
  .commitlintrc.json
  commitlint.config.js
Due: eslint --fix, prettier --write

perf: parallelize staged files retrieval and config search
  .changeset/evil-hats-doubt.md
  lib/runAll.js
Due: eslint --fix, prettier --write

feat: add new option "--hide-unstaged"
  .changeset/smart-sheep-run.md
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.d.ts
  lib/index.js
  lib/runAll.js
  lib/state.js
  test/integration/gitWorkFlow.test.js
  test/integration/hide-unstaged.test.js
Due: eslint --fix, prettier --write

refactor: create backup stash first
  lib/gitWorkflow.js
Due: eslint --fix
