Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

style: add VS Code extension config
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

feat: refuse to run when files were staged with `--intent-to-add`
  .changeset/curvy-trains-joke.md
  lib/getStagedFiles.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/symbols.js
  test/integration/intent-to-add.test.js
  test/unit/getStagedFiles.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

fix: honor FORCE_COLOR/NO_COLOR env variables in non-TTY streams
  .changeset/afraid-hotels-judge.md
  bin/lint-staged.js
  lib/colors.js
  lib/parseOptions.js
  test/unit/colors.spec.js
Due: eslint --fix, prettier --write

refactor: improve `--intent-to-add` detection
  .changeset/social-maps-smoke.md
  README.md
  lib/getIntentToAddFiles.js
  lib/getStagedFiles.js
  lib/parseGitZOutput.js
  lib/runAll.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

fix: change `defineConfig` signature from `const` to a `function`
  .changeset/silly-places-worry.md
  lib/config.d.ts
  lib/config.js
Due: eslint --fix, prettier --write

fix: remove "test" from README.md
  .changeset/major-doodles-build.md
  README.md
Due: prettier --write

build: remove MIGRATION.md from npm package to save space
  package.json
Due: prettier --write

fix: add unique run id to partially changed patch file to improve concurrency
  .changeset/wacky-llamas-float.md
  lib/file.js
  lib/gitWorkflow.js
  test/integration/no-stash.test.js
  test/unit/file.spec.js
Due: eslint --fix, prettier --write

feat: stage all changes made by tasks, regardless if the files were originally staged or not
  .changeset/tame-mangos-smell.md
  README.md
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  test/integration/gitWorkFlow.test.js
Due: eslint --fix, prettier --write

refactor: no need to calculate hash to detect changes
  lib/gitWorkflow.js
Due: eslint --fix

refactor: parse git -z output when checking empty commit
  .changeset/tame-mangos-smell.md
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write

perf: skip some operations when there are no files to be staged
  lib/gitWorkflow.js
  test/integration/gitWorkFlow.test.js
Due: eslint --fix

perf: skip check for empty commit only when using `--allow-empty`
  lib/gitWorkflow.js
Due: eslint --fix

perf: resolve git default index lock only once
  lib/gitWorkflow.js
Due: eslint --fix

perf: exclude untracked files when listing partially staged files
  .changeset/great-islands-decide.md
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write

perf: optimize config and file grouping
  .changeset/cuddly-badgers-double.md
  lib/groupFilesByConfig.js
  lib/searchConfigs.js
  lib/validateConfig.js
  test/unit/groupFilesByConfig.spec.js
Due: eslint --fix, prettier --write

feat: add logger parameter to function tasks
  .changeset/little-apes-appear.md
  README.md
  lib/config.d.ts
  lib/getFunctionTask.js
  lib/getSpawnedTask.js
  lib/runAll.js
  test/types/config.test.ts
  test/unit/getFunctionTask.spec.js
Due: eslint --fix, prettier --write

feat: allow functions to generate concurrent tasks
  .changeset/fix-generated-parallel-tasks.md
  lib/config.d.ts
  lib/getMaxArgLength.js
  lib/getSpawnedTask.js
  lib/getSpawnedTasks.js
  lib/parseOptions.js
  lib/validateConfig.js
  test/types/config.test.ts
  test/unit/getMaxArgLength.spec.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTask.unmocked.spec.js
  test/unit/getSpawnedTasks.3.spec.js
  test/unit/getSpawnedTasks.spec.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  .changeset/brown-taxis-sing.md
  package-lock.json
  package.json
Due: prettier --write

ci: update GitHub Actions
  .github/workflows/npm.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

test: retry removing git directory after test
  test/integration/__utils__/withGitIntegration.js
Due: eslint --fix

docs: update changeset
  .changeset/fix-generated-parallel-tasks.md
Due: prettier --write

docs: fix imports in code examples
  .changeset/little-apes-appear.md
  README.md
Due: prettier --write

fix: use TypeScript types instead of JSDoc
  lib/config.d.ts
Due: none

ci: run Cygwin and MSYS2 tests on Node.js 26
  .github/workflows/pull-requests.yml
Due: none

fix: handle trailing newlines when detecting changed files
  .changeset/ready-points-lay.md
  lib/execGit.js
  lib/gitWorkflow.js
  test/integration/stage-newly-changes-files.test.js
Due: eslint --fix, prettier --write

fix: handle task editing a symlinked file to a regular file, and --fail-on-changes is used
  .changeset/brown-geese-cheer.md
  lib/gitWorkflow.js
  test/integration/fail-on-changes.test.js
  test/integration/gitWorkFlow.test.js
Due: eslint --fix, prettier --write

docs: fixes to changesets
  .changeset/cuddly-badgers-double.md
  .changeset/fix-generated-parallel-tasks.md
  .changeset/little-apes-appear.md
  .changeset/tame-mangos-smell.md
  .changeset/wacky-llamas-float.md
Due: prettier --write

fix: create hidden directory only when required
  lib/gitWorkflow.js
Due: eslint --fix

docs: improve changeset
  .changeset/tame-mangos-smell.md
Due: prettier --write
