Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        "*.md": "yaspeller",
        ".*rc": "jsonlint"
    }
}

Updated fixtures
  test/__fixtures__/test.css
  test/__fixtures__/test.js
  test/__fixtures__/test.txt
Due: eslint --fix

Fixed typos in the CHANGELOG
  CHANGELOG.md
Due: yaspeller

Hard coded name since packageJson will resolve to the project's one not this one.
  src/index.js
Due: eslint --fix

Added a test for resolvePaths
  test/resolvePaths.spec.js
Due: eslint --fix

Updated CHANGELOG
  CHANGELOG.md
Due: yaspeller

Added missing dev dependency
  package.json
Due: none

Added yarn.lock file
  yarn.lock
Due: none

Added yarn.lock file (#76)
  yarn.lock
Due: none

Updated yarn.lock
  yarn.lock
Due: none

Updated version in the CHANGELOG
  CHANGELOG.md
Due: yaspeller

Removed yaspeller and added missing dep for jsonlint
  .lintstagedrc
  package.json
  yarn.lock
Due: jsonlint

Renamed `git-root` option to `gitDir`
  README.md
  src/index.js
  test/generateTasks.spec.js
Due: eslint --fix, yaspeller

v3.1.0
  package.json
Due: none

Fix so the paths will be properly resolved and working when the git directory differs from the current working directory
  src/index.js
  src/resolvePaths.js
Due: eslint --fix

chore(package): update cosmiconfig to version 2.1.0
  package.json
Due: none

Work in progress - make a constant for gitDir cleanup path resolving
  src/index.js
  src/resolvePaths.js
Due: eslint --fix

Fix files paths for subdir case
  src/index.js
Due: eslint --fix

Run eslint on CI
  package.json
Due: none

Revert "chore(package): update cosmiconfig to version 2.1.0"
  package.json
Due: none

Fixed `TypeError: Path must be a string. Received undefined` when `gitDir` isn't defined in the config.
  src/index.js
Due: eslint --fix

Fixed lint errors.
  src/index.js
  src/resolvePaths.js
Due: eslint --fix

3.1.1
  package.json
Due: none

Revert "Run eslint on CI" since it break build on node 4.x for some reason.
  package.json
Due: none

Support rc files extensions (`.json`, `.yml` etc) as they aren't supported by default
  CHANGELOG.md
  src/index.js
Due: eslint --fix, yaspeller

Bumped CHANGELOG version to v3.2.0
  CHANGELOG.md
Due: yaspeller

v3.2.0
  package.json
Due: none

chore(package): update eslint-plugin-promise to version 3.1.0
  package.json
Due: none

chore(package): update eslint-plugin-promise to version 3.2.0
  package.json
Due: none

chore(package): update eslint-plugin-promise to version 3.2.1
  package.json
Due: none

Removed unused dev dependencies.
  CHANGELOG.md
  package.json
Due: yaspeller

Use `git stash --keep-index` to enable linting and committing only staged changes! Closes #62
  src/index.js
Due: eslint --fix

Added gitWorkflow and basic tests
  package.json
  src/gitWorkflow.js
  test/gitWorkflow.spec.js
  wallaby.js
Due: eslint --fix

More work on tests + some refactoring
  src/gitWorkflow.js
  test/gitWorkflow.spec.js
Due: eslint --fix

Added more tests + fixed some bugs
  src/gitWorkflow.js
  test/gitWorkflow.spec.js
Due: eslint --fix

Added test user name and email to try to fix Travis
  test/gitWorkflow.spec.js
Due: eslint --fix

Switched to gitWorkflow
  src/index.js
Due: eslint --fix

Work with absolute and relative paths. Added tests.
  src/gitWorkflow.js
  test/gitWorkflow.spec.js
Due: eslint --fix
