Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

test: make config loader tests more explicit
  test/__mocks__/my-lint-staged-config/index.cjs
  test/__mocks__/my-lint-staged-config/package.json
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: extract `loadConfig` into separate file
  lib/index.js
  lib/loadConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: support loading `.mjs` config
  .eslintrc.json
  README.md
  jest.config.js
  lib/index.js
  test/__mocks__/esm-config.mjs
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: allow loading `.js` config file with ESM syntax
  lib/loadConfig.js
  test/__mocks__/esm-config-in-js.js
  test/__mocks__/my-config.cjs
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

perf: replace `cosmiconfig` with `lilconfig` + `yaml` to reduce dependencies
  README.md
  lib/index.js
  lib/loadConfig.js
  lib/symbols.js
  lib/validateConfig.js
  package-lock.json
  package.json
  test/__mocks__/cosmiconfig.js
  test/__mocks__/lilconfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/index.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: install `enquirer`
  package-lock.json
  package.json
Due: prettier --write

docs: add note about v12 being ESM to README.md
  README.md
Due: prettier --write

Notes added by 'git notes add'
  6c/2d5042cf4a7e794578e08e6fa2bce1be067b5f
Due: none

feat: allow loading `.js` config file with ESM syntax
  README.md
  lib/loadConfig.js
  test/__mocks__/esm-config-in-js.js
  test/__mocks__/my-config.cjs
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: remove unused files
  .pre-commit-hooks.yaml
  package.json
  wallaby.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: replace `cosmiconfig` with `lilconfig` + `yaml` to reduce dependencies
  README.md
  lib/index.js
  lib/loadConfig.js
  lib/symbols.js
  lib/validateConfig.js
  package-lock.json
  package.json
  test/__mocks__/cosmiconfig.js
  test/__mocks__/lilconfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/index.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: add error logging to `loadConfig`
  lib/loadConfig.js
  package-lock.json
  package.json
  test/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

docs: update code examples from CommonJS to ESM syntax
  README.md
Due: prettier --write

Notes added by 'git notes add'
  dc/7921671baedb227c98de2157b3a5607d18929e
Due: none

fix: await for dynamic import promise when loading JS config
  lib/loadConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  e9/6b6d9674f07b4686876cb40605274577925973
Due: none

fix: fix Windows JS config loading by using file:// URLs
  lib/loadConfig.js
  test/index.spec.js
  test/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: fix YAML config loading
  lib/loadConfig.js
  test/__mocks__/my-config.yml
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: improve error logging in loadConfig
  lib/index.js
  lib/loadConfig.js
  test/index.spec.js
  test/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  e7/b6412fb128f314346e28329c17a676cf691135
Due: none

ci: make dependabot also bump package.json
  .github/dependabot.yml
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base -- --fix: any of: *.js
