Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix, jsonlint --in-place

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base --fix",
  ".*{rc, json}": "jsonlint  --in-place"
}

Notes added by 'git notes add'
  083b8e7d67307a177d427d694ead22cb0c95b0ca
Due: none

Update README.md
  README.md
Due: prettier --write

docs: improve example perfomance by returning single command (#753)
  README.md
Due: prettier --write

fix: better workaround for git stash --keep-index bug
  lib/gitWorkflow.js
  test/gitWorkflow.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  f3ae378aa8d7207f990c4ffec854cc8da4d38b1d
Due: none

refactor: minor optimizations
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: restore metadata about git merge before running tasks
  lib/gitWorkflow.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  f8ddfc22d22fec2b417a67249573e7cd6abdb9fc
Due: none

fix: correctly recover when unstaged changes cannot be restored
  lib/gitWorkflow.js
  lib/runAll.js
  test/index2.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  d091f71ff50b1eddc59e759b1b09a95ed613c4d2
Due: none

test: do not write file into repo during test run
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: fail with a message when backup stash is missing
  lib/gitWorkflow.js
  lib/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  f2a2702f80f1a93cee4d0c9fc5d9db09a848329a
Due: none

feat: support async function tasks
  README.md
  lib/makeCmdTasks.js
  lib/runAll.js
  test/makeCmdTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  20d5c5d4cb92f9a4c501e5308cc51379d10581a8
Due: none

feat: add support for `--all` flag
  bin/lint-staged
  src/getStagedFiles.js
  src/index.js
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix(src/getStagedFiles): default `options` to prevent errors in tests
  src/getStagedFiles.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: updated `getStagedFiles` tests to support `all` flag
  test/getStagedFiles.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: handle git MERGE_* files separately; improve error handling
  lib/file.js
  lib/gitWorkflow.js
  lib/runAll.js
  test/runAll.unmocked.2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  da22cf22bbd21be98a73b880a4ce43dbd0129021
Due: none

fix: error handling skips dropping backup stash after internal git errors
  lib/gitWorkflow.js
  lib/resolveTaskFn.js
  lib/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/resolveTaskFn.spec.js
  test/runAll.unmocked.2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  30b480925a313f5c2b614eb40eb1a340a6cefae5
Due: none

Update README on dealing with eslintignore
  README.md
Due: prettier --write

docs: Document how to deal with eslintignore warnings (#759)
  README.md
Due: prettier --write

feat: throw error to prevent empty commits unless --allow-empty is used
  README.md
  bin/lint-staged
  lib/gitWorkflow.js
  lib/index.js
  lib/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: add funding property to package.json linking to Open Collective
  package.json
Due: prettier --write

docs: add funding property to package.json linking to Open Collective (#763)
  package.json
Due: prettier --write

feat: throw error to prevent empty commits unless --allow-empty is used (#762)
  README.md
  bin/lint-staged
  lib/gitWorkflow.js
  lib/index.js
  lib/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  8bdeec067f425150722bd0ee78e310e0992a1444
Due: none

refine examples formatting
  README.md
Due: prettier --write

Improve documentation on the --debug flag
  README.md
Due: prettier --write

docs: Improve documentation on the --debug flag (#766)
  README.md
Due: prettier --write

single quote
  README.md
Due: prettier --write

docs: refine examples formatting (#767)
  README.md
Due: prettier --write

docs: Improve config section documentation
  README.md
Due: prettier --write

Notes added by 'git notes add'
  072924fce037c726112c00a6207afa92e238a267
Due: none

fix: preserve merge states in submodules
  lib/gitWorkflow.js
  lib/resolveGitDir.js
  lib/resolveGitRepo.js
  lib/runAll.js
  test/generateTasks.spec.js
  test/index2.spec.js
  test/resolveGitRepo.spec.js
  test/runAll.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: set git user details into submodule dir for Windows
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: resolve absolute git config dir in submodule case
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base --fix
