Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

docs: add changeset
  .changeset/early-zoos-buy.md
Due: prettier --write

feat: add support for `package.yaml`
  README.md
  lib/loadConfig.js
  test/unit/__mocks__/package.yml
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write

refactor: declare some variables
  lib/loadConfig.js
Due: eslint --fix

test: add unit test for uncovered error
  test/unit/loadConfig.spec.js
Due: eslint --fix

docs: update README to mention v13.3.0
  .changeset/slimy-zebras-talk.md
  README.md
Due: prettier --write

style: update Jest snapshots
  jest.config.js
  test/integration/gitWorkFlow.test.js
  test/unit/index2.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix

test: use more strict matchers to avoid snapshotting EventEmitter properties
  test/integration/gitWorkFlow.test.js
  test/unit/index2.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix

chore(deps): update dependencies
  .changeset/neat-suits-invite.md
  package-lock.json
  package.json
Due: prettier --write

refactor: move normalizePath calls to top-level
  lib/resolveGitRepo.js
  test/unit/resolveGitRepo.spec.js
Due: eslint --fix

style: update nested ternary for Prettier 3.1.0
  lib/messages.js
Due: eslint --fix

perf: use lilconfig only when searching for config files outside git repo
  .changeset/selfish-pillows-remember.md
  lib/loadConfig.js
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write

test: avoid file side-effects in unit test
  .prettierignore
  test/__utils__/createTempDir.js
  test/integration/__utils__/withGitIntegration.js
  test/integration/not-inside-git-repo.test.js
  test/unit/__mocks__/invalid-json-config.json
  test/unit/__mocks__/invalid-yml-config.yml
  test/unit/__mocks__/package.yml
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write

test: add missing test coverage
  test/unit/loadConfig.spec.js
Due: eslint --fix

refactor: move config file name constants to separate file
  lib/configFiles.js
  lib/loadConfig.js
  lib/searchConfigs.js
Due: eslint --fix

style: remove Babel from ESLint
  .babelrc.json
  .eslintrc.json
  package-lock.json
  package.json
  test/.eslintrc.json
Due: prettier --write

chore(deps): update lilconfig@3.0.0
  .changeset/large-dolphins-fail.md
  package-lock.json
  package.json
Due: prettier --write

docs: add workaround for verbose Windows output to README FAQ
  .changeset/giant-starfishes-vanish.md
  README.md
Due: prettier --write

feat: `--no-stash` flag implies `--no-hide-partially-staged`
  .changeset/empty-gifts-leave.md
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/state.js
  test/integration/__fixtures__/files.js
  test/integration/no-hide-partially-staged.test.js
  test/integration/no-stash.test.js
Due: eslint --fix, prettier --write

refactor: use commander implies() syntax for flag
  .changeset/flat-ducks-double.md
  bin/lint-staged.js
  test/e2e/no-stash.test.js
Due: eslint --fix, prettier --write

fix: when determining git directory, use `fs.realpath()` only for symlinks
  .changeset/sharp-apes-attend.md
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write

fix: restore .pre-commit-hooks.yaml
  .pre-commit-hooks.yaml
Due: none

chore: add changeset
  .changeset/quick-taxis-teach.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
