Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix

refactor: Use stdin for patch instead of writing a the file
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fixup! chore: Use Node >=8 to supoort async / await
  package.json
Due: prettier --write

chore: Remove unused dependency
  package.json
  yarn.lock
Due: prettier --write

fix: Delete *.rej files
  package.json
  src/gitWorkflow.js
  test/gitStash.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix(git): Always add a newline to the end of the patch.
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

v8.0.0-beta.4
  package.json
Due: prettier --write

fix(git): Fix hasPartiallyStagedFiles return true for untracked files
  src/gitWorkflow.js
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Added backers and sponsors on the README
  README.md
Due: prettier --write

Added call to donate after npm install (optional)
  package.json
Due: prettier --write

chore: Add a TODO
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: Use Object spread
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: Add jest-snapshot-serializer-ansi
  package.json
  yarn.lock
Due: prettier --write

refactor: Remove impossible case handling from makeErr
  src/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: Rename function to match exports
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: Revert version in package.json
  package.json
Due: prettier --write

feat: Add support for partially staged files (#75)
  .appveyor.yml
  .travis.yml
  package.json
  src/gitWorkflow.js
  src/index.js
  src/resolveTaskFn.js
  src/runAll.js
  test/__mocks__/execa.js
  test/__mocks__/gitWorkflow.js
  test/__mocks__/log-symbols.js
  test/__snapshots__/runAll.spec.js.snap
  test/gitStash.spec.js
  test/gitWorkflow.spec.js
  test/index.spec.js
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: Update readme to include info about partially staged files support
  README.md
Due: prettier --write

fix(git): Use resolveGitDir to resolve to .git for git commands
  src/gitWorkflow.js
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix(git): Use resolveGitDir to resolve to .git for git commands (#518)
  src/gitWorkflow.js
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix(git): Use resolveGitDir in hasPartiallyStagedFiles
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix(git): Use resolveGitDir in hasPartiallyStagedFiles (#520)
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: Allow to use lint-staged on CI
  .eslintrc.json
  index.js
  package.json
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: use object spread
  src/getConfig.js
  src/resolveTaskFn.js
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Allow to use lint-staged on CI (#523)
  .eslintrc.json
  index.js
  package.json
Due: eslint --fix, prettier --write, npm run lint:base --fix

ci: test on Node.js 6, 8, 10 and 11
  .appveyor.yml
  .travis.yml
Due: none

ci: test on Linux, macOS and Windows
  .appveyor.yml
  .travis.yml
Due: none

refactor: Use object spread (#524)
  src/getConfig.js
  src/resolveTaskFn.js
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: fix typo
  README.md
Due: prettier --write

docs: fix typo (#527)
  README.md
Due: prettier --write

fix to run this project behind a proxy
  package.json
Due: prettier --write

Using version instead of a link for listr-update-renderer
  package.json
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

feat: add relative option to let lint-staged work with ng lint
  README.md
  src/generateTasks.js
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/generateTasks.spec.js
  test/getConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Fix typo in README.md
  README.md
Due: prettier --write

Update gitStash.spec.js
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs(readme): refine prettier examples
  README.md
Due: prettier --write

docs(readme): refine prettier examples (#541)
  README.md
Due: prettier --write

fix: Use listr-update-renderer from npm
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base --fix: any of: *.js
