Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

test: add debug log for "--fail-on-changes"
  lib/gitWorkflow.js
Due: eslint --fix

feat: add new option "--hide-unstaged"
  .changeset/smart-sheep-run.md
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.d.ts
  lib/index.js
  lib/runAll.js
  lib/state.js
  test/integration/gitWorkFlow.test.js
  test/integration/hide-unstaged.test.js
Due: eslint --fix, prettier --write

refactor: create backup stash first
  lib/gitWorkflow.js
Due: eslint --fix

feat: throw internal errors so that they're visible in the console output
  .changeset/olive-weeks-design.md
  bin/lint-staged.js
  test/e2e/internal-errors.test.js
Due: eslint --fix, prettier --write

docs: remove dev dependency changesets
  .changeset/dependabot-2838997629.md
  .changeset/dependabot-2841937645.md
  .changeset/nice-rockets-attack.md
Due: prettier --write

ci: remove dependabot automerge
  .github/workflows/dependabot.yml
Due: none

ci: generate empty changeset for dev dependencies
  .github/workflows/dependabot.yml
Due: none

docs: remove inactive maintainers
  package.json
Due: prettier --write

ci: run "npm ci" in a separate workflow
  .changeset/vast-wombats-behave.md
  .github/workflows/codeql.yml
  .github/workflows/default-branch-push.yml
  .github/workflows/dependabot.yml
  .github/workflows/npm.yml
  .github/workflows/pull-requests.yml
  .github/workflows/tag.yml
  package.json
Due: prettier --write

test: enable Vitest ESLint plugin
  eslint.config.js
  package-lock.json
  package.json
  test/integration/non-ascii.test.js
Due: eslint --fix, prettier --write

test: use Vitest typechecking
  lint-staged.config.js
  package.json
  test/types/index.test.ts
  test/types/index.ts
  tsconfig.json
  vitest.config.js
Due: eslint --fix, prettier --write

ci: test matrix jobs don't need "npm" job
  .github/workflows/pull-requests.yml
Due: none

ci: no need to upload coverage artifacts
  .github/workflows/pull-requests.yml
Due: none

test: wait for both promises to settle
  test/unit/getSpawnedTask.unmocked.spec.js
Due: eslint --fix

test: adjust package.json
  package.json
Due: prettier --write

fix: pass either FORCE_COLOR or NO_COLOR to tasks based on detected support
  lib/getSpawnedTask.js
  lib/getSpawnedTasks.js
  lib/runAll.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTasks.spec.js
Due: eslint --fix

feat: remove chalk as a dependency
  .changeset/twenty-berries-attack.md
  bin/lint-staged.js
  lib/colors.js
  lib/figures.js
  lib/getRenderer.js
  lib/getSpawnedTask.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/unit/colors.spec.js
  test/unit/getRenderer.spec.js
  vitest.config.js
Due: eslint --fix, prettier --write

ci: use @actions/setup-node@v5
  .github/workflows/default-branch-push.yml
  .github/workflows/dependabot.yml
  .github/workflows/npm.yml
  .github/workflows/pull-requests.yml
  .github/workflows/tag.yml
Due: none

ci: use actions/checkout@v5
  .github/workflows/codeql.yml
  .github/workflows/default-branch-push.yml
  .github/workflows/dependabot.yml
  .github/workflows/npm.yml
  .github/workflows/pull-requests.yml
  .github/workflows/tag.yml
Due: none

ci: run tests with lowest supported Node.js version 20.17.0
  .github/workflows/pull-requests.yml
  test/e2e/internal-errors.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
