Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

ci: remove Node.js 10 from Appveyor test matrix
  .appveyor.yml
Due: none

fix: migrate husky@6
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: prettier --write

feat: bump Node.js version requirement to 12.13.0
  .github/workflows/main.yml
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore(deps): update dependencies
  package.json
  yarn.lock
Due: prettier --write

ci: replace Node.js 15 with 16
  .github/workflows/main.yml
Due: none

fix: migrate commander@7
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Hardcode mrm@2 in the documentation
  README.md
Due: prettier --write

docs: Hardcode mrm@2 in the documentation (#976)
  README.md
Due: prettier --write

feat: escape filenames on Unix when using the shell option
  README.md
  bin/lint-staged.js
  lib/escape.js
  lib/index.js
  lib/resolveTaskFn.js
  test/__snapshots__/escape.spec.js.snap
  test/escape.spec.js
  test/integration.test.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: warn when using the `--shell` option, unless `--unsafe-shell-disable-warnings` is used instead
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  test/integration.test.js
  test/messages.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: code-review fixes
  README.md
  lib/resolveTaskFn.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add basic regression tests for lint-staged/utils
  lib/execGit.js
  test/utils.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: expose lint-staged/utils entrypoint
  README.md
  lib/escape.js
  lib/index.js
  package.json
  utils.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: assert current Node.js version also when using the Node.js API
  bin/lint-staged.js
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

style: use arrow functions
  lib/chunkFiles.js
  lib/formatConfig.js
  lib/generateTasks.js
  lib/getStagedFiles.js
  lib/index.js
  lib/resolveTaskFn.js
  lib/validateConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Do not swallow already detected deprecated usage by last task
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not swallow already detected deprecated usage by last task (#991)
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  77/34156ce272189a7c663cccbb38af73a2b954b3
Due: none

feat: allow a path to be supplied to the --shell option (#993)
  README.md
  bin/lint-staged.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: validate custom shell is executable before running
  lib/index.js
  lib/messages.js
  lib/symbols.js
  lib/validateOptions.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: allow a path to be supplied to the --shell option (#994)
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/symbols.js
  lib/validateOptions.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
  test/resolveTaskFn.spec.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  fe/a80331c768b3642e90fc687e5aceaa419d2b77
Due: none

fix: the shell option value should be optional instead of required
  README.md
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: the shell option value should be optional instead of required (#996)
  README.md
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  f7/302f4649b52785cdd17e7339e49ff53a6e3eda
Due: none

test: better error message in snapshot
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: move error to messages
  lib/makeCmdTasks.js
  lib/messages.js
  lib/validateConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not match braces when they start with the dollar sign (`$`)
  lib/validateConfig.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: match braces with escaped comma inside
  lib/validateConfig.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add missing assertions
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: move formatConfig into validateConfig
  lib/formatConfig.js
  lib/index.js
  lib/validateConfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/formatConfig.spec.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: less nesting in validateConfig
  lib/validateConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: move config validation logging to validateConfig
  lib/index.js
  lib/messages.js
  lib/validateConfig.js
  test/__snapshots__/index2.spec.js.snap
  test/__snapshots__/validateConfig.spec.js.snap
  test/index.spec.js
  test/index2.spec.js
  test/makeCmdTasks.spec.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: move pattern fixing to validateConfig
  lib/generateTasks.js
  lib/index.js
  lib/validateConfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/generateTasks.spec.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: update snapshot serializer to remove absolute file path
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not pass unused logger argument
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add test for matching pattern with bracket sequence
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: improve configuration error output
  lib/index.js
  lib/messages.js
  lib/validateConfig.js
  package.json
  test/__snapshots__/index2.spec.js.snap
  test/__snapshots__/validateConfig.spec.js.snap
  test/index.spec.js
  test/makeCmdTasks.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix
