Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

fix: make sure deleted files aren't restored due to git bugs (#778)
  lib/file.js
  lib/getStagedFiles.js
  lib/gitWorkflow.js
  lib/index.js
  lib/resolveGitRepo.js
  test/file.spec.js
  test/gitWorkflow.spec.js
  test/runAll.unmocked.2.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  6bfbe6c204e351bd7055c5ecc810e1f9074304da
Due: none

feat: allow escaping of certain characters in filenames passed to tasks
  README.md
  bin/lint-staged.js
  lib/generateTasks.js
  lib/index.js
  lib/runAll.js
  test/generateTasks.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: update dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: replace fs.promises with util.promisify to suppress ExperimentalWarning on Node.js v10
  lib/file.js
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: replace fs.promises with util.promisify (#786)
  lib/file.js
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  f71c1c9ad2d27205199171bf3dc0e908889ba384
Due: none

Update README.md
  README.md
Due: prettier --write

fix: evaluate functional configuration only once
  lib/makeCmdTasks.js
  lib/validateConfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/makeCmdTasks.spec.js
  test/runAll.unmocked.spec.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not drop backup stash when reverting to original state fails
  lib/gitWorkflow.js
  lib/runAll.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  b3c2ffddf63106e05f70faf5cd289deffea67859
Due: none

Working replacements
  README.md
  bin/lint-staged.js
  lib/generateTasks.js
  lib/index.js
  lib/runAll.js
  package.json
  test/generateTasks.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

revert strip of spaces
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix windows
  lib/generateTasks.js
  package.json
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

normalize joined defaultDir path when resolving git config dir
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: use `path.join` and `normalize` to improve msys compatibility in resolveGitRepo
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  1ad263a5c03d0f3fd90f2dffd0d9083f0ef8112e
Due: none

Add tests for two core.quotepath values
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Fix getStagedFiles
  lib/getStagedFiles.js
  test/getStagedFiles.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Add third file to the test case
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Improve comments in tests
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Add comment
  lib/getStagedFiles.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Use test.each instead of Array.forEach
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: support non-ASCII filenames when git is configured with `core.quotepath on`
  lib/getStagedFiles.js
  test/getStagedFiles.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  2cb26a635a313a32c208caf5ba6a9215a68b9c6d
Due: none

feat: only hide/restore unstaged modifications to partially staged files
  lib/file.js
  lib/gitWorkflow.js
  lib/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/gitWorkflow.spec.js
  test/runAll.unmocked.2.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: unset GIT_LITERAL_PATHSPECS env variable before running
  lib/index.js
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: force src and dst prefixes in diff to work around local diff.noprefix setting
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: add `--no-stash` option to disable the backup stash, and not revert in case of errors
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.js
  lib/runAll.js
  test/__mocks__/gitWorkflow.js
  test/__snapshots__/runAll.spec.js.snap
  test/gitWorkflow.spec.js
  test/runAll.unmocked.2.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not return string from runAll, add info symbol to "No staged files found." message
  lib/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  8abb09f1acf4d751dde35de015593522ea399e10
Due: none

fix: add `--` to `git add` command to denote pathspec starting
  lib/gitWorkflow.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: add `--` to `git add` command to denote pathspec starting (#821)
  lib/gitWorkflow.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  226ccdb7727c9837fa04528047ced89466c4b833
Due: none

refactor: remove redundant check
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: prefer explicit default value
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: replace Travis with GitHub Actions
  .gitattributes
  .github/workflows/test.yml
  .travis.yml
Due: none

ci: do not run Appveyor for tags, sync branches with GitHub Actions
  .appveyor.yml
Due: none

ci: run only ubuntu for now
  .github/workflows/test.yml
Due: none

ci: add codecov job
  .github/workflows/test.yml
Due: none
