Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

test: Optimise assertions, mocks and test hooks
  test/__mocks__/npm-which.js
  test/generateTasks.spec.js
  test/getConfig.spec.js
  test/index.spec.js
  test/printErrors.spec.js
  test/runAll.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix

Remove the fallback for warning message
  src/getConfig.js
Due: eslint --fix

test: Optimise assertions, mocks and test hooks (#334)
  test/__mocks__/npm-which.js
  test/generateTasks.spec.js
  test/getConfig.spec.js
  test/index.spec.js
  test/printErrors.spec.js
  test/runAll.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix

Remove the whitespace
  src/getConfig.js
Due: eslint --fix

Remove redundant check
  src/getConfig.js
Due: eslint --fix

docs(README): Document support for multi pkg projects
  README.md
Due: yaspeller

docs(README): Document support for multi pkg projects (#337)
  README.md
Due: yaspeller

test: Improve tests for resolveGitDir
  test/resolveGitDir.spec.js
Due: eslint --fix

refactor: Remove unnecessary check in `getConfig` (#335)
  src/getConfig.js
Due: eslint --fix

test: Improve tests for resolveGitDir (#338)
  test/resolveGitDir.spec.js
Due: eslint --fix

chore(package): Add closing braces for maintainers
  package.json
Due: none

docs(README.md): add `imagemin-lint-staged` section
  README.md
Due: yaspeller

docs(README.md): add `imagemin-lint-staged` section (#332)
  README.md
Due: yaspeller

chore(package): Add closing braces for maintainers (#343)
  package.json
Due: none

refactor: Cleanup code and tests for gitDir
  src/index.js
  src/runAll.js
  test/generateTasks.spec.js
  test/runScript.spec.js
Due: eslint --fix

refactor: Cleanup code and tests for gitDir (#342)
  src/index.js
  src/runAll.js
  test/generateTasks.spec.js
  test/runScript.spec.js
Due: eslint --fix

feat: Add debug logs
  README.md
  index.js
  package.json
  src/findBin.js
  src/generateTasks.js
  src/getConfig.js
  src/index.js
  src/runAll.js
  src/runScript.js
Due: eslint --fix, yaspeller

refactor: Fix ESLint errors, run prettier, remove yarn.lock
  post.js
  pre.js
  src/gitWorkflow.js
  test/gitStash.spec.js
  test/gitWorkflow.spec.js
  test/jest-stdout-serializer.js
  yarn.lock
Due: eslint --fix

refactor: Use functions and normal modules.export instead of class
  src/gitWorkflow.js
Due: eslint --fix

feat: Add git stash and restore workflow
  src/index.js
Due: eslint --fix

Move git workflow to runAll and use Listr for running it
  src/index.js
  src/runAll.js
Due: eslint --fix

Only stash/unstash files if there are unstaged files found
  src/gitWorkflow.js
  src/runAll.js
Due: eslint --fix

feat: Command line option --debug
  README.md
  index.js
  src/findBin.js
  src/getConfig.js
  src/index.js
  src/runAll.js
  src/runScript.js
  test/__mocks__/my-config.json
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/findBin.spec.js
  test/getConfig.spec.js
  test/index.spec.js
  test/runScript.spec.js
Due: eslint --fix, yaspeller

Use base options for root listr tasks
  src/runAll.js
Due: eslint --fix

Better tests for git workflow
  test/__snapshots__/gitStash.spec.js.snap
  test/gitStash.spec.js
Due: eslint --fix

WIP on better partially staged patch application and conflict resolution
  package.json
  src/gitWorkflow.js
Due: eslint --fix

Reduce boilerplate in test
  test/gitStash.spec.js
Due: eslint --fix

Add a failing test for partially staged files
  test/gitStash.spec.js
Due: eslint --fix

feat: Add debug mode, deprecate verbose option (#344)
  README.md
  index.js
  package.json
  src/findBin.js
  src/generateTasks.js
  src/getConfig.js
  src/index.js
  src/runAll.js
  src/runScript.js
  test/__mocks__/my-config.json
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/findBin.spec.js
  test/getConfig.spec.js
  test/index.spec.js
  test/runScript.spec.js
Due: eslint --fix, yaspeller

docs(README): Add link to releases for changelog
  README.md
Due: yaspeller

chore(github): Add issue template
  .github/issue_template.md
Due: yaspeller

chore(github): Add issue template (#351)
  .github/issue_template.md
Due: yaspeller

docs(README): Add link to releases for changelog (#349)
  README.md
Due: yaspeller

chore: reformat js files with `prettier`
  test/findBin.spec.js
  test/index.spec.js
Due: eslint --fix

chore: remove `remove-lockfiles`
  package.json
  yarn.lock
Due: none

ci(appveyor): use `yarn`
  appveyor.yml
Due: none

ci(travis): remove `npm` installation from `before_install`
  .travis.yml
Due: none

ci(travis): use `greenkeeper-lockfile`
  .travis.yml
Due: none

chore: commit `yarn.lock` (#368)
  .travis.yml
  appveyor.yml
  package.json
  yarn.lock
Due: none

chore(scripts): replace `npm run` with `yarn`
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  yaspeller: any of: *.md
  jsonlint: any of: .*rc
