Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

fix: rename main branch to master
  test/integration/__utils__/withGitIntegration.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Revert "ci: temporarily run on all branches to test CI on forked repo"
  .github/workflows/main.yml
Due: none

feat: rename init branch to master
  test/integration/__utils__/withGitIntegration.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: the `--diff` option implies `--no-stash`
  README.md
  bin/lint-staged.js
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/no-stash.test.js
  test/integration/__utils__/withGitIntegration.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  66/a716d5a32c49f03b9a34350fec1b2411bada17
Due: none

fix configuration link
  README.md
Due: prettier --write

docs: Fix configuration link (#1305)
  README.md
Due: prettier --write

feat(dependencies): update `listr2@6.6.0`
  lib/getRenderer.js
  lib/runAll.js
  package-lock.json
  package.json
  test/integration/partially-staged-changes.test.js
  test/unit/getRenderer.spec.js
  test/unit/index2.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: run with Node.js 20
  .github/workflows/main.yml
Due: none

feat!: drop support for Node.js 14 as it's EOL after 2023-04-30
  .github/workflows/main.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore(dependencies): update all dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(dependencies): update most dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: add script for listing required Node.js versions for dependencies
  scripts/list-dependency-node-versions.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore(dependencies): update all dependencies
  .prettierrc.json
  package-lock.json
  package.json
  test/integration/__utils__/addConfigFileSerializer.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: replace `fs-extra` with native `node:fs/promises`
  package-lock.json
  package.json
  test/integration/__utils__/createTempDir.js
  test/integration/__utils__/withGitIntegration.js
  test/integration/basic-functionality.test.js
  test/integration/file-resurrection.test.js
  test/integration/git-submodules.test.js
  test/integration/not-inside-git-repo.test.js
  test/integration/symlinked-config.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: use GitHub Actions' temp dir if available
  test/integration/__utils__/createTempDir.js
  test/integration/__utils__/withGitIntegration.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: use top-level await in bin
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add debug
  test/integration/__utils__/withGitIntegration.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: reimplement "normalize-path"
  lib/chunkFiles.js
  lib/generateTasks.js
  lib/getStagedFiles.js
  lib/normalizePath.js
  lib/resolveGitRepo.js
  lib/runAll.js
  lib/searchConfigs.js
  package-lock.json
  package.json
  test/integration/__utils__/createTempDir.js
  test/integration/multiple-config-files.test.js
  test/unit/chunkFiles.spec.js
  test/unit/generateTasks.spec.js
  test/unit/getStagedFiles.spec.js
  test/unit/normalizePath.spec.js
  test/unit/resolveGitRepo.spec.js
  test/unit/runAll.spec.js
  test/unit/searchConfigs.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: use built-in truncation of Listr2
  lib/getRenderer.js
  lib/makeCmdTasks.js
  lib/runAll.js
  package-lock.json
  package.json
  test/unit/getRenderer.spec.js
  test/unit/makeCmdTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: replace "object-inspect" with built-in util
  lib/messages.js
  lib/validateConfig.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: skip test failing on Windows Node.js ~20.4.0
  test/integration/non-ascii.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: detect duplicate redundant braces in pattern
  lib/validateBraces.js
  test/unit/validateBraces.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: move mock to avoid name collision warning from jest-haste-map
  test/unit/__mocks__/cjs/my-config.cjs
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  f8/95e97b5345b021ecfa724a42920e11f3f672ab
Due: none

Notes added by 'git notes add'
  9d/a877711a7547b9122c6af91683fb2a2f398184
Due: none

fix: correctly read config from stdin
  bin/lint-staged.js
  lib/messages.js
  lib/readStdin.js
  package-lock.json
  package.json
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/stdin-config.test.js
  test/unit/readStdin.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: fix reading config from stdin, introduced in v14.0.0 (#1317)
  bin/lint-staged.js
  lib/messages.js
  lib/readStdin.js
  package-lock.json
  package.json
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/stdin-config.test.js
  test/unit/readStdin.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: print lint-staged version, node version and platform to debug logs
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

style: add commitlint for conventional-commits spec
  .commitlintrc.json
  .github/workflows/main.yml
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --write

ci: limit Security Analysis to target master branch
  .github/workflows/codeql.yml
Due: none

ci: use conventional-commits spec with semantic-release (instead of angular)
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

ci: extract separate cached install job
  .github/workflows/install.yml
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  fc/3bfeabae29b65f99b6911a989b0b41d3d1128e
Due: none

ci(release): adjust 🦋 changeset logic
  .changeset/config.json
  .github/workflows/push.yml
  package.json
Due: prettier --write

ci(release): replace semantic-release with changesets release
  .changeset/README.md
  .changeset/config.json
  .changeset/rich-gifts-greet.md
  .github/workflows/push.yml
  .github/workflows/tag.yml
  .husky/pre-push
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

docs(release): update current version and changelog
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: update GitHub Actions badges
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base -- --fix: any of: *.js
