Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

perf: further optimize file chunking
  .changeset/real-clowns-smile.md
  lib/chunkFiles.js
Due: eslint --fix, prettier --write

fix: remove extra log entry
  .changeset/silly-hornets-read.md
  lib/runAll.js
Due: eslint --fix, prettier --write

perf: call rev-parse only once instead of three times when resolving git repo
  .changeset/purple-trees-rhyme.md
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write

docs: fix typo in CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

perf(config): optimize config discovery with pathspecs
  .changeset/upset-pots-create.md
  lib/searchConfigs.js
  test/integration/multiple-config-files.test.js
Due: eslint --fix, prettier --write

docs: replace execa link with nano-span link
  README.md
Due: prettier --write

perf: combine `git ls-files` calls into single process
  lib/searchConfigs.js
Due: eslint --fix

chore: slightly different wording for comments
  lib/searchConfigs.js
Due: eslint --fix

lint: fixing fixable eslint errors
  lib/searchConfigs.js
Due: eslint --fix

perf: combine `git ls-files` calls into single process (#1587)
  lib/searchConfigs.js
Due: eslint --fix

perf: combine multiple git add calls into single operation
  lib/gitWorkflow.js
Due: eslint --fix

test: make sure "git amend" works as expected
  test/integration/git-amend.test.js
Due: eslint --fix

fix: fix stash apply for all-numeric stash revs
  lib/gitWorkflow.js
Due: eslint --fix

fix: fix types on npm
  package.json
Due: prettier --write

docs: create pink-vans-look.md
  .changeset/pink-vans-look.md
Due: prettier --write

fix: allow npm to detect built-in TypeScript type definitions
  .changeset/pink-vans-look.md
  package.json
Due: prettier --write

build(deps): update dependencies
  .changeset/khaki-ends-visit.md
  package-lock.json
  package.json
  test/integration/git-submodules.test.js
Due: eslint --fix, prettier --write

fix: add root-level "types" field to package.json
  .changeset/upset-beans-mate.md
  package.json
Due: prettier --write

fix: fix the incorrect relativeTopLevelDir detection for the cases when when the folder is worktree
  lib/resolveGitRepo.js
Due: eslint --fix

docs: create ten-bears-battle.md
  .changeset/ten-bears-battle.md
Due: prettier --write

fix: fix the incorrect relativeTopLevelDir detection when working with the worktree (#1608)
  .changeset/ten-bears-battle.md
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: kill subprocesses with "SIGKILL" and only if main process has a pid
  .changeset/slick-parrots-add.md
  lib/getSpawnedTask.js
  test/unit/getSpawnedTask.spec.js
Due: eslint --fix, prettier --write

feat: add --no-add flag
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.js
  lib/runAll.js
  test/integration/no-add.test.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

feat: add --continue-on-error flag
  bin/lint-staged.js
  lib/index.js
  lib/runAll.js
  test/integration/continue-on-error.test.js
  test/unit/runAll.spec.js
Due: eslint --fix

Adding conflict test with --no-add flag
  test/integration/no-add.test.js
Due: eslint --fix

build(deps): update dependencies
  .changeset/many-shrimps-tap.md
  package-lock.json
  package.json
  test/unit/__snapshots__/validateConfig.spec.js.snap
Due: prettier --write

feat: add --exit-code flag
  .changeset/fifty-tires-itch.md
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.d.ts
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/state.js
  lib/symbols.js
  test/integration/exit-code.test.js
Due: eslint --fix, prettier --write

docs: change flags section from list to level-4 headings
  README.md
Due: prettier --write

refactor: chain all Commander.js calls together
  bin/lint-staged.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
