Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

refactor: move TypeScript types to "index.d.ts" file
  .changeset/tasty-pigs-appear.md
  lib/index.d.ts
  package.json
  test/types/index.ts
Due: prettier --write

test: add integration test to ensure unmodified merged files are not linted
  .changeset/gentle-frogs-train.md
  test/integration/merge-conflict.test.js
Due: eslint --fix, prettier --write

test: add integration test to ensure unmodified merged files are not linted (#1518)
  .changeset/gentle-frogs-train.md
  test/integration/merge-conflict.test.js
Due: eslint --fix, prettier --write

fix: "node_modules" typo in eslint.config.js
  .changeset/violet-turkeys-applaud.md
  eslint.config.js
Due: eslint --fix, prettier --write

docs: add workaround for tsc ignoring tsconfig.json issue to README FAQ
  README.md
Due: prettier --write

docs: add empty changeset
  .changeset/chilly-jars-tickle.md
Due: prettier --write

docs: add workaround for tsc ignoring tsconfig.json issue to README FAQ (#1523)
  .changeset/chilly-jars-tickle.md
  README.md
Due: prettier --write

chore: update default branch references from "master" to "main"
  .changeset/config.json
  .changeset/sour-taxis-buy.md
  .github/workflows/codeql.yml
  .github/workflows/default-branch-push.yml
  .github/workflows/pull-requests.yml
  README.md
  test/e2e/no-stash.test.js
  test/integration/__utils__/withGitIntegration.js
  test/integration/merge-conflict.test.js
  test/integration/no-initial-commit.test.js
  test/unit/getStagedFiles.spec.js
Due: eslint --fix, prettier --write

Add missing type definitions and `package.json` fields
  bin/lint-staged.d.ts
  package.json
Due: prettier --write

feat: do not reset to original state when preventing empty commit
  .changeset/lucky-rules-teach.md
  lib/state.js
  test/integration/allow-empty.test.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  .changeset/great-facts-nail.md
  package-lock.json
  package.json
Due: prettier --write

chore(package): fix repository url; add homepage and bugs urls
  package.json
Due: prettier --write

build: add changeset
  .changeset/slimy-pugs-roll.md
Due: prettier --write

docs(package): fix repository url and bin; add homepage and bugs urls (#1532)
  .changeset/slimy-pugs-roll.md
  package.json
Due: prettier --write

fix: handle uninitialized submodules when listing staged files
  .changeset/dry-words-talk.md
  lib/getDiffCommand.js
  lib/getStagedFiles.js
  lib/gitWorkflow.js
  test/unit/getDiffCommand.spec.js
  test/unit/getStagedFiles.spec.js
Due: eslint --fix, prettier --write

ci: bump Cygwin action v5
  .github/workflows/pull-requests.yml
Due: none

build(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

build(execa): upgrade execa@9.5.2, require Node.js ^18.19.0 || >=20.5.0
  .changeset/rare-fishes-call.md
  README.md
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  test/unit/__utils__/mockExecaReturnValue.js
  test/unit/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write

chore: remove validation of deprecated advanced config options
  .changeset/pretty-bats-push.md
  README.md
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/validateConfig.spec.js
Due: eslint --fix, prettier --write

perf(lib): replace accumulator spread with object.assign
  lib/searchConfigs.js
  lib/validateConfig.js
Due: eslint --fix

docs: create lovely-spiders-shop.md
  .changeset/lovely-spiders-shop.md
Due: prettier --write

perf: replace accumulator spread with object.assign (#1537)
  .changeset/lovely-spiders-shop.md
  lib/searchConfigs.js
  lib/validateConfig.js
Due: eslint --fix, prettier --write

feat: add "--no-revert" flag to disable reverting to original state in case of errors
  .changeset/clean-spiders-melt.md
  README.md
  bin/lint-staged.js
  lib/index.d.ts
  lib/index.js
  lib/runAll.js
  lib/state.js
  test/unit/state.spec.js
Due: eslint --fix, prettier --write

feat: add `--add-all` flag to stage all modifications
  .changeset/floppy-rats-return.md
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.js
  lib/runAll.js
  lib/state.js
Due: eslint --fix, prettier --write

feat: remove `--shell` flag support
  .changeset/neat-parrots-watch.md
  MIGRATION.md
  README.md
  bin/lint-staged.js
  lib/index.d.ts
  lib/index.js
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
  lib/runAll.js
  lib/validateOptions.js
  package.json
  test/integration/git-lock-file.test.js
  test/integration/multiple-config-files.test.js
  test/integration/parent-globs.test.js
  test/unit/makeCmdTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/resolveTaskFn.unmocked.spec.js
  test/unit/validateOptions.spec.js
Due: eslint --fix, prettier --write

feat: remove `--shell` flag support
  .changeset/neat-parrots-watch.md
  MIGRATION.md
  README.md
  bin/lint-staged.js
  lib/index.d.ts
  lib/index.js
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
  lib/runAll.js
  lib/validateOptions.js
  package.json
  test/integration/__utils__/isWindows.js
  test/integration/git-lock-file.test.js
  test/integration/multiple-config-files.test.js
  test/integration/parent-globs.test.js
  test/unit/makeCmdTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/resolveTaskFn.unmocked.spec.js
  test/unit/validateOptions.spec.js
Due: eslint --fix, prettier --write

feat: remove `execa` as a dependency
  .changeset/strong-eggs-bake.md
  lib/exec.js
  lib/execGit.js
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/no-stash.test.js
  test/e2e/stdin-config.test.js
  test/integration/git-submodules.test.js
  test/unit/__utils__/getMockExec.js
  test/unit/__utils__/getMockExeca.js
  test/unit/__utils__/mockExecReturnValue.js
  test/unit/__utils__/mockExecaReturnValue.js
  test/unit/execGit.spec.js
  test/unit/makeCmdTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/resolveTaskFn.unmocked.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

feat: replace `execa` with `nano-spawn`
  .changeset/easy-frogs-speak.md
  .changeset/rare-fishes-call.md
  MIGRATION.md
  lib/execGit.js
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/kill-tasks-on-failure.test.js
  test/e2e/no-stash.test.js
  test/e2e/stdin-config.test.js
  test/integration/git-submodules.test.js
  test/unit/__utils__/getMockExeca.js
  test/unit/__utils__/getMockNanoSpawn.js
  test/unit/__utils__/mockExecaReturnValue.js
  test/unit/__utils__/mockNanoSpawnReturnValue.js
  test/unit/execGit.spec.js
  test/unit/index3.spec.js
  test/unit/makeCmdTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/resolveTaskFn.unmocked.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

fix: handle colon characters in staged filenames
  .changeset/happy-cougars-wish.md
  lib/getStagedFiles.js
  test/unit/getStagedFiles.spec.js
Due: eslint --fix, prettier --write

docs: update .changeset/happy-cougars-wish.md
  .changeset/happy-cougars-wish.md
Due: prettier --write
