Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

Test verifying functionality with branch named stash
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Revert fix to see if this is a real failure
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Disable the test too
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Add back tests
  lib/gitWorkflow.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: Add --lint-all-files option
  README.md
  bin/lint-staged.js
  lib/getStagedFiles.js
  lib/index.js
  lib/runAll.js
  test/getStagedFiles.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore(deps): update dependencies
  package.json
  test/integration.test.js
  test/runAll.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: make sure snapshot works on multiple git versions
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: always use the default short diff format for submodules #902
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  10b3218212e8aa5ae51747c70b1a25d9665ee6ab
Due: none

fix: disambiguate stash reference (#906)
  lib/gitWorkflow.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  51c5ac80da475f2255e12547018a3366ef6bd5a4
Due: none

Add support for .cjs configs
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Add support for pre-commit
  .pre-commit-hooks.yaml
Due: none

feat: Add support for adding lint-staged using pre-commit.com (#910)
  .pre-commit-hooks.yaml
Due: none

Notes added by 'git notes add'
  d404d7d5a2ccfba51d2d59e1fbb6e2e82539646c
Due: none

docs: fix & enhance "Use your own globs" example
  README.md
Due: prettier --write

docs: fix & enhance "Use your own globs" example (#912)
  README.md
Due: prettier --write

feat: add ability to use function as config
  README.md
  lib/index.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: test
  lib/formatConfig.js
  lib/index.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add specific test for config formatter
  test/formatConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

docs: clarify function based configuration option
  README.md
Due: prettier --write

Apply suggestions for README.md from code review
  README.md
Due: prettier --write

feat: Add ability to use function as config (#913)
  README.md
  lib/formatConfig.js
  lib/index.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/formatConfig.spec.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  67a4d06e39c4638a546494940bf99934692fb610
Due: none

allow .cjs files for ESModule based packages
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

trailing comma
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

adds all supported file extensions to README
  README.md
Due: prettier --write

fix: add support for .cjs configs (#909)
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  36e7e5843b6b8b8744488b4db536d14d2e85e798
Due: none

a bit clearer on supported files
  README.md
Due: prettier --write

fix: update docs on supported config file extensions (#917)
  README.md
Due: prettier --write

Notes added by 'git notes add'
  78782f92b1fb0868218dc3463a3fc61dd5e70cfc
Due: none

feat: read config from stdin
  README.md
  bin/lint-staged.js
  lib/messages.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: allow reading config from stdin (#918)
  README.md
  bin/lint-staged.js
  lib/messages.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  969713d030515e4bafa6517244f8c41968f2b40b
Due: none

fix(deps): update dependencies
  package.json
  yarn.lock
Due: prettier --write

ci: add Node.js v15 to test matrix
  .appveyor.yml
  .github/workflows/main.yml
Due: none

ci: node.js v15 is not available in Appveyor
  .appveyor.yml
Due: none

fix: update dependencies (#921)
  .github/workflows/main.yml
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  7933b081396d4a26d4c20fcd04c86c91cd89a8c6
Due: none
