Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix

Allow passing an array of globs
  src/generateTasks.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore(package): update lockfile
  yarn.lock
Due: none

Update documentation
  README.md
Due: prettier --write

fix spell
  README.md
Due: prettier --write

nest options under avanced header
  README.md
Due: prettier --write

remove space
  README.md
Due: prettier --write

docs: Update documentation for advanced options (#472)
  README.md
Due: prettier --write

Fix Bug when node_modules are outside of project
  package.json
  src/findBin.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Update
  README.md
  package.json
Due: prettier --write

fix: Make app package.json load error tolerant
  package.json
  src/findBin.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: Readme edits for spelling and grammar
  README.md
Due: prettier --write

docs: Readme edits for spelling and grammar (#480)
  README.md
Due: prettier --write

fix: Disable recursive checks for jest-validate
  package.json
  src/getConfig.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Disable recursive checks for jest-validate (#483)
  package.json
  src/getConfig.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Make app package.json load error tolerant (#479)
  package.json
  src/findBin.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

tests: Fix tests for gitWorkflow.
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Implement the thing!
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Remove patch file after applying it. Add debug message
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

When formatted changes could not be applied, we still want to format index
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fixup! tests: Fix tests for gitWorkflow.
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix(git): Fix hasUnstagedFiles check + add test
  src/gitWorkflow.js
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Make the partially staged test more realistic
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Fix the partially staged case by adding a EOF to patch file
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

v8.0.0-beta.0
  package.json
Due: prettier --write

fix: only run stash/unstash sequence when partially staged files detected
  src/gitWorkflow.js
  src/runAll.js
  test/__snapshots__/gitStash.spec.js.snap
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Add cleanup function and use named variables for refs
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: Remove unneded tree check
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Restore working copy when terminated
  package.json
  src/runAll.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: remove unused `stashUnstaged` option
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: check if `git status` returns a string
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

v8.0.0-beta.1
  package.json
Due: prettier --write

test: mock gitWorkflow module in runAll tests
  src/__mocks__/gitWorkflow.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Do not display skip message for stashing step if stashed
  src/__mocks__/gitWorkflow.js
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

tests: Add more tests for stashing and restoring
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

tests: Mock gitWorkflow in index.spec. Test non-zero exitCode
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Add flag to generate tasks on files staged outside of package root
  src/generateTasks.js
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Add test case
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base --fix: any of: *.js
