Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix, jsonlint --in-place

test: remove relPath
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: move to other file
  test/generateTasks.spec.js
  test/generateTasksSpecialCases.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add parrent dir linting configuration test
  test/generateTasksSpecialCases.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: apply patch only if there's a diff
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: don't normalize path gitDir path for better Windows compatibility
  src/resolveGitDir.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: generateTasks is not async
  src/generateTasks.js
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: no need to create absolute paths since cwd is already absolute
  src/execGit.js
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: remove unnecessary try/catch
  src/execGit.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: normalize gitDir path to posix using normalize-path
  package.json
  src/resolveGitDir.js
  test/resolveGitDir.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: mock resolveGitDir to fix runAll tests
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: generateTasks handles parent dir globs correctly
  src/generateTasks.js
  test/generateTasks.spec.js
  test/resolveGitDir.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: include renames when getting list of staged files
  src/getStagedFiles.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: mock resolveGitDir to fix runAll tests
  README.md
Due: prettier --write

fix: validateConfig validates function task return values
  src/validateConfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

tests: Expand Travis CI matrix to build on Window, OSX and Linux
  .travis.yml
Due: none

docs: correct glob example in readme
  README.md
Due: prettier --write

feat: allow to pass config instead of configPath
  README.md
  src/index.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: fix example with relative paths (#547)
  README.md
Due: prettier --write

refactor: remove usage of `linter` and prefer `command`
  src/makeCmdTasks.js
  src/resolveTaskFn.js
  src/runAll.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/resolveTaskFn.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: remove full snapshot since new git version changed the text
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

improvement: create shorter titles for function tasks with many staged files
  src/makeCmdTasks.js
  test/makeCmdTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: Use shorter title for function tasks with many staged files (#706)
  src/makeCmdTasks.js
  src/resolveTaskFn.js
  src/runAll.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/resolveTaskFn.unmocked.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: add note about next version
  README.md
Due: prettier --write

fix: add note about next version (#708)
  README.md
Due: prettier --write

feat: export `loadConfig` function to tool developers that want to know if user has specified it
  src/index.js
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: fix failed tests to ensure no extra influences introduced by exporting `loadConfig`
  src/index.js
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

style: put module.exports to the end of file
  src/index.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: create fn title with mock file list of correct length
  src/makeCmdTasks.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: add check before creating short function title
  src/makeCmdTasks.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base --fix: any of: *.js
  jsonlint --in-place: any of: .*{rc, json}
