Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        "*.md": "yaspeller",
        ".*rc": "jsonlint"
    }
}

test(getConfig): convert import statement
  test/getConfig.spec.js
Due: eslint --fix

fix: Unicode symbols compatibility on Windows (#248)
  package.json
  src/runScript.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix

ci: Whitelist build branches to avoid duplicate builds
  .travis.yml
  appveyor.yml
Due: none

ci: Whitelist build branches to avoid duplicate builds (#269)
  .travis.yml
  appveyor.yml
Due: none

docs: Add screenshots
  screenshots/lint-staged-prettier.gif
Due: none

docs: Show screenshot in the README
  README.md
Due: yaspeller

docs: Use diff formatting for code
  README.md
Due: yaspeller

docs: Reformat code blocks
  README.md
Due: yaspeller

docs: Add screenshot with the animated gif (#276)
  README.md
  screenshots/lint-staged-prettier.gif
Due: yaspeller

docs: Use emojis in the Readme
  README.md
Due: yaspeller

ci: Disable email notifications from Travis CI
  .travis.yml
Due: none

chore: omit already default values
  package.json
Due: none

chore: rearrange to prioritize more important fields
  package.json
  yarn.lock
Due: none

chore: remove `npm-check`
  package.json
Due: none

chore: add `maintainers` section
  package.json
Due: none

ci: update `script` job
  .travis.yml
  appveyor.yml
Due: none

chore: remove lockfile
  yarn.lock
Due: none

chore: add additional `test` scripts
  package.json
Due: none

revert: "ci: update `script` job"
  .travis.yml
  appveyor.yml
Due: none

chore: switch to `husky`
  package.json
Due: none

chore: upgrade `consolemock` to v0.2.2
  package.json
Due: none

chore(engines): requires node >=v4.2.0
  package.json
Due: none

chore: rearrange npm scripts
  package.json
Due: none

revert: "chore: add additional `test` scripts"
  package.json
Due: none

chore(scripts): add `test:watch`
  package.json
Due: none

chore(scripts): rename `commit` to `cz`
  package.json
Due: none

chore: move `version` field
  package.json
Due: none

chore: remove irrelevant keywords
  package.json
Due: none

chore: update keywords
  package.json
Due: none

chore: Cleanup `package.json` (#250)
  package.json
Due: none

Update jest
  package.json
Due: none

feat: Better error handling if config is missing
  src/index.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix

feat: Print friendlier error if config is missing (#281)
  src/index.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix

fix: missing entry file
  package.json
Due: none

fix: Missing entry file (#283)
  package.json
Due: none

remove strip-ansi
  package.json
Due: none

chore: Update jest (#279)
  package.json
Due: none

ci(appveyor): Use npm 4, npm 5 not usable on windows
  appveyor.yml
Due: none

chore(eslint): use `eslint-plugin-node` in root config
  .eslintrc.json
  src/.eslintrc.json
Due: none

chore(eslint): set `node/no-unsupported-features` off
  test/.eslintrc.json
Due: none
