Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

fix: use index-based stash references for improved MSYS2 compatibility (#1270)
  lib/gitWorkflow.js
  test/unit/getBackupStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  60/fcd99451b88336a05ebbe71cda8909d2733ad7
Due: none

Update README.md
  README.md
Due: prettier --write

docs: update README.md (#1273)
  README.md
Due: prettier --write

Notes added by 'git notes add'
  52/a650b6ca99448eb4b6704a9bf0295e3e688882
Due: none

ci: disable workflow for `next` branch
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  f4/351e33ac97bd65e85d25e8ce425751522c8ad7
Due: none

Notes added by 'git notes add'
  05/fb3829faa5437276d98450c34699fecfc8c1c8
Due: none

fix: ignore "package.json" as config file when it's invalid JSON
  lib/loadConfig.js
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: ignore "package.json" as config file when it's invalid JSON (#1281)
  lib/loadConfig.js
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  e7/ed6f741d2ea0f084b06f3e1ac3d1d57fadf737
Due: none

shared config first pass
  lib/loadConfig.js
  test/unit/__mocks__/shared-config-merge.js
  test/unit/__mocks__/shared-config-override.js
  test/unit/__mocks__/shared-config.js
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

return base when shared not found
  lib/loadConfig.js
  test/unit/__mocks__/shared-config-not-found.js
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Update package.json
  package.json
Due: prettier --write

Updated yaml version to 2.2.2
  package-lock.json
Due: prettier --write

fix(dependencies): update `yaml@2.2.2` (GHSA-f9xv-q969-pqx4) (#1290)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cf/691aa188719d9479ceaeffbffe814594fdb65f
Due: none

feat: `no-hide-partially-staged` flag
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/runAll.js
  lib/state.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: `--no-stash` flag implies `--no-hide-partially-staged`
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: bugs
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: tests
  test/integration/gitWorkFlow.test.js
  test/integration/no-stash.test.js
  test/unit/index2.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: improve coverage
  lib/messages.js
  lib/runAll.js
  test/integration/__fixtures__/files.js
  test/integration/no-hide-partially-staged.test.js
  test/integration/no-stash.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: use commander to imply --no-stash from --diff
  bin/lint-staged.js
  lib/index.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test(e2e): add "--diff implies --no-stash" test
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/no-stash.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

docs(README): minor fix
  README.md
Due: prettier --write

fix: restore default --stash assignment to fix tests
  lib/index.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: restore --shell default value
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: switch from exec to execa
  test/e2e/__utils__/getLintStagedExecutor.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor(getLintStagedExecutor.js): extract lintStagedBin command variable
  test/e2e/__utils__/getLintStagedExecutor.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: add debug statements
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/no-stash.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: try checking out all branches
  .github/workflows/main.yml
Due: none

ci: temporarily run on all branches to test CI on forked repo
  .github/workflows/main.yml
Due: none

ci: rename main to master
  test/e2e/no-stash.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Revert "ci: try checking out all branches"
  .github/workflows/main.yml
Due: none

Revert "ci: add debug statements"
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/no-stash.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base -- --fix: any of: *.js
