Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

test: adjust integration test logging setup for concurrency
  test/integration/diff-options.test.js
Due: eslint --fix

feat: use `tinyexec` to spawn tasks
  .changeset/crisp-wombats-doubt.md
  lib/getAbortController.js
  lib/getSpawnedTask.js
  lib/getSpawnedTasks.js
  lib/killSubprocesses.js
  lib/runAll.js
  lib/state.js
  test/e2e/kill-tasks-on-failure.test.js
  test/integration/diff-options.test.js
  test/integration/no-stash.test.js
  test/unit/getAbortController.spec.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTask.unmocked.spec.js
  test/unit/getSpawnedTasks.spec.js
  test/unit/killSubprocesses.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

feat: use `tinyexec` for Git commands
  .changeset/crisp-wombats-doubt.md
  lib/execGit.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/unit/__utils__/getMockTinyexec.js
  test/unit/__utils__/mockTinyexecReturnValue.js
  test/unit/execGit.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

docs: add tip about `lint-staged.sh`
  .changeset/forty-rivers-taste.md
  README.md
Due: prettier --write

test: make long-running task longer because of GitHub Actions slowness
  test/e2e/kill-tasks-on-failure.test.js
Due: eslint --fix

refactor: detect incorrect brace expansion exhaustively
  .changeset/cozy-wombats-wash.md
  lib/validateBraces.js
  test/unit/validateBraces.spec.js
Due: eslint --fix, prettier --write

ci: run `npm audit` in GitHub Actions
  .github/workflows/security.yml
Due: none

build(deps): update dependencies
  .changeset/shaky-areas-grin.md
  package-lock.json
  package.json
Due: prettier --write

build(deps): update `listr2@10.1.1`
  .changeset/loud-cobras-warn.md
  .github/workflows/pull-requests.yml
  package-lock.json
  package.json
Due: prettier --write

feat: mark dependency `yaml` as optional
  .changeset/silver-otters-ask.md
  package-lock.json
  package.json
Due: prettier --write

feat: use Node.js builtin `util.styleText` for colors
  .changeset/plain-pens-scream.md
  .github/workflows/pull-requests.yml
  lib/colors.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/unit/colors.spec.js
Due: eslint --fix, prettier --write

build(deps): move nano-spawn to dev
  .changeset/late-deserts-slide.md
  package-lock.json
  package.json
Due: prettier --write

refactor: remove `nano-spawn` dependency completely
  .changeset/witty-paws-win.md
  README.md
  package-lock.json
  package.json
  test/e2e/__utils__/forkLintStagedBin.js
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/internal-errors.test.js
  test/e2e/kill-tasks-on-failure.test.js
  test/e2e/no-stash.test.js
  test/e2e/special-characters.test.js
  test/e2e/stdin-config.test.js
  test/unit/__utils__/getMockNanoSpawn.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

docs: add CONTRIBUTING.md
  .changeset/thirty-chicken-sing.md
  .github/issue_template.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

feat: replace commander.js with Node.js builtins
  .changeset/many-cities-yawn.md
  bin/lint-staged.js
  lib/cli.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(Windows): do not spawn tasks as detached since it opens a cmd window on Windows
  .changeset/ripe-colts-fall.md
  lib/getSpawnedTask.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTasks.spec.js
Due: eslint --fix, prettier --write

fix: prefer to spawn from closest `node_modules/.bin`
  .changeset/big-shrimps-bake.md
  lib/getSpawnedTask.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTasks.spec.js
Due: eslint --fix, prettier --write

docs: add changeset
  .changeset/few-meteors-report.md
Due: prettier --write

fix: use fill-range
  lib/generateTasks.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor: replace micromatch with picomatch
  lib/generateTasks.js
Due: eslint --fix

fix: simplify `picomatch` usage and remove `fill-range`
  .changeset/few-meteors-report.md
  lib/generateTasks.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

build(deps): add picomatch & to-regex-range
  package-lock.json
  package.json
Due: prettier --write

build(deps): remove micromatch
  package-lock.json
  package.json
Due: prettier --write

refactor: extract `matchFiles` and add unit tests
  lib/generateTasks.js
  lib/matchFiles.js
  test/unit/matchFiles.spec.js
Due: eslint --fix

docs: update readme to use picomatch
  README.md
Due: prettier --write

fix: strip Git CRLF warning from output
  .changeset/ninety-clubs-heal.md
  lib/execGit.js
  test/unit/execGit.spec.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  .changeset/wise-experts-tie.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
