Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

Update runAll and tests
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix

tests: Updated Jest snapshots
  test/__snapshots__/runAll.spec.js.snap
Due: none

fix(gitDir): `gitDir` should only be applied when using `git` binary
  src/runScript.js
Due: eslint --fix

remove unnecessary `genMockFromModule` call for `execa`
  test/__mocks__/execa.js
Due: eslint --fix

fix: promise warnings in tests because of mocked `execa`
  test/runScript.spec.js
Due: eslint --fix

Add test for `runScript` with a mocked `findBin` that returns an absolute path
  test/runScript-mock-findBin.spec.js
Due: eslint --fix

Add test for running a non-npm script, and non-git command, with `gitDir` option
  test/runScript.spec.js
Due: eslint --fix

fix: Only pass gitDir for git specific executables (#162)
  src/runScript.js
  test/__mocks__/execa.js
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
Due: eslint --fix

feat: Run linters with configurable concurrency
  .babelrc
  package.json
  src/calcChunkSize.js
  src/findBin.js
  src/index.js
  src/readConfigOption.js
  src/runScript.js
  test/calcChunkSize.spec.js
  test/findBin.spec.js
  test/readConfigOption.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
Due: eslint --fix, jsonlint

chore: Cleanup comment in test
  test/runScript.spec.js
Due: eslint --fix

test(pMap): Add tests for pMap in runScript
  test/runScript-mock-pMap.spec.js
Due: eslint --fix

docs: Add docs for config options chunkSize, subTaskConcurrency
  README.md
Due: yaspeller

feat: Run linters with configurable concurrency (#149)
  .babelrc
  README.md
  package.json
  src/calcChunkSize.js
  src/findBin.js
  src/index.js
  src/readConfigOption.js
  src/runScript.js
  test/calcChunkSize.spec.js
  test/findBin.spec.js
  test/readConfigOption.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix, yaspeller, jsonlint

chore(package): update eslint-config-okonet to version 4.0.0 (#176)
  package.json
Due: none

fix gitDir on windows
  src/runScript.js
Due: eslint --fix

fix(gitDir): Fix for checking if task contains `git.exe` on Windows (#178)
  src/runScript.js
Due: eslint --fix

Add advanced option globOptions to customise how matching works
  src/generateTasks.js
  test/generateTasks.spec.js
Due: eslint --fix

Forgot to assign globOptions
  src/generateTasks.js
Due: eslint --fix

Add globOptions config key to README
  README.md
Due: yaspeller

Don't use word list as its not really a list
  README.md
Due: yaspeller

Typo in README globOptions description
  README.md
Due: yaspeller

feat: Add advanced option `globOptions` to customise minimatch (#179)
  README.md
  src/generateTasks.js
  test/generateTasks.spec.js
Due: eslint --fix, yaspeller

docs: update Readme about how to mitigate husky issue with commitizen
  README.md
Due: yaspeller

docs: Describe how to mitigate husky issue with commitizen (#182)
  README.md
Due: yaspeller

tests: Serialize stdout into string instead of Array
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix

adding multimatch
  README.md
  package.json
  src/generateTasks.js
Due: eslint --fix, yaspeller

chore: Set jest env as node to avoid jsdom overhead
  package.json
Due: none

chore(eslint): set environment to reflect #9e79050
  .eslintrc
  package-lock.json
Due: jsonlint

updated package babel-preset-env from 1.4.0 to 1.5.2 Npm link : https://www.npmjs.com/package/babel-preset-env Repository link : https://github.com/babel/babel-preset-env/releases
  package.json
Due: none

chore(eslint): Set ESLint environment to use Jest instead of Mocha (#190)
  .eslintrc
  package-lock.json
Due: jsonlint

chore: Set Jest env to node to avoid jsdom overhead (#189)
  package.json
Due: none

Link to referenced issue in README
  README.md
Due: yaspeller

docs: Add link to referenced issue in README (#193)
  README.md
Due: yaspeller

feat: Skip '--' argument for non-npm commands
  src/runScript.js
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
Due: eslint --fix

Fix indentation
  README.md
Due: yaspeller

docs: Fix indentation (#197)
  README.md
Due: yaspeller

fix: Skip '--' argument for non-npm commands (#196)
  src/runScript.js
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
Due: eslint --fix

feat: restrict to only necessary files for distribution
  package.json
Due: none

chore: Distribute only necessary files to npm (#198)
  package.json
Due: none

adding a test and an explanation of the functionality to the readme
  README.md
  package.json
  src/generateTasks.js
  test/generateTasks.spec.js
Due: eslint --fix, yaspeller

Path conditions:
  eslint --fix: any of: *.js
  yaspeller: any of: *.md
  jsonlint: any of: .*rc
