Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

docs: add changeset
  .changeset/strong-eggs-bake.md
Due: prettier --write

doc(README): fix typo
  README.md
Due: prettier --write

build(deps): update dependencies
  .changeset/thirty-knives-smile.md
  package-lock.json
  package.json
Due: prettier --write

build(deps): update dependencies (#1418)
  .changeset/thirty-knives-smile.md
  package-lock.json
  package.json
Due: prettier --write

docs: fix typo (#1417)
  README.md
Due: prettier --write

build(husky): fix release issue with Husky
  .changeset/chatty-ladybugs-vanish.md
  package.json
Due: prettier --write

Fix #1421 - log and rethrow errors from config validation
  lib/searchConfigs.js
Due: eslint --fix

Add changeset for PR #1422
  .changeset/beige-nails-agree.md
Due: prettier --write

fix: improve error logging when failing to parse config file
  .changeset/smart-pets-melt.md
  lib/loadConfig.js
  lib/messages.js
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write

build(deps): upgrade micromatch@4.0.7
  .changeset/tender-frogs-do.md
  package-lock.json
  package.json
Due: prettier --write

build(deps): allow approximately equivalent versions of direct dependencies
  .changeset/lovely-balloons-doubt.md
  package-lock.json
  package.json
Due: prettier --write

fix: improve error logging when failing to parse config file (#1423)
  .changeset/smart-pets-melt.md
  lib/loadConfig.js
  lib/messages.js
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/loadConfig.spec.js
Due: eslint --fix, prettier --write

build(release): lower next version bump from minor to patch
  .changeset/tender-frogs-do.md
Due: prettier --write

chore: remove validation of deprecated advanced config options
  .changeset/pretty-bats-push.md
  README.md
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/validateConfig.spec.js
Due: eslint --fix, prettier --write

ci: add workflow for testing required Node.js semver range
  .changeset/light-eagles-confess.md
  .github/workflows/node-range.yml
  scripts/list-dependency-node-versions.js
  scripts/test-node-range.js
Due: eslint --fix, prettier --write

ci: test Node.js versions against current instead of latest dependency
  .changeset/chatty-boats-repeat.md
  scripts/test-node-range.js
Due: eslint --fix, prettier --write

fix: use native git command to get top-level directory for repo
  lib/resolveGitRepo.js
  test/unit/resolveGitRepo.spec.js
Due: eslint --fix

fix: use native git command to get .git directory
  .changeset/stale-ants-hope.md
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write

fix: drop option to support earlier Git versions
  .changeset/itchy-shrimps-shake.md
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write

docs: adjust changeset
  .changeset/itchy-shrimps-shake.md
Due: prettier --write

ci: combine workflows
  .github/workflows/node-range.yml
  .github/workflows/push.yml
Due: none

ci: use hardcoded cache-key outside matrix
  .github/workflows/push.yml
Due: none

ci: add MSYS2 test job
  .github/workflows/push.yml
Due: none

test: add unmocked integration test for resolveGitRepo
  .changeset/beige-socks-cover.md
  test/integration/execGit.test.js
  test/integration/resolveGitRepo.spec.js
Due: eslint --fix, prettier --write

test: add Cygwin job
  .github/workflows/push.yml
Due: none

ci: remove separate install job
  .github/workflows/install.yml
  .github/workflows/push.yml
Due: none

ci: update actions
  .github/workflows/push.yml
Due: none

ci: move CodeQL job to push workflow
  .github/workflows/codeql.yml
  .github/workflows/push.yml
Due: none

ci: organize Github Actions workflows, no need to run tests in master
  .github/workflows/default-branch-push.yml
  .github/workflows/pull-requests.yml
  .github/workflows/tag.yml
Due: none
