Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

3.2.2
  package.json
Due: none

chore: Added jsonlint for *.json files
  .lintstagedrc
Due: jsonlint

chore: Added cosmiconfig to greenkeeper ignore list
  package.json
Due: none

Revert back to cosmiconfig 1.x
  package.json
Due: none

fix: If `gitDir` is set pass it as `cwd` option to execa
  src/index.js
  src/runScript.js
  test/runScript.spec.js
Due: eslint --fix

fix: Run commands in the context of `gitDir` if it is set (#110)
  src/index.js
  src/runScript.js
  test/runScript.spec.js
Due: eslint --fix

build: Added semantic-release and removed version field from package.json
  package.json
Due: none

style: Added emojis to postinstall
  package.json
Due: none

chore: Removed npmpub from package.json
  package.json
Due: none

build: Enabled semantic-release
  .travis.yml
  package.json
Due: none

build: Enabled semantic release (#111)
  .travis.yml
  package.json
Due: none

fix: When rejecting, use new Error and error.message respectively.
  src/index.js
  src/runScript.js
Due: eslint --fix

fix: When rejecting, use new Error and error.message respectively. (#113)
  src/index.js
  src/runScript.js
Due: eslint --fix

fix(resolvePaths): return CWD-relative paths - closes #115
  src/resolvePaths.js
  test/resolvePaths.spec.js
Due: eslint --fix

chore(package): removing obsolete devDependency "tmp"
  package.json
Due: none

fix(resolvePaths): Use cwd-relative paths instead of absolute paths (#116)
  package.json
  src/resolvePaths.js
  test/resolvePaths.spec.js
Due: eslint --fix

Return files relative to git directory
  src/resolvePaths.js
Due: eslint --fix

fix(index): consider paths relative to git root - #118, #120
  README.md
  src/generateTasks.js
  src/index.js
  src/resolvePaths.js
  test/generateTasks.spec.js
  test/resolvePaths.spec.js
Due: eslint --fix, yaspeller

fix: Generate absolute paths for all paths relative to git root (#121)
  README.md
  src/generateTasks.js
  src/index.js
  src/resolvePaths.js
  test/generateTasks.spec.js
  test/resolvePaths.spec.js
Due: eslint --fix, yaspeller

Bug fix for issue #114
  src/runScript.js
Due: eslint --fix

fix(windows): Do not reuse execa options object for runners since it breaks on Windows (#124)
  src/runScript.js
Due: eslint --fix

style: Throw the passed error object instead of a custom one in runScript
  src/runScript.js
  test/runScript.spec.js
Due: eslint --fix

style: Better test name
  test/findBin.spec.js
Due: eslint --fix

docs: Removed CHANGELOG since we're using semantic-release
  CHANGELOG.md
Due: yaspeller

fix(concurrent): Fix `concurrent: false` could not be set using config
  src/index.js
Due: eslint --fix

feat(verbose): Add verbose option
  src/findBin.js
  src/index.js
  src/runScript.js
  test/findBin.spec.js
  test/runScript.spec.js
Due: eslint --fix

test: Added test for simple and advanced config object
  test/generateTasks.spec.js
Due: eslint --fix

fix(gitDir): Run `npm run` scripts in the current working directory instead of git directory.
  src/runScript.js
  test/runScript.spec.js
Due: eslint --fix

docs(verbose): Add documentation about `verbose` mode
  README.md
Due: yaspeller

feat(trackChanged): Add initial op-modes switching and git diff tree handler
  src/changedGitFiles.js
  src/index.js
Due: eslint --fix

Fix quotes in JSON
  README.md
Due: yaspeller

docs: Better quotes in JSON (#129)
  README.md
Due: yaspeller

fix(concurrent): Wait for all tasks to finish before showing errors
  src/index.js
Due: eslint --fix

style: Less verbose errors output
  src/runScript.js
Due: eslint --fix

Added a link to a blog post
  README.md
Due: yaspeller

Path conditions:
  eslint --fix: any of: *.js
  yaspeller: any of: *.md
  jsonlint: any of: .*rc
