Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

docs: update correct Node.js version requirements in MIGRATION.md
  .changeset/eleven-bushes-dress.md
  MIGRATION.md
Due: prettier --write

fix: do not attempt to unlink untracked directories
  lib/gitWorkflow.js
  test/integration/untracked-files.test.js
Due: eslint --fix

fix: using `--no-stash` flag doesn't add unstaged changes to partially staged files
  .changeset/wise-weeks-check.md
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  test/e2e/no-stash.test.js
  test/integration/no-stash.test.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

fix: warn about potential data loss when using "--no-stash"
  .changeset/empty-hoops-shake.md
  lib/messages.js
  test/e2e/no-stash.test.js
  test/integration/no-initial-commit.test.js
  test/integration/no-stash.test.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  .changeset/clever-mammals-fix.md
  .changeset/empty-hoops-shake.md
  package-lock.json
  package.json
Due: prettier --write

fix: remove resurrected deleted files after initial stash setup
  lib/gitWorkflow.js
Due: eslint --fix

fix: function tasks receive only staged files matching glob
  .changeset/hip-months-like.md
  lib/runAll.js
Due: eslint --fix, prettier --write

fix: revert cli changes and file unlinking to match main branch
  bin/lint-staged.js
  lib/gitWorkflow.js
Due: eslint --fix

chore: fix typos
  README.md
  jest.config.js
  lib/chunkFiles.js
  test/integration/allow-empty.test.js
  test/unit/state.spec.js
Due: eslint --fix, prettier --write

chore: update jest from v29 to v30
  package-lock.json
  package.json
  test/integration/no-initial-commit.test.js
Due: eslint --fix, prettier --write

refactor: remove extra arguments in runAll
  lib/runAll.js
Due: eslint --fix

refactor: create error with cause
  lib/runAll.js
Due: eslint --fix

refactor: replace deprecated substr with slice
  lib/gitWorkflow.js
Due: eslint --fix

refactor: carry staged files' git status internally
  .changeset/modern-cats-wait.md
  lib/chunkFiles.js
  lib/generateTasks.js
  lib/getFunctionTask.js
  lib/getSpawnedTask.js
  lib/getSpawnedTasks.js
  lib/getStagedFiles.js
  lib/gitWorkflow.js
  lib/groupFilesByConfig.js
  lib/runAll.js
  test/unit/chunkFiles.spec.js
  test/unit/generateTasks.spec.js
  test/unit/getFunctionTask.spec.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTasks.spec.js
  test/unit/getStagedFiles.spec.js
  test/unit/index.spec.js
  test/unit/index2.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

build(deps): update devDependencies
  .changeset/lucky-bobcats-dream.md
  package-lock.json
  package.json
  test/integration/no-initial-commit.test.js
Due: eslint --fix, prettier --write

fix: print path to unstaged file patch on error when using --no-stash
  lib/gitWorkflow.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/state.js
  test/e2e/no-stash.test.js
  test/integration/no-stash.test.js
Due: eslint --fix

test: add failing test for staged deleted files with diff filter D
  test/integration/diff-options.test.js
Due: eslint --fix

test: add failing test for staged deleted files not passed directly to tasks with diff filter D
  test/integration/diff-options.test.js
Due: eslint --fix

test: pass --no-error-on-unmatched-pattern to prettier command in --diff-options D test
  test/integration/diff-options.test.js
Due: eslint --fix

fix: only stage changes to deleted files if they're no longer deleted after running tasks
  .changeset/khaki-laws-relate.md
  lib/gitWorkflow.js
  test/integration/diff-options.test.js
Due: eslint --fix, prettier --write

perf(config): optimize config discovery with pathspecs
  .changeset/upset-pots-create.md
  lib/searchConfigs.js
Due: eslint --fix, prettier --write

chore: remove commented unlink call
  lib/gitWorkflow.js
Due: eslint --fix

fix: restore unlink call but include rename processing
  lib/gitWorkflow.js
Due: eslint --fix

docs: fix typo in CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

fix: optimize file list length calculation
  lib/chunkFiles.js
Due: eslint --fix

chore: add changeset
  .changeset/real-clowns-smile.md
Due: prettier --write

perf: optimize file list length calculation (#1581)
  .changeset/real-clowns-smile.md
  lib/chunkFiles.js
Due: eslint --fix, prettier --write
