Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

refactor: extract `matchFiles` and add unit tests
  lib/generateTasks.js
  lib/matchFiles.js
  test/unit/matchFiles.spec.js
Due: eslint --fix

refactor: replace micromatch with picomatch
  .changeset/few-meteors-report.md
  lib/generateTasks.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs: update readme to use picomatch
  README.md
Due: prettier --write

feat: mark dependency `yaml` as optional
  .changeset/silver-otters-ask.md
  package-lock.json
  package.json
Due: prettier --write

build(deps): update `listr2@10.1.1`
  .changeset/loud-cobras-warn.md
  .github/workflows/pull-requests.yml
  package-lock.json
  package.json
Due: prettier --write

ci: update CI test matrix Node.js versions
  .github/workflows/pull-requests.yml
Due: none

feat: use Node.js builtin `util.styleText` for colors
  .changeset/loud-cobras-warn.md
  lib/colors.js
  scripts/test-node-range.js
  test/unit/colors.spec.js
Due: eslint --fix, prettier --write

docs: update CONTRIBUTING.md
  .changeset/chilly-symbols-rhyme.md
  AGENTS.md
  CONTRIBUTING.md
Due: prettier --write

feat: use Node.js builtin `util.styleText` for colors
  .changeset/loud-cobras-warn.md
  lib/colors.js
  lib/debug.js
  lib/getSpawnedTask.js
  lib/runAll.js
  scripts/test-node-range.js
  test/unit/colors.spec.js
Due: eslint --fix, prettier --write

docs: update MIGRATION.md
  .changeset/loud-cobras-warn.md
  MIGRATION.md
Due: prettier --write

build(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: replace commander.js with Node.js builtins
  .changeset/many-cities-yawn.md
  bin/lint-staged.js
  lib/cli.js
  lib/messages.js
  package-lock.json
  package.json
  test/unit/cli.spec.js
Due: eslint --fix, prettier --write

ci: change Cygwin setup site
  .github/workflows/pull-requests.yml
Due: none

feat: enforce minimum Git version >=2.27.0
  lib/index.js
  lib/messages.js
Due: eslint --fix

docs: add changeset
  .changeset/seven-baboons-brake.md
Due: prettier --write

refactor: extract `assertGitVersion` to separate file
  lib/assertGitVersion.js
  lib/index.js
  lib/messages.js
  test/unit/assertGitVersion.spec.js
  test/unit/index2.spec.js
  test/unit/index3.spec.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
