Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

fix: node-13 deps issue with listr2 and uuid
  package.json
  yarn.lock
Due: prettier --write

fix: node-13 deps issue with listr2 and uuid (#868)
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  93bc942d9640e152a65c15d42c707c9b63420684
Due: none

fix: truncate command title to stdout width
  lib/makeCmdTasks.js
  lib/runAll.js
  package.json
  test/index.spec.js
  test/integration.test.js
  test/makeCmdTasks.spec.js
  test/utils/replaceSerializer.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

doc: add example for tsc with staged files only
  README.md
Due: prettier --write

fix: truncate command title to stdout width (#865)
  lib/makeCmdTasks.js
  lib/runAll.js
  package.json
  test/index.spec.js
  test/integration.test.js
  test/makeCmdTasks.spec.js
  test/utils/replaceSerializer.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  b8e1a4a9683639d961f948283dec0e6dec556493
Due: none

fix: remove nanoid devDependency to remove ExperimentalWarning
  package.json
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/utils/tempDir.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: remove nanoid devDependency to remove ExperimentalWarning (#874)
  package.json
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/utils/tempDir.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  979da5d0d2fed4ef4a1748eaf10bb150005c99c4
Due: none

fix: use machine output to avoid escaped and quoted filenames
  lib/gitWorkflow.js
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add test for hiding unstaged changes in renamed file
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  21a2b411d43158d231b435ae476e379f07e550e1
Due: none

fix: specify more precise Node.js versions, also when using the Node.js API
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/nodeVersion.js
  package.json
  test/nodeVersion.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: test with Node.js v13
  .appveyor.yml
  .github/workflows/main.yml
Due: none

fix: update listr2@2.0.4
  package.json
  yarn.lock
Due: prettier --write

test: add test for lint-staged failing with wrong Node.js version
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: canceling lint-staged via SIGINT restores state and cleans up
  lib/runAll.js
  test/index2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: canceling lint-staged via SIGINT restores state and cleans up (#881)
  lib/runAll.js
  test/index2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  b078324d5e911ec5e667736b2c552af32f475751
Due: none

Add enquirer peer dependency
  package.json
Due: prettier --write

bump listr to 2.1.0
  package.json
  yarn.lock
Due: prettier --write

fix: update listr@2.1.0 and add enquirer peer dependency (#883)
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  0daae611b0637ebc6b9fac8672b842444bee3a38
Due: none

fix: Git directory is not correctly resolved if GIT_WORK_TREE is set to relative path
  lib/resolveGitRepo.js
  test/resolveGitRepo.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: Git directory is not correctly resolved if GIT_WORK_TREE is set to relative path (#887)
  lib/resolveGitRepo.js
  test/resolveGitRepo.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  a1904ec6a96b04cd93eeb622b04cf328a10083df
Due: none

fix: run all git commands with submodule.recurse=false
  lib/execGit.js
  test/execGit.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: run all git commands with submodule.recurse=false (#888)
  lib/execGit.js
  test/execGit.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  86c9ed2bde1245a702635b42a57b92b809340b0e
Due: none

docs: abstract vcs adapter interface for lint-staged workflow
  lib/adapter.d.ts
Due: none

test: mocked moved and implementation updated
  lib/__mocks__/gitWorkflow.js
  test/__mocks__/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: vcs adapter resolver
  lib/createVcsAdapter.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: implement vcs interface for git
  lib/gitWorkflow.js
  lib/state.js
  test/gitWorkflow.spec.js
  test/state.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: git errors processing was moved to adapter
  lib/index.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
  test/index2.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: use new adapter in lint-staged task runner
  lib/generateTasks.js
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
  lib/runAll.js
  test/generateTasks.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: added tests for adapter resolver
  test/createVcsAdapter.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: add git adapter [wip]
  lib/createVcsAdapter.js
  lib/gitAdapter.js
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  lib/symbols.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: ensure supportsColor.level exists before stringifying it
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Disambiguate stash reference
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base -- --fix: any of: *.js
