Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

docs: add note about git hook TTY to README
  README.md
Due: prettier --write

feat: expose cli entrance
  package.json
Due: prettier --write

feat: expose cli entrance from "lint-staged/bin" (#1237)
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ea/bf1d217d8bd2559b1087c92b5ec9b15b8ffa7e
Due: none

fix: update link to blog post
  README.md
Due: prettier --write

docs: Update link to a blog post (#1246)
  README.md
Due: prettier --write

fix: allow stash with diff
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: stash's default value is if diff is undefined
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Update README.md
  README.md
Due: prettier --write

Update runAll.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

docs: blog.johnnyreilly.com -> johnnyreilly.com
  README.md
Due: prettier --write

docs: blog.johnnyreilly.com -> johnnyreilly.com (#1255)
  README.md
Due: prettier --write

Add example to integrate with Next.js
  README.md
Due: prettier --write

docs: add example to integrate with Next.js (#1256)
  README.md
Due: prettier --write

Update lib/runAll.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

docs: update README.md
  README.md
Due: prettier --write

fix: allow re-enabling `--stash` when using the `--diff` option
  README.md
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  99/390c31a856154e380f04d5c3603d2e6428f1e5
Due: none

docs: Fix broken links in readme
  README.md
Due: prettier --write

docs: fix broken links in readme (#1258)
  README.md
Due: prettier --write

fix: fix stash still true when diff is not undefined
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: disable stash by default when using diff option (#1259)
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  14/2c6f225087207ec4c63b7847795857d567ce40
Due: none

docs: Clean up readme.me (#1263)
  README.md
Due: prettier --write

fix(deps): update all dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: restore "supports-color" to improve terminal color detection
  bin/lint-staged.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  da/6da00654248c34e4f7ce94f61d68ee46f177a1
Due: none

fix: replace `colorette` with `chalk` for better color support detection
  lib/figures.js
  lib/messages.js
  lib/resolveTaskFn.js
  lib/runAll.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  c0/1d9524f6bcec8180e6f870f0c86ae3f77ab76a
Due: none

chore(dependencies): update all dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(dependencies): replace `colorette` with `chalk` for better color support detection
  bin/lint-staged.js
  lib/figures.js
  lib/messages.js
  lib/resolveTaskFn.js
  lib/runAll.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  0d/843ce83060235635f1d1824c4bb744708b69ef
Due: none

Use index-based stash references
  lib/gitWorkflow.js
  test/unit/getBackupStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Make test runs robust against a non-"master" defaultBranch
  test/integration/__utils__/withGitIntegration.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base -- --fix: any of: *.js
