Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix

test: add test for resolveGitDir behaviour outside a git directory
  src/resolveGitDir.js
  test/resolveGitDir.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: Fix tests on Windows (#604)
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Updated resolver to ignore currently set GIT_DIR
  src/resolveGitDir.js
  test/resolveGitDir.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

overriding env variable to find git dir
  src/resolveGitDir.js
  test/resolveGitDir.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Override env GIT_DIR variable to resolve to the correct git dir path (#629)
  src/resolveGitDir.js
  test/resolveGitDir.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: Create Funding.yml
  .github/FUNDING.yml
Due: none

docs: Fix open collective link in funding.md
  .github/FUNDING.yml
Due: none

build: Add windows to Travis CI build matrix
  .travis.yml
Due: none

HTTPS link to editorconfig.org
  .editorconfig
Due: none

refactor: hasPartiallyStagedFiles uses internal execGit
  package.json
  src/gitWorkflow.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: Use https link to editorconfig.org (#631)
  .editorconfig
Due: none

refactor: use internal execGit in the hasPartiallyStagedFiles function (#632)
  package.json
  src/gitWorkflow.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: use native git stash/pop
  package.json
  src/gitWorkflow.js
  src/runAll.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: use internal execGit to list staged files
  .lintstagedrc.json
  package.json
  src/getStagedFiles.js
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/getStagedFiles.spec.js
  test/gitStash.spec.js
  test/runAll.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: always stash files in case of errors
  src/gitWorkflow.js
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: update some tests for new behaviour
  test/__snapshots__/runAll.spec.js.snap
  test/gitStash.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: use save instead of push for backwards comp
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add coverage % to Jest cli output
  package.json
Due: prettier --write

test: clear staged files after units
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add test for failing linter command
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: rework gitWorkflow test
  test/execGit.spec.js
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: Use internal execGit to list staged files (#624)
  .lintstagedrc.json
  package.json
  src/getStagedFiles.js
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/getStagedFiles.spec.js
  test/gitStash.spec.js
  test/runAll.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: add 'silent' listr renderer to possible options for 'renderer'.
  src/getConfig.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add tests for possible 'renderer' values.
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix(package): remove listr-update-renderer from deps.
  package.json
Due: prettier --write

perf: always execute git commands in process.cwd()
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: update dependencies
  package.json
  src/findBin.js
  src/resolveTaskFn.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: update tests for function linters
  test/__mocks__/advanced-config.js
  test/__snapshots__/index.spec.js.snap
  test/getConfig.spec.js
  test/index.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: support functions as linter commands
  src/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: upgrade del
  package.json
  yarn.lock
Due: prettier --write

refactor: remove unused configuration options
  README.md
  src/getConfig.js
  src/makeCmdTasks.js
  src/resolveTaskFn.js
  src/runAll.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/getConfig.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.2.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add test for linter command exiting with code 1
  test/findBin.spec.js
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: support function linter returning array of commands
  src/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: support function linters in getConfig
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: print a warning when arguments length is too long based on platform
  src/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: remove support for chunking
  package.json
  src/calcChunkSize.js
  src/resolveTaskFn.js
  test/calcChunkSize.spec.js
  test/resolveTaskFn-chunked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: update README
  README.md
Due: prettier --write

refactor: warn about long arguments string only once
  src/generateTasks.js
  src/resolveTaskFn.js
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: update contributors
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base --fix: any of: *.js
