Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

feat: remove `debug` as a dependency
  .changeset/dependabot-2838997856.md
  .changeset/smart-mugs-tap.md
  README.md
  bin/lint-staged.js
  lib/chunkFiles.js
  lib/debug.js
  lib/execGit.js
  lib/file.js
  lib/generateTasks.js
  lib/getFunctionTask.js
  lib/getSpawnedTask.js
  lib/getSpawnedTasks.js
  lib/gitWorkflow.js
  lib/groupFilesByConfig.js
  lib/index.js
  lib/loadConfig.js
  lib/resolveGitRepo.js
  lib/runAll.js
  lib/searchConfigs.js
  lib/validateConfig.js
  lib/validateOptions.js
  package-lock.json
  package.json
  test/unit/debug.spec.js
  test/unit/index.spec.js
Due: eslint --fix, prettier --write

feat: use Node.js builtin `util.styleText` for colors
  .changeset/plain-pens-scream.md
  .github/workflows/pull-requests.yml
  lib/colors.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/unit/colors.spec.js
Due: eslint --fix, prettier --write

feat: remove `lilconfig` as a dependency
  .changeset/upset-swans-slide.md
  lib/loadConfig.js
  lib/searchConfigs.js
  package-lock.json
  package.json
  test/unit/index.spec.js
  test/unit/loadConfig.spec.js
  test/unit/searchConfigs.spec.js
Due: eslint --fix, prettier --write

docs: removal of `debug` is "minor" instead of "patch" level change
  .changeset/smart-mugs-tap.md
Due: prettier --write

feat: flag `--fail-on-changes` implies `--no-revert`
  .changeset/fifty-tires-itch.md
  README.md
  bin/lint-staged.js
  lib/index.js
  test/integration/fail-on-changes.test.js
Due: eslint --fix, prettier --write

build(deps): return the caret semver range (`^`) to dependencies
  .changeset/wet-peaches-wait.md
  package-lock.json
  package.json
Due: prettier --write

ci: remove the npm secret from GitHub Actions
  .changeset/loose-sheep-tan.md
  .github/workflows/tag.yml
Due: prettier --write

ci: only checkout package.json and lockfile when installing npm dependencies
  .github/workflows/npm.yml
Due: none

refactor: improve logging when config not found in package.json
  lib/dynamicImport.js
  lib/loadConfig.js
  lib/searchConfigs.js
  test/unit/dynamicImport.spec.js
  test/unit/loadConfig.spec.js
Due: eslint --fix

fix: always search configuration from both Git and FS
  .changeset/warm-snails-hug.md
  lib/searchConfigs.js
  test/unit/searchConfigs.spec.js
Due: eslint --fix, prettier --write

docs: fix typo in CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

perf: use "git stash" to directly hide unstaged files
  .changeset/upset-moose-sip.md
  README.md
  bin/lint-staged.js
  lib/gitWorkflow.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/state.js
  test/integration/gitWorkFlow.test.js
  test/integration/hide-unstaged.test.js
  test/integration/partially-staged-changes.test.js
  test/unit/getBackupStash.spec.js
  test/unit/index3.spec.js
Due: eslint --fix, prettier --write

fix: remove use of "git restore" because it resets file contents instead of applying diff
  .changeset/upset-moose-sip.md
  lib/gitWorkflow.js
  test/integration/hide-unstaged.test.js
Due: eslint --fix, prettier --write

perf: load each config file only once
  lib/searchConfigs.js
Due: eslint --fix

fix: update built-in TypeScript types
  .changeset/light-dogs-glow.md
  lib/index.d.ts
  lib/index.js
  lib/runAll.js
  lint-staged.config.js
  test/types/index.test.ts
Due: eslint --fix, prettier --write

fix: use boolean type for `failOnChanges`
  lib/index.d.ts
Due: none

docs: add example to changelog
  .changeset/light-dogs-glow.md
Due: prettier --write

fix: do not drop backup stash when errors and `--fail-on-changes` was used
  lib/gitWorkflow.js
  lib/index.js
  lib/state.js
  lib/symbols.js
  test/integration/fail-on-changes.test.js
Due: eslint --fix

fix: restore unstaged changes on errors when `--fail-on-errors` or `--no-revert` is used
  lib/state.js
Due: eslint --fix

fix: print backup stash example when failing to `--fail-on-changes`
  lib/index.js
  test/integration/fail-on-changes.test.js
Due: eslint --fix

fix: backup stash example uses real hash if available
  .changeset/late-readers-brush.md
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  test/unit/index3.spec.js
Due: eslint --fix, prettier --write

docs: fix typo in changeset
  .changeset/late-readers-brush.md
Due: prettier --write

refactor: make general error messages more clear they originate from lint-staged
  lib/messages.js
  test/e2e/no-stash.test.js
  test/integration/diff-options.test.js
  test/integration/files-outside-cwd.test.js
  test/integration/symlinked-staged-files.test.js
  test/unit/index3.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
