Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

ci: add Node v23 to the CI PR test matrix (#1477)
  .changeset/young-bananas-clean.md
  .github/workflows/pull-requests.yml
Due: prettier --write

fix: escape paths with spaces when using "shell" option
  lib/resolveTaskFn.js
  test/unit/resolveTaskFn.spec.js
Due: eslint --fix

docs: extract function and link to execa's implementation
  .changeset/chilled-rules-drive.md
  lib/resolveTaskFn.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  .changeset/curly-insects-pump.md
  package-lock.json
  package.json
Due: prettier --write

test: assert committing changes to submodule works from the repo
  .changeset/fuzzy-papayas-repeat.md
  test/integration/git-submodules.test.js
Due: eslint --fix, prettier --write

fix: do not treat submodule root paths as staged files
  .changeset/sixty-readers-walk.md
  lib/getStagedFiles.js
  test/unit/getDiffCommand.spec.js
  test/unit/getStagedFiles.spec.js
Due: eslint --fix, prettier --write

feat: display "git stash list" message when restoring original state is skipped
  lib/index.js
  lib/state.js
  test/unit/index3.spec.js
Due: eslint --fix

docs: add a caution message about git stash
  README.md
Due: prettier --write

fix: add message about git stash to help text
  .changeset/smart-adults-approve.md
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  test/unit/index3.spec.js
Due: eslint --fix, prettier --write

feat: update first task message based on backup status
  .changeset/polite-plums-fly.md
  README.md
  lib/gitWorkflow.js
  lib/runAll.js
Due: eslint --fix, prettier --write

feat: add unique hash to backup stash message
  .changeset/soft-ties-poke.md
  README.md
  lib/gitWorkflow.js
  lib/state.js
  test/integration/git-lock-file.test.js
  test/unit/getBackupStash.spec.js
Due: eslint --fix, prettier --write

docs: combine changesets
  .changeset/polite-plums-fly.md
  .changeset/smart-adults-approve.md
  .changeset/soft-ties-poke.md
Due: prettier --write

feat: add more info to debug logs, remove "environment" requirement from issue template
  .changeset/eight-gorillas-obey.md
  .github/issue_template.md
  bin/lint-staged.js
  lib/index.js
  lib/version.js
  test/integration/diff-options.test.js
  test/integration/no-initial-commit.test.js
  test/unit/index.spec.js
  test/unit/loadConfig.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

feat: always save debug log file and display path on errors
  .changeset/popular-points-boil.md
  bin/lint-staged.js
  lib/debug.js
  lib/index.js
  test/unit/debug.spec.js
  test/unit/index.spec.js
  test/unit/index2.spec.js
  test/unit/index3.spec.js
Due: eslint --fix, prettier --write

build(dependencies): update dependencies
  .changeset/mighty-wolves-tell.md
  package-lock.json
  package.json
Due: prettier --write

chore: remove validation of deprecated advanced config options
  .changeset/pretty-bats-push.md
  README.md
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/validateConfig.spec.js
Due: eslint --fix, prettier --write

build(execa): upgrade execa@9.5.2, require Node.js ^18.19.0 || >=20.5.0
  .changeset/rare-fishes-call.md
  README.md
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  test/unit/__utils__/mockExecaReturnValue.js
  test/unit/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write

fix: handle possible failures when logging user shell for debug info
  .changeset/tidy-planets-pretend.md
  bin/lint-staged.js
Due: eslint --fix, prettier --write

fix: handle possible failures when logging user shell for debug info (#1501)
  .changeset/tidy-planets-pretend.md
  bin/lint-staged.js
Due: eslint --fix, prettier --write

feat: add TypeScript types for configuration
  .changeset/brown-pumpkins-matter.md
  .github/workflows/pull-requests.yml
  .lintstagedrc.json
  README.md
  lib/types.d.ts
  lint-staged.config.js
  package-lock.json
  package.json
  test/unit/types.ts
Due: eslint --fix, prettier --write

feat: add TypeScript types for the main lint-staged Node.js API
  .changeset/brown-pumpkins-matter.md
  lib/types.d.ts
Due: prettier --write

feat: enable loading configuration from TS files (if Node.js supports importing them)
  .changeset/brown-pumpkins-matter.md
  lib/configFiles.js
  lib/loadConfig.js
Due: eslint --fix, prettier --write

docs: sync changelog and README regarding TypeScript
  .changeset/brown-pumpkins-matter.md
  README.md
Due: prettier --write

docs: adjust README regarding TypeScript
  .changeset/brown-pumpkins-matter.md
  README.md
Due: prettier --write

fix: add missing conditional export for TypeScript types
  .changeset/soft-zoos-accept.md
  package.json
Due: prettier --write

fix: default TypeScript config filenames match JS equivalents
  .changeset/rare-pans-pretend.md
  lib/configFiles.js
Due: eslint --fix, prettier --write

docs: generalize description from 'linting' to 'tasks'
  .changeset/tiny-pots-care.md
  README.md
  lib/index.js
  lib/types.d.ts
  test/e2e/special-characters.test.js
  test/unit/generateTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

docs: generalize description from 'linting' to 'tasks' (#1507)
  .changeset/tiny-pots-care.md
  README.md
  lib/index.js
  lib/types.d.ts
  test/e2e/special-characters.test.js
  test/unit/generateTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

build(dependencies): update dependencies and switch to caret ranges
  .changeset/three-dolls-prove.md
  bin/lint-staged.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

build(dependencies): update dependencies and switch to caret ranges (#1509)
  .changeset/three-dolls-prove.md
  bin/lint-staged.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: update types.d.ts
  .changeset/tall-trains-stare.md
  lib/types.d.ts
  test/unit/types.ts
Due: prettier --write

fix: update types.d.ts (#1512)
  .changeset/tall-trains-stare.md
  lib/types.d.ts
  test/unit/types.ts
Due: prettier --write

ci: remove code coverage action since it's not working in PRs from forks
  .github/workflows/pull-requests.yml
Due: none

test: fail Jest when coverage is under 100%
  .changeset/sweet-bottles-teach.md
  jest.config.js
Due: eslint --fix, prettier --write

docs: adjust readme regarding monorepo setup
  .changeset/tricky-bottles-deny.md
  README.md
Due: prettier --write

refactor: move TypeScript types to "index.d.ts" file
  .changeset/tasty-pigs-appear.md
  lib/index.d.ts
  package.json
  test/types/index.ts
Due: prettier --write
