Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

fix: search all configs regardless of staged files
  lib/getConfigGroups.js
  lib/loadConfig.js
  lib/runAll.js
  lib/searchConfigs.js
  test/getConfigGroups.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: extract `parseGitZOutput` util
  lib/getStagedFiles.js
  lib/parseGitZOutput.js
  lib/searchConfigs.js
  test/parseGitZOutput.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  fa/15d686deb90b7ffddfbcf644d56ed05fcd8a38
Due: none

docs: add note about `ng lint` to README.md
  README.md
Due: prettier --write

fix: kill other running tasks on failure
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  test/__mocks__/execa.js
  test/resolveTaskFn.spec.js
  test/resolveTaskFn.unmocked.spec.js
  test/runAll.spec.js
  test/utils/createExecaReturnValue.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

minor improvement to the test
  test/resolveTaskFn.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

extract interrupt function, improve naming
  lib/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: don't use touch on windows
  test/integration.test.js
  test/utils/crossPlatform.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Add pidtree mock and another unit test
  test/__mocks__/pidtree.js
  test/resolveTaskFn.spec.js
  test/utils/createExecaReturnValue.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: force update rendering for forced colors and further ensure quiet rendering when requested
  lib/getRenderer.js
  lib/runAll.js
  test/getRenderer.spec.js
  test/index2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: kill other running tasks on failure (#1117)
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  test/__mocks__/execa.js
  test/__mocks__/pidtree.js
  test/resolveTaskFn.spec.js
  test/resolveTaskFn.unmocked.spec.js
  test/runAll.spec.js
  test/utils/createExecaReturnValue.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  34/fe31986201983c33ea2bde41f4b451947b826b
Due: none

style: update renderer getter function ordering
  lib/getRenderer.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: improve renderer logic for `--silent` and `FORCE_COLOR` settings
  lib/getRenderer.js
  lib/runAll.js
  test/getRenderer.spec.js
  test/index2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  d3/27873b1c0b6fbdeb6fd276e523043d51d6de37
Due: none

fix: searchConfig includes config from outside git directory
  lib/execGit.js
  lib/searchConfigs.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: expose `--max-arg-length` cli option
  README.md
  bin/lint-staged.js
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: handle empty input by returning empty array from `parseGitZOutput`
  lib/parseGitZOutput.js
  test/parseGitZOutput.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update execa@6.1.0
  lib/execGit.js
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  test/__mocks__/execa.js
  test/execGit.spec.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
  test/utils/createExecaReturnValue.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: clear execution interruption interval on first catch
  lib/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: avoid passing unexpected arguments from forEach to process.kill()
  lib/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  1b/1f0e4f529dbcb5f73ab7d49c5f7908c3b8a866
Due: none

test: add test for kill child processes on error
  lib/resolveTaskFn.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: do not collect coverage when directly running jest
  jest.config.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: limit configuration discovery to cwd
  lib/getConfigGroups.js
  lib/groupFilesByConfig.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/searchConfigs.js
  test/getConfigGroups.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/runAll.spec.js
  test/searchConfigs.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: restore functionality of parent globs for a single configuration file
  lib/generateTasks.js
  lib/groupFilesByConfig.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: specify merge conflict style for snapshots
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: expose `--max-arg-length` cli option
  bin/lint-staged.js
  lib/index.js
  test/index3.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix
