Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

Bail on fatal errors
  src/index.js
Due: eslint --fix

fix: Bail on fatal errors (#208)
  src/index.js
Due: eslint --fix

Remove unportable postinstall.
  package.json
Due: none

fix: Remove unportable postinstall step (#213)
  package.json
Due: none

add capability to avoid appending pre-committed file list with #
  README.md
  src/runScript.js
  test/runScript.spec.js
Due: eslint --fix, yaspeller

UPD : adding complex commands
  README.md
  package-lock.json
  src/findBin.js
  src/runScript.js
  test/runScript.spec.js
Due: eslint --fix, yaspeller

ADD: templating in the command
  README.md
  src/findBin.js
  src/runScript.js
  test/runScript.spec.js
Due: eslint --fix, yaspeller

ADD: templating in the command
  README.md
Due: yaspeller

UPD: make sure coverage is 100%
  test/runScript.spec.js
Due: eslint --fix

build: disallow lockfiles
  .gitignore
  .npmrc
  package-lock.json
Due: jsonlint

refactor(git): remove `package-lock.json`
  package-lock.json
Due: none

chore(precommit): integrate `remove-lockfiles`
  package.json
Due: none

Update README.md
  README.md
Due: yaspeller

chore: Disallow lockfiles (#224)
  package-lock.json
  package.json
Due: none

fix: Disable concurrent sub task execution by default
  README.md
  src/runScript.js
Due: eslint --fix, yaspeller

fix: Disable concurrent sub task execution by default (#229)
  README.md
  src/runScript.js
Due: eslint --fix, yaspeller

chore: move `semantic-release` to Travis
  .travis.yml
  package.json
Due: none

ci: test on node v8
  .travis.yml
Due: none

chore: Move `semantic-release` to Travis (#230)
  .travis.yml
  package.json
Due: none

chore(eslint): list `coverage` dir in `.eslintignore`
  .eslintignore
Due: none

chore(eslint): fix inconcistencies
  .eslintrc
Due: jsonlint

chore(eslint): rename `.eslintrc` to be `.eslintrc.json`
  .eslintrc.json
Due: none

style: run `lint:fix` script
  src/findBin.js
  src/generateTasks.js
  src/index.js
  src/readConfigOption.js
  src/runScript.js
  test/__mocks__/npm-which.js
  test/findBin.spec.js
  test/generateTasks.spec.js
  test/readConfigOption.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
  wallaby.js
Due: eslint --fix

chore: run `lint` script before `test`
  package.json
Due: none

Revert "chore(eslint): fix inconcistencies"
  .eslintrc.json
Due: none

chore(eslint): remove `indent` rule
  .eslintrc.json
Due: none

style: run `lint:fix` script
  src/calcChunkSize.js
  src/findBin.js
  src/generateTasks.js
  src/index.js
  src/readConfigOption.js
  src/runScript.js
  test/__mocks__/npm-which.js
  test/calcChunkSize.spec.js
  test/findBin.spec.js
  test/generateTasks.spec.js
  test/readConfigOption.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
  wallaby.js
Due: eslint --fix

chore(editorconfig): update `indent_size`
  .editorconfig
Due: none

ci: run installation with npm v3 and above
  .travis.yml
Due: none

chore: install `prettier`
  package.json
Due: none

style: Add prettier, fix eslint configuration and prettify all files (#231)
  .editorconfig
  .eslintignore
  .eslintrc.json
  .travis.yml
  package.json
  src/calcChunkSize.js
  src/findBin.js
  src/generateTasks.js
  src/index.js
  src/readConfigOption.js
  src/runScript.js
  test/__mocks__/npm-which.js
  test/calcChunkSize.spec.js
  test/findBin.spec.js
  test/generateTasks.spec.js
  test/readConfigOption.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
  wallaby.js
Due: eslint --fix

chore(package): update remove-lockfiles to version 1.1.1 (#236)
  package.json
Due: none

ci: don't cache `node_modules`
  .travis.yml
Due: none

ci: no need to run `npm prune`
  .travis.yml
Due: none

ci: Don't cache `node_modules` (#238)
  .travis.yml
Due: none

test: Use forEach instead of forbidden for loop
  test/generateTasks.spec.js
Due: eslint --fix

chore: Upgrade to latest eslint
  package.json
Due: none

chore(package): update eslint-config-okonet to version 5.0.1 (#237)
  package.json
  test/generateTasks.spec.js
Due: eslint --fix

chore: remove unnecessary babel packages
  .babelrc
  package.json
Due: jsonlint

chore: upgrade `babel-preset-env`
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  yaspeller: any of: *.md
  jsonlint: any of: .*rc
