Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

Delete .github/workflows directory
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
Due: none

Delete .github directory
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/issue_template.md
Due: prettier --write

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update package.json
  package.json
Due: prettier --write

Add .circleci/config.yml
  .circleci/config.yml
Due: none

fix: make console task titles more explicit
  README.md
  lib/runAll.js
  test/integration.test.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: replace "for...of" with "await Promise.all()"
  lib/getConfigGroups.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: replace "for...of" with "await Promise.all()"
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: support multiple configuration files
  README.md
  lib/dynamicImport.js
  lib/generateTasks.js
  lib/getConfigGroups.js
  lib/getStagedFiles.js
  lib/index.js
  lib/loadConfig.js
  lib/runAll.js
  lib/validateConfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/dynamicImport.spec.js
  test/generateTasks.spec.js
  test/getConfigGroups.spec.js
  test/getStagedFiles.spec.js
  test/index.spec.js
  test/integration.test.js
  test/loadConfig.spec.js
  test/runAll.spec.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  26/04ac7dbca20194b6b8a417335166ccf311a769
Due: none

fix: only throw if no configurations were found
  lib/getConfigGroups.js
  test/getConfigGroups.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  36/b9546dda5ca24174b519ce6d132f31077b093b
Due: none

test: add retry to integration tests
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add debug logging to `getConfigGroups`
  lib/getConfigGroups.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: always search config from `cwd` first
  lib/getConfigGroups.js
  lib/runAll.js
  test/getConfigGroups.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  55/4210030dc0b5447da5565ad5f2f03ceb389a4a
Due: none

feat: add `--cwd` option for overriding task directory
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/runAll.js
  lib/validateOptions.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

docs: fix README option list
  README.md
Due: prettier --write

Notes added by 'git notes add'
  62/b5b833950774e731b0ca034aa9289ec254a602
Due: none

Notes added by 'git notes add'
  02/6aae0d3e3e7644ed55cdf2dd6c17c9d4c50da8
Due: none

fix: use config directory as cwd, when multiple configs present
  lib/runAll.js
  test/integration.test.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: handles symlink .git paths
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Update lib/resolveGitRepo.js
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: handle symlinked .git directories
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  3a/897ff1515bde9fc88769257f38cb2646d624fc
Due: none

fix: use config directory as cwd, when multiple configs present (#1091)
  lib/runAll.js
  test/integration.test.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  9a/14e92e37abf658fc3a0d5504ff4e980e49996c
Due: none

fix: exec fail when monorepo has a large of changes
  lib/execGit.js
  lib/file.js
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: react-native/metro bundler ignored warning of subpath package.json
  package.json
Due: prettier --write

fix: add `package.json` to exports (#1059)
  package.json
Due: prettier --write

Notes added by 'git notes add'
  33/9515010ccd95a2f952dbe65f8366463f94d26a
Due: none
