Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        "*.md": "yaspeller",
        ".*rc": "jsonlint"
    }
}

chore(babel): target node v4
  .babelrc
Due: jsonlint

chore: install `commitizen`
  package.json
  yarn.lock
Due: none

chore: add `commit` script
  package.json
Due: none

chore: Remove unnecessary `babel` packages (#234)
  .babelrc
  package.json
Due: jsonlint

chore: Remove `jsonlint-cli`
  package.json
Due: none

chore: Remove `jsonlint-cli` (#241)
  package.json
Due: none

Reformat code
  src/resolveGitDir.js
  src/runAll.js
  test/getConfig.spec.js
  test/resolveGitDir.spec.js
  test/runAll.spec.js
Due: eslint --fix

Fix merge mistake
  test/generateTasks.spec.js
Due: eslint --fix

Update snapshot
  test/__snapshots__/getConfig.spec.js.snap
Due: none

Fix and skip some tests
  test/generateTasks.spec.js
  test/runAll.spec.js
  test/runScript-mock-findBin.spec.js
Due: eslint --fix

tests: Fixed weird tests bug when config.gitRoot was affecting other tests
  test/generateTasks.spec.js
Due: eslint --fix

Removed .only from test suite
  test/runScript-mock-findBin.spec.js
Due: eslint --fix

fixup! Removed .only from test suite
  test/__snapshots__/getConfig.spec.js.snap
  test/generateTasks.spec.js
Due: eslint --fix

Deeply merge config
  src/generateTasks.js
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

Add chunkSize and subTaskConcurrency properties to default config and fix some bugs in tests
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

Remove readConfigOption and use getConfig instead
  src/readConfigOption.js
  src/runAll.js
  src/runScript.js
  test/readConfigOption.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix

Use stringify-object when printing config in verbos mode.
  package.json
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix

chore: Add eslint-node-plugin with the recommended configuration
  package.json
  src/.eslintrc.json
Due: none

chore: Disable no-process-exit ESLint rule
  src/index.js
Due: eslint --fix

style: Remove global process since it's inferred from eslint config
  src/index.js
Due: eslint --fix

chore: Add eslint-node-plugin with the recommended configuration (#243)
  package.json
  src/.eslintrc.json
  src/index.js
Due: eslint --fix

chore: Add missing jest-cli dev dependency
  package.json
Due: none

fix: Make code Node 4.x compatible
  src/generateTasks.js
  src/getConfig.js
  src/runAll.js
  src/runScript.js
Due: eslint --fix

Revert "chore: Add missing jest-cli dev dependency"
  package.json
Due: none

chore(log): Add printErrors function + tests
  package.json
  src/printErrors.js
  test/__snapshots__/printErrors.spec.js.snap
  test/printErrors.spec.js
Due: eslint --fix

refactor: Move error logging code from runAll to index.js and use promise resolution
  src/index.js
  src/runAll.js
Due: eslint --fix

style: Fix typo
  src/getConfig.js
Due: eslint --fix

chore: Remove lodash.chunk dependency
  package.json
  src/runScript.js
Due: eslint --fix

Revert "Revert "chore: Add missing jest-cli dev dependency""
  package.json
Due: none

ci: set-up `appveyor`
  appveyor.yml
Due: none

fix: Do not populate simple config keys and values into full config
  src/getConfig.js
  test/getConfig.spec.js
Due: eslint --fix

chore: add `appveyor` badge
  README.md
Due: yaspeller

tests: Remove dependency on expect and is-promise and use Jest
  package.json
  test/findBin.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix

tests: Move config loggin to the root index function and add more tests for runAll
  index.js
  src/index.js
  src/runAll.js
  test/__snapshots__/index.spec.js.snap
  test/__snapshots__/runAll.spec.js.snap
  test/index.spec.js
  test/runAll.spec.js
Due: eslint --fix

tests: Simplify and remove unused tests
  test/getConfig.spec.js
  test/index.spec.js
  test/runScript-mock-findBin.spec.js
Due: eslint --fix

feat: Implement config validation
  package.json
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

style: Pass full config to runAll and validate it before running
  src/index.js
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix

chore: Upgrade Jest
  package.json
Due: none

tests: Set process.stdout.TTY to false to fix tests on CI
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
  test/index.spec.js
  test/printErrors.spec.js
Due: eslint --fix
