Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

perf: go back to using `git add` when staging changes from tasks
  .changeset/bumpy-nights-clap.md
  lib/gitWorkflow.js
  lib/runAll.js
  test/integration/gitWorkFlow.test.js
  test/integration/partially-staged-changes.test.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

test: disable test matrix "fail fast"
  .github/workflows/pull-requests.yml
Due: none

test: add Deno tests
  .changeset/brown-grapes-search.md
  .github/workflows/pull-requests.yml
Due: prettier --write

ci: use node_modules cache in Deno tests
  .github/workflows/pull-requests.yml
Due: none

docs: update issue template
  .github/issue_template.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  lint-staged.config.js
Due: eslint --fix, prettier --write

build(deps): update dependencies, including `tinyexec@^1.2.3`
  .changeset/huge-results-tease.md
  package-lock.json
  package.json
Due: prettier --write

refactor: simplify `tinyexec` options
  lib/execGit.js
  lib/getSpawnedTask.js
  test/unit/execGit.spec.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTasks.spec.js
Due: eslint --fix

build(deps): downgrade `tinyexec@1.2.2`
  .changeset/huge-results-tease.md
  package-lock.json
  package.json
Due: prettier --write

feat: destroy tinyexec output streams on exit
  .changeset/short-humans-pay.md
  lib/execGit.js
  lib/getSpawnedTask.js
Due: eslint --fix, prettier --write

docs: update GitHub templates
  .changeset/tangy-keys-wish.md
  .github/ISSUE_TEMPLATE/01-bug.md
  .github/ISSUE_TEMPLATE/02-feature.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/issue_template.md
Due: prettier --write

build(deps): update `tinyexec@^1.2.4`
  .changeset/dirty-ties-matter.md
  package-lock.json
  package.json
Due: prettier --write

docs: add FAQ entry on how stashing works
  .changeset/late-ghosts-stick.md
  README.md
Due: prettier --write

fix: ignore stderr when doing Git operations
  .changeset/tired-impalas-itch.md
  lib/execGit.js
  test/e2e/git-pre-commit.test.js
  test/integration/merge-conflict.test.js
  test/unit/execGit.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

ci: run npm audit omitting dev, including prod dependencies
  .github/workflows/security.yml
Due: none

fix: restore Git merge status after creating backup stash
  .changeset/ninety-chairs-hammer.md
  lib/gitWorkflow.js
  test/integration/merge-conflict.test.js
Due: eslint --fix, prettier --write

feat: add TypeScript types for list of parallel tasks inside list of sequential tasks
  .changeset/ten-owls-clean.md
  lib/index.d.ts
  lint-staged.config.js
  test/types/index.test.ts
Due: eslint --fix, prettier --write

feat: allow running parallel tasks by nesting arrays
  .changeset/ten-owls-clean.md
  CHANGELOG.md
  README.md
  lib/figures.js
  lib/getSpawnedTasks.js
  lib/runAll.js
  lib/runParallelTasks.js
  lib/validateConfig.js
  lint-staged.config.js
  test/types/index.test.ts
  test/unit/getSpawnedTasks.spec.js
  test/unit/runAll.spec.js
  test/unit/runParallelTasks.spec.js
  test/unit/validateConfig.spec.js
Due: eslint --fix, prettier --write

test: relax assertion so that it passes in worktree
  test/integration/resolveGitRepo.spec.js
Due: eslint --fix

fix: lint only files changed against HEAD and MERGE_HEAD, during a merge
  .changeset/proud-cups-enter.md
  lib/getStagedFiles.js
  lib/runAll.js
  test/integration/merge-conflict.test.js
  test/unit/getStagedFiles.spec.js
Due: eslint --fix, prettier --write

style: add `@e18e/eslint-plugin`
  .changeset/free-shirts-notice.md
  .oxlintrc.json
  lib/assertGitVersion.js
  lib/getSpawnedTask.js
  lib/gitWorkflow.js
  lib/groupFilesByConfig.js
  lib/normalizePath.js
  lib/parseGitZOutput.js
  lib/searchConfigs.js
  lib/validateBraces.js
  package-lock.json
  package.json
  scripts/test-node-range.js
Due: eslint --fix, prettier --write

style: enable oxlint "suspicious" category
  .oxlintrc.json
  lib/getSpawnedTasks.js
  lib/loadConfig.js
  lib/runAll.js
  lib/runParallelTasks.js
  lib/searchConfigs.js
  test/integration/file-resurrection.test.js
  test/integration/multiple-config-files.test.js
  test/integration/resolveGitRepo.spec.js
  test/unit/debug.spec.js
  test/unit/getSpawnedTask.spec.js
  test/unit/killSubprocesses.spec.js
  test/unit/loadConfig.spec.js
  test/unit/resolveGitRepo.spec.js
  test/unit/searchConfigs.spec.js
Due: eslint --fix, prettier --write

build: update dependencies
  package-lock.json
  package.json
Due: prettier --write

style: add oxfmt formatter option for changeset
  .changeset/config.json
  CHANGELOG.md
Due: prettier --write

chore: remove old config option from commitlint
  commitlint.config.js
Due: eslint --fix

feat: add `defineConfig` helper
  .changeset/lemon-lands-grow.md
  README.md
  lib/config.d.ts
  lib/config.js
  lib/index.d.ts
  lint-staged.config.js
  package.json
  test/types/config.test.ts
  test/types/index.test.ts
Due: eslint --fix, prettier --write

style: error on unused oxlint disable rules
  .oxlintrc.json
  lib/gitWorkflow.js
  scripts/test-node-range.js
Due: eslint --fix, prettier --write

fix: parse options only once between cli and node api options
  .changeset/some-ties-lay.md
  lib/cli.js
  lib/index.js
  lib/parseOptions.js
  test/unit/cli.spec.js
  test/unit/parseOptions.spec.js
  test/unit/validateOptions.spec.js
Due: eslint --fix, prettier --write

refactor: move run id to context
  lib/gitWorkflow.js
  lib/state.js
Due: eslint --fix

fix: find backup stash by "run id" instead of just static message
  lib/gitWorkflow.js
  lib/state.js
  test/unit/getBackupStash.spec.js
Due: eslint --fix

fix: use full hash instead of short for finding backup stash
  lib/gitWorkflow.js
Due: eslint --fix

fix: list untracked files from the third parent of the backup stash directly
  .changeset/silent-beds-eat.md
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write

fix: reset original state by using stored backup hash, instead of relying on stash index
  lib/gitWorkflow.js
  lib/index.js
  lib/symbols.js
  test/integration/basic-functionality.test.js
  test/integration/gitWorkFlow.test.js
  test/unit/getBackupStash.spec.js
  test/unit/gitWorkFlow.test.js
Due: eslint --fix

refactor: extract method for listing stashes
  .changeset/silent-beds-eat.md
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write

feat: add `--all` flag for including all files tracked by Git instead of just staged
  .changeset/lemon-lands-grow.md
  .changeset/thirty-plants-relax.md
  .github/workflows/pull-requests.yml
  README.md
  lib/cli.js
  lib/getStagedFiles.js
  lib/index.d.ts
  lib/index.js
  lib/messages.js
  lib/parseOptions.js
  lib/runAll.js
  test/integration/include-all-files.test.js
  test/unit/cli.spec.js
  test/unit/getStagedFiles.spec.js
Due: eslint --fix, prettier --write

fix: further fix parsing options logic
  .changeset/thirty-plants-relax.md
  README.md
  lib/parseOptions.js
  lib/runAll.js
  test/integration/include-all-files.test.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

ci: update Changesets action because it failed to publish
  .changeset/red-vans-rule.md
  .github/workflows/release.yml
  package.json
Due: prettier --write

fix: update `tinyexec` and other deps
  .changeset/tall-toes-spend.md
  package-lock.json
  package.json
  vitest.config.js
Due: eslint --fix, prettier --write

fix: do not try to restore untracked files when using `--hide-all` without initial commit
  .changeset/twelve-ties-notice.md
  lib/state.js
  test/integration/no-initial-commit.test.js
Due: eslint --fix, prettier --write
