Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix

feat: Add whitespace between errors and make error messages stand out
  src/resolveTaskFn.js
  test/__snapshots__/resolveTaskFn-chunked.spec.js.snap
  test/__snapshots__/resolveTaskFn.spec.js.snap
  test/__snapshots__/runAll.spec.js.snap
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: Better task name and message for update stash step
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: use the forked version of listr-update-renderer until the fix is merged in
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade execa to v1.0.0
  package.json
  yarn.lock
Due: prettier --write

refactor: Cleanup gitWorkflow module
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: detect SIGINT termination for linter tasks and exit appropriately
  src/resolveTaskFn.js
  test/__snapshots__/resolveTaskFn-chunked.spec.js.snap
  test/__snapshots__/resolveTaskFn.spec.js.snap
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: do not exit main Listr process on SIGINT
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: add a return from the main process
  src/index.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: Allow linting files outside of project folder
  README.md
  src/generateTasks.js
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: Allow linting files outside of project folder (#495)
  README.md
  src/generateTasks.js
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: Update documentation for husky 1.0
  README.md
Due: prettier --write

docs: Update documentation for husky 1.0 (#496)
  README.md
Due: prettier --write

v8.0.0-beta.2
  package.json
Due: prettier --write

docs: Add SurviveJS link
  README.md
Due: prettier --write

tests: Move mock file to /test
  test/__mocks__/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Add note about typechecking with flow
  README.md
Due: prettier --write

docs: Add an example for type checking with flow (#502)
  README.md
Due: prettier --write

fixup! chore: Use Node >=8 to supoort async / await
  .travis.yml
Due: none

tests: Remove redundant test
  test/__snapshots__/gitWorkflow.spec.js.snap
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor(gitWorkflow): Use g-status and remove custom partially staged files detection
  package.json
  src/gitWorkflow.js
  test/__snapshots__/gitStash.spec.js.snap
  test/gitStash.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor(gitWorkflow): Remove redundant gitDir option
  src/gitWorkflow.js
  test/gitStash.spec.js
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix(gitWorflow): Make the copy for partially staged case more clear
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: Fail linter tasks with too many files
  README.md
  package.json
  src/calcChunkSize.js
  src/getConfig.js
  src/makeCmdTasks.js
  src/resolveTaskFn.js
  src/runAll.js
  test/__mocks__/is-windows.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/__snapshots__/resolveTaskFn.spec.js.snap
  test/calcChunkSize.spec.js
  test/getConfig.spec.js
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

tests(windows): Use mock of log-symbols to match snapshots on Mac/Windows
  test/__mocks__/log-symbols.js
  test/__snapshots__/resolveTaskFn-chunked.spec.js.snap
  test/__snapshots__/resolveTaskFn.spec.js.snap
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

tests: Update snapshots
  test/__snapshots__/runAll.spec.js.snap
Due: none

tests: Replace CLRF with LF in tests to normalize on Windows
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Fix fail message when termination signal is detected
  src/resolveTaskFn.js
  test/__snapshots__/resolveTaskFn-chunked.spec.js.snap
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Fix the case where failure message could reach impossible state
  src/resolveTaskFn.js
  test/__snapshots__/resolveTaskFn.spec.js.snap
Due: eslint --fix, prettier --write, npm run lint:base --fix

fixup! chore: Use Node >=8 to supoort async / await
  .appveyor.yml
Due: none

refactor: Fix typo
  src/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: Use `skip` instead of `enabled` for stashing task
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: upgrade to jest 23
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade to jest 23 (#507)
  package.json
  yarn.lock
Due: prettier --write

chore: Remove fs-promise in favor of pify and native fs
  package.json
  src/gitWorkflow.js
  test/gitStash.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: Do not use debug flag for lint-staged
  package.json
Due: prettier --write

tests: Restore execa mock and remove redundant code
  test/__mocks__/execa.js
  test/gitStash.spec.js
  test/gitWorkflow.spec.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

tests: Remove unnecessary stash checks since we don't rely on git stash
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

tests: Switch some tests to inline snapshots
  test/__snapshots__/resolveTaskFn-chunked.spec.js.snap
  test/__snapshots__/resolveTaskFn.spec.js.snap
  test/gitStash.spec.js
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

tests: Add more tests for renamed and untracked files
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

v8.0.0-beta.3
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base --fix: any of: *.js
