Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, yarn lint:base --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "linters": {
    "*.{js,json,md}": ["prettier --write", "git add"],
    "*.js": ["yarn lint:base --fix", "git add"],
    ".*{rc, json}": "jsonlint"
  }
}

fix: remove please-upgrade-node
  index.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn lint:base --fix

chore: update "please-upgrade-node" to version 3.0.2
  package.json
  yarn.lock
Due: prettier --write

fix: Update "please-upgrade-node" to version 3.0.2 (#434)
  package.json
  yarn.lock
Due: prettier --write

docs: Mention npx mrm lint-staged template
  README.md
Due: prettier --write

docs: Mention npx mrm lint-staged template (#438)
  README.md
Due: prettier --write

feat: Chunked execution of linters on Windows only
  README.md
  package.json
  src/makeCmdTasks.js
  src/resolveTaskFn.js
  src/runAll.js
  src/runScript.js
  test/findBin.spec.js
  test/index.spec.js
  test/makeCmdTasks-mock-findBin.spec.js
  test/makeCmdTasks-mock-isWindows.spec.js
  test/makeCmdTasks-mock-pMap.spec.js
  test/makeCmdTasks.spec.js
Due: eslint --fix, prettier --write, yarn lint:base --fix

test: Add tests for resolveTaskFn
  src/index.js
  src/printErrors.js
  test/makeCmdTasks-mock-findBin.spec.js
  test/makeCmdTasks-mock-isWindows.spec.js
  test/makeCmdTasks-mock-pMap.spec.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, yarn lint:base --fix

chore: Add babel-plugin-transform-object-rest-spread
  .babelrc
  package.json
  yarn.lock
Due: jsonlint, prettier --write

chore(package): update lockfile
  yarn.lock
Due: none

feat: Chunked execution of linters on Windows only (#439)
  .babelrc
  README.md
  package.json
  src/index.js
  src/makeCmdTasks.js
  src/printErrors.js
  src/resolveTaskFn.js
  src/runAll.js
  src/runScript.js
  test/findBin.spec.js
  test/index.spec.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn-chunked.spec.js
  test/resolveTaskFn.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
  yarn.lock
Due: eslint --fix, jsonlint, prettier --write, yarn lint:base --fix

fix: Migrate to cosmiconfig v5
  src/index.js
  test/__mocks__/cosmiconfig.js
  test/index.spec.js
Due: eslint --fix, prettier --write, yarn lint:base --fix

fix(cli): Correct value for FORCE_COLOR env var
  src/index.js
Due: eslint --fix, prettier --write, yarn lint:base --fix

build(package.json): Add yarn dev dependency
  package.json
Due: prettier --write

ci(.travis.yml): Update Travis to test against current Node release
  .travis.yml
Due: none

ci(appveyor.yml): Update AppVeyor to test against current Node release
  appveyor.yml
Due: none

chore(.appveyor.yml): Renamed file.
  .appveyor.yml
Due: none

fix(cli): Correct value for FORCE_COLOR env var (#451)
  src/index.js
Due: eslint --fix, prettier --write, yarn lint:base --fix

ci(.appveyor.yml): Update AppVeyor to test against Node-9.x
  .appveyor.yml
Due: none

ci(.travis.yml): Update Travis to test against Node-9.x
  .travis.yml
Due: none

ci(.appveyor.yml): Removed Node-9.x from AppVeyor test matrix
  .appveyor.yml
Due: none

ci(appveyor.yml): Rename AppVeyor settings file to use its alternative name
  .appveyor.yml
Due: none

ci(.appveyor.yml): Update AppVeyor to test against current Node release
  .appveyor.yml
Due: none

chore: Use npm as script runner
  .lintstagedrc.json
  package.json
  test/__snapshots__/findBin.spec.js.snap
Due: prettier --write

ci(.appveyor.yml): Remove "skip_commits" directive
  .appveyor.yml
Due: none

chore: Use npm as script runner (#456)
  .lintstagedrc.json
  package.json
  test/__snapshots__/findBin.spec.js.snap
Due: prettier --write

fix(package): Update cosmiconfig to version 5.0.2 (#444)
  package.json
  src/index.js
  test/__mocks__/cosmiconfig.js
  test/index.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn lint:base --fix

fix: Add .lintstagedrc.js to list of config files to search
  src/index.js
Due: eslint --fix, prettier --write, yarn lint:base --fix

fix(package): Update listr to version 0.14.1 (#445)
  package.json
  yarn.lock
Due: prettier --write

ci: Update CI scripts to test against current Node release (#453)
  .appveyor.yml
  .travis.yml
Due: none

Add flag --verbose for commands
  index.js
  src/getConfig.js
  src/index.js
  src/makeCmdTasks.js
  src/resolveTaskFn.js
  src/runAll.js
Due: eslint --fix, prettier --write, yarn lint:base --fix

Add some tests for the mode verbose
  src/getConfig.js
  src/index.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/getConfig.spec.js
  test/index.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, yarn lint:base --fix

feat: Resolve a npm package passed as --config
  README.md
  __mocks__/my-lint-staged-config/index.js
  __mocks__/my-lint-staged-config/package.json
  src/index.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix, prettier --write, yarn lint:base --fix

feat: Resolve a npm package passed as --config (#464)
  README.md
  __mocks__/my-lint-staged-config/index.js
  __mocks__/my-lint-staged-config/package.json
  src/index.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix, prettier --write, yarn lint:base --fix
