Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

fix: include all files when using `--config <path>`
  lib/groupFilesByConfig.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: add `--diff-filter` option for overriding list of (staged) files
  README.md
  bin/lint-staged.js
  lib/getStagedFiles.js
  lib/index.js
  lib/runAll.js
  test/getStagedFiles.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: skip backup stash when using the `--diff` option
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  d4/da24d90cfa85ef8589a5f8c6ba5f51c3b45275
Due: none

refactor: remove `supports-color`
  bin/lint-staged.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: use `node:` protocol imports
  bin/lint-staged.js
  lib/chunkFiles.js
  lib/dynamicImport.js
  lib/file.js
  lib/generateTasks.js
  lib/getStagedFiles.js
  lib/gitWorkflow.js
  lib/groupFilesByConfig.js
  lib/resolveConfig.js
  lib/resolveGitRepo.js
  lib/runAll.js
  lib/searchConfigs.js
  lib/validateOptions.js
  test/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: use optional chaining `?.`
  lib/index.js
  lib/printTaskOutput.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix(deps): update `execa@^6.1.0`
  lib/execGit.js
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  test/__mocks__/execa.js
  test/execGit.spec.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix(deps): update `yaml@^2.1.1`
  package-lock.json
  package.json
Due: prettier --write

feat: remove support for Node.js 12
  .github/workflows/main.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  50/f95b3d51e69074ab5ff5ddb7147828fcd85b7b
Due: none

fix: ignore "No matching pid found" error
  lib/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: prevent possible race condition when killing tasks on failure
  lib/resolveTaskFn.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update pidtree@^0.6.0 to fix screen size error in WSL
  package-lock.json
  package.json
Due: prettier --write

perf: use `EventsEmitter` instead of `setInterval` for killing tasks on failure
  lib/resolveTaskFn.js
  lib/state.js
  test/gitWorkflow.spec.js
  test/index2.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

docs: remove `mrm` from README.md
  README.md
Due: prettier --write

docs: add section about task concurrency to README.md
  README.md
Due: prettier --write

fix: suppress error from `process.kill` when killing tasks on failure
  lib/resolveTaskFn.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: correct spelling of "0 files"
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: reuse Listr stuff better
  lib/runAll.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  43/8411437ae0d7500633451b582fb39b1e80ad2a
Due: none
