Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

ci: do not cancel other test suites when one fails
  .github/workflows/main.yml
Due: none

fix(renderer): force `process.stdout` to be a TTY to support spinners
  bin/lint-staged.js
  lib/forceTty.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add debug
  lib/forceTty.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: use correct Windows handle
  lib/forceTty.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: <diff and diffFilter params are now used also to determine changes after tasks were applied>
  lib/getDiffCommand.js
  lib/getStagedFiles.js
  lib/gitWorkflow.js
  lib/runAll.js
  test/unit/getDiffCommand.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: use new `--diff` and `--diff-filter` options when checking task modifications
  lib/getDiffCommand.js
  lib/getStagedFiles.js
  lib/gitWorkflow.js
  lib/runAll.js
  test/unit/getDiffCommand.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  1a/5a66a9574e2a8b857bd62545a6f2a6da5811aa
Due: none

fix: correctly handle git stash when using MSYS2
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: Adds unit tests for MSYS shell detection (as recommended by @iiroj)
  lib/gitWorkflow.js
  test/unit/getBackupStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

improvement: LOGINSHELL env variable deletion is unnecessary if tests aren't run on MSYS2 environment
  test/unit/getBackupStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: correctly handle git stash when using MSYS2 (#1178)
  lib/gitWorkflow.js
  test/unit/getBackupStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  0d/627a52846d63cd6fc6018a8d7779ef454a99b2
Due: none

fix: adjust Windows file handle fix
  bin/lint-staged.js
  lib/forceTty.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: lint
  lib/forceTty.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: tweak console log to debug GitHub CI issue
  lib/forceTty.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat(files): add option --files for manual files for check
  bin/lint-staged.js
  lib/index.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Update main.yml
  .github/workflows/main.yml
Due: none

ci: set GitHub Actions permissions
  .github/workflows/main.yml
Due: none

docs(monorepo): improve docs
  README.md
Due: prettier --write

docs(monorepo): move note to config section
  README.md
Due: prettier --write

Add: tsc example with staged files
  README.md
Due: prettier --write

fix(deps): update all dependencies
  package-lock.json
  package.json
Due: prettier --write

docs: add an advanced `.lintstagedrc` example
  README.md
Due: prettier --write

test: update Jest snapshot format
  test/integration/git-lock-file.test.js
  test/integration/gitWorkFlow.test.js
  test/integration/merge-conflict.test.js
  test/integration/no-stash.test.js
  test/unit/execGit.spec.js
  test/unit/index2.spec.js
  test/unit/loadConfig.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/resolveTaskFn.unmocked.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: allow file protocol in git submodule test
  test/integration/git-submodules.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: remove Windows snapshot workaround
  test/unit/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: bump GitHub Actions' versions
  .github/workflows/codeql.yml
  .github/workflows/main.yml
Due: none

ci: install latest npm for older Node.js versions
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  e2/bfce125b79be78c88db400248b5f542673e059
Due: none

docs: add note about git hook TTY to README
  README.md
Due: prettier --write

docs: add note about multiple configs files to README
  README.md
Due: prettier --write
