Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "linters": {
    "*.{js,json,md}": ["prettier --write", "git add"],
    "*.js": ["npm run lint:base --fix", "git add"],
    ".*{rc, json}": "jsonlint"
  }
}

docs: fix a typo (#657)
  README.md
Due: prettier --write

feat: add --relative option for controlling file paths
  bin/lint-staged
  src/generateTasks.js
  src/index.js
  src/makeCmdTasks.js
  src/resolveGitDir.js
  src/resolveTaskFn.js
  src/runAll.js
  test/__snapshots__/runAll.unmocked.spec.js.snap
  test/generateTasks.spec.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.2.spec.js
  test/runAll.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add test for gitStashPop throwing
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: add --relative to README
  README.md
Due: prettier --write

docs: add information about ignoring files
  README.md
Due: prettier --write

refactor: allow runAll and generateTasks to receive cwd
  src/generateTasks.js
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add integration test for runAll
  test/__snapshots__/runAll.unmocked.spec.js.snap
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: change 'linters' to 'tasks'
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: update snapshots
  test/__snapshots__/runAll.spec.js.snap
Due: none

refactor: set SIGINT listener in bin instead of runAll
  bin/lint-staged
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: upgrade production depedencies
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade devDependencies and simplify eslint config
  .babelrc
  .eslintrc.json
  package.json
  src/generateTasks.js
  test/.eslintrc.json
  yarn.lock
Due: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix

fix: remove empty spaces from warning
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: use jsonlint --in-place
  .lintstagedrc.json
Due: prettier --write

fix: pin commitizen@3.1.2 to support node 8
  package.json
  yarn.lock
Due: prettier --write

fix: pin cz-conventional-changelog@2.1.0 to support node 8
  package.json
  yarn.lock
Due: prettier --write

test: should clear unstaged changes when linter applies same changes
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: should fail when linter creates a .git/index.lock
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: always use posix paths
  src/execGit.js
  src/generateTasks.js
  src/resolveGitDir.js
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add parrent dir linting configuration test
  test/generateTasksSpecialCases.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: move to other file
  test/generateTasks.spec.js
  test/generateTasksSpecialCases.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: use path.join to make windows happy
  test/generateTasksSpecialCases.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: remove relPath
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix
