Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

fix: Log compiler errors in js config files
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

docs: use bibliography-style links in related posts section of readme
  README.md
Due: prettier --write

fix: use bibliography-style links in related posts section of readme (#932)
  README.md
Due: prettier --write

Notes added by 'git notes add'
  0ff29178c8771ab10e43a395e252c6a118306942
Due: none

refactor: simplify check
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add test for unhandled error inside js function config
  test/__snapshots__/index2.spec.js.snap
  test/index2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: better logging for errors in js config files (#935)
  lib/index.js
  test/__snapshots__/index2.spec.js.snap
  test/index2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  292e882cc3422743f4419d98e97200483be82c4a
Due: none

docs: add instructions for async ESLint isPathIgnored
  README.md
Due: prettier --write

docs: use links in description of async isPathIgnored
  README.md
Due: prettier --write

docs: add instructions for async ESLint isPathIgnored (#937)
  README.md
Due: prettier --write

Add link to CSharp / lint-staged integration blog
  README.md
Due: prettier --write

docs: Add link to CSharp / lint-staged integration blog (#940)
  README.md
Due: prettier --write

add snippet to readme to run prettier for all supported files
  README.md
Due: prettier --write

remove empty line
  README.md
Due: prettier --write

update examples in readme to quote filenames
  README.md
Due: prettier --write

collapse some of the sections
  README.md
Due: prettier --write

update doc
  README.md
Due: prettier --write

docs: add snippet to readme to run prettier for all supported files (#942)
  README.md
Due: prettier --write

fix bug in automatic prettier example
  README.md
Due: prettier --write

bugfix: concurrent option is not working correctly
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: concurrent option is not working correctly (#950)
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  43838158b4b2557bf09c06d0d15c4936069e8855
Due: none

Fix typo
  README.md
Due: prettier --write

docs: Fix a bug in the prettier example (#949)
  README.md
Due: prettier --write

Husky to simple-git-hooks migration in mrm
  README.md
Due: prettier --write

docs: husky to simple-git-hooks migration in mrm (#954)
  README.md
Due: prettier --write

Use simple-git-hooks in examples
  README.md
Due: prettier --write

Use simple-git-hooks in examples (#955)
  README.md
Due: prettier --write

docs: update installation and examples
  README.md
Due: prettier --write

docs: update installation and examples (#960)
  README.md
Due: prettier --write

docs: corrects minor typos and grammar in README
  README.md
Due: prettier --write

docs: corrects minor typos and grammar in README (#964)
  README.md
Due: prettier --write

fix: fixes the git-cz command using the 'yarn cz' script
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: migrate husky@6
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: prettier --write

fix: migrate commander@7
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: replace Node.js 15 with 16
  .github/workflows/main.yml
Due: none

feat: bump Node.js version requirement to 12.13.0
  .github/workflows/main.yml
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base -- --fix: any of: *.js
