Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix, jsonlint --in-place

fix: use String.prototype.trim() to remove whitespace from shell output
  lib/gitWorkflow.js
  lib/resolveGitRepo.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: preserve merge states in submodules (#769)
  lib/gitWorkflow.js
  lib/resolveGitDir.js
  lib/resolveGitRepo.js
  lib/runAll.js
  test/generateTasks.spec.js
  test/index2.spec.js
  test/resolveGitRepo.spec.js
  test/runAll.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  e646b2c46ad34344b526462200471fa47dcc398f
Due: none

fix: only warn about git add when it's the exact command
  lib/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: print a better warning when the initial commit is missing
  lib/gitWorkflow.js
  lib/runAll.js
  test/runAll.unmocked.2.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: add section about v10 migration/breaking changes
  README.md
Due: prettier --write

docs: use undo instead of revert to avoid confusion with git operation
  README.md
Due: prettier --write

style: remove jsonlint since it conflicts with prettier
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write

style: correctly pass args to npm script
  .lintstagedrc.json
Due: prettier --write

fix: parse command string with string-argv unless --shell is used
  lib/resolveTaskFn.js
  package.json
  test/__snapshots__/index.spec.js.snap
  test/__snapshots__/runAll.spec.js.snap
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/resolveTaskFn.unmocked.spec.js
  test/runAll.unmocked.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  0f2a1c01ca7bc599ea69744259c0de04b4e223b3
Due: none

Invalid JSON in README
  README.md
Due: prettier --write

Add -d flag to gitWorkflow untracked files cleanup
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: run test correctly in temp git folder
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: generate untracked diff using same arguments as unstaged
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test(gitWorkflow): check dropBackup error handling
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: use new eslint-plugin-node rules with correct Node.js version
  .eslintrc.json
Due: prettier --write

fix: throw when restoring untracked files fails
  lib/gitWorkflow.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: improve tests for binary file support
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

perf: exit early on empty file list
  lib/runAll.js
  test/__snapshots__/runAll.spec.js.snap
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: save diffs to temporary files instead of keeping in memory
  lib/file.js
  lib/gitWorkflow.js
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: correctly restore untracked files after running (#780)
  .eslintrc.json
  lib/file.js
  lib/gitWorkflow.js
  lib/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/gitWorkflow.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  4010db09f6d168af677bd4ca1c815ba40460ae80
Due: none

docs: Add better docs on running multiple commands
  README.md
Due: prettier --write

fix: use verbose renderer when TERM=dumb
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: set FORCE_COLOR only when supported
  bin/lint-staged
Due: none

refactor: add .js extension to bin file
  bin/lint-staged.js
  package.json
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: use verbose renderer when TERM=dumb (#782)
  bin/lint-staged.js
  lib/runAll.js
  package.json
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  9c08e8ee0bdf00de7dc6e15cd660e6fc55129832
Due: none

fix: always resolve real git config dir location if .git is a file
  lib/resolveGitRepo.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: ensure lint-staged runs in a worktree directory
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: always resolve real git config dir location if .git is a file (#784)
  lib/resolveGitRepo.js
  lib/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: make sure deleted files aren't restored due to git bugs
  lib/gitWorkflow.js
  test/gitWorkflow.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

perf: run file removals in parallel
  lib/file.js
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor(file): use fs.promises
  lib/file.js
  lib/getStagedFiles.js
  lib/gitWorkflow.js
  lib/index.js
  lib/resolveGitRepo.js
  test/runAll.unmocked.2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: correct file handling
  lib/file.js
  lib/gitWorkflow.js
  test/file.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add test for complex additions and deletions
  test/file.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: filter out empty string for when there is no output
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: make cleaning untracked files resurrected due to git bug testable
  lib/gitWorkflow.js
  test/file.spec.js
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Notes added by 'git notes add'
  b98a5ed8d422f637af4157a157676a70e3f1981a
Due: none

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base --fix: any of: *.js
  jsonlint --in-place: any of: .*{rc, json}
