Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

docs: update MIGRATION.md
  .changeset/seven-baboons-brake.md
  MIGRATION.md
Due: prettier --write

feat: add `--hide-all` option to hide all unstaged changes and untracked files
  .changeset/few-facts-start.md
  lib/cli.js
  lib/gitWorkflow.js
  lib/index.d.ts
  lib/index.js
  lib/runAll.js
  lib/state.js
  test/integration/gitWorkFlow.test.js
  test/integration/hide-all.test.js
  test/unit/cli.spec.js
Due: eslint --fix, prettier --write

docs: update README.md
  README.md
Due: prettier --write

fix: normalize paths
  lib/gitWorkflow.js
Due: eslint --fix

fix: use git stash command to list untracked files
  .changeset/seven-baboons-brake.md
  MIGRATION.md
  lib/assertGitVersion.js
  lib/gitWorkflow.js
  test/unit/index2.spec.js
Due: eslint --fix, prettier --write

refactor: use `git restore` instead of `git checkout --force`
  .changeset/beige-donuts-return.md
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write

refactor: drop manual handling Git stashing resurrecting deleted files
  .changeset/large-cobras-smell.md
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write

ci: pin hashes for GitHub Actions
  .changeset/dry-knives-fix.md
  .github/workflows/default-branch-push.yml
  .github/workflows/npm.yml
  .github/workflows/pull-requests.yml
  .github/workflows/security.yml
  .github/workflows/tag.yml
Due: prettier --write

ci: limit release workflow permissions to changeset action
  .github/workflows/default-branch-push.yml
Due: none

docs: document required permissions to workflow
  .github/workflows/default-branch-push.yml
Due: none

build(deps): update dependencies
  .changeset/eighty-poets-appear.md
  package-lock.json
  package.json
Due: prettier --write

build(deps): remove explicit `typescript` dev dependency
  package-lock.json
  package.json
Due: prettier --write

build: update `tsconfig.json`
  tsconfig.json
Due: prettier --write

ci: for npm audit, omit dev instead of including prod dependencies
  .github/workflows/security.yml
Due: none

test: switch to istanbul coverage
  lib/debug.js
  lib/getRenderer.js
  package-lock.json
  package.json
  test/unit/debug.spec.js
  test/unit/getRenderer.spec.js
  vitest.config.js
Due: eslint --fix, prettier --write

ci: add Bun (latest) tests
  .changeset/little-peas-crash.md
  .github/workflows/pull-requests.yml
Due: prettier --write

test: skip failing test on Bun
  test/integration/fail-to-spawn.test.js
Due: eslint --fix

fix: detect colors so that Bun supports them
  lib/colors.js
  test/unit/colors.spec.js
  vitest.config.js
Due: eslint --fix

test: no need to override global console
  .changeset/curly-pears-cheer.md
  test/integration/__utils__/withGitIntegration.js
Due: eslint --fix, prettier --write

fix: add directory of current node executable to PATH to fix issues with Snap
  .changeset/seven-clowns-spend.md
  lib/getSpawnedTask.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTasks.spec.js
Due: eslint --fix, prettier --write

fix(deps): update `tinyexec@1.1.1`
  .changeset/jolly-geese-ask.md
  package-lock.json
  package.json
Due: prettier --write

test: do not skip test on Bun, after upgrading `tinyexec`
  .changeset/curly-pears-cheer.md
  test/integration/fail-to-spawn.test.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
