Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(deps): remove enquirer because it's now optional by listr2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  96/a1a29ab49009d3d7edc98cc7344b1ac9c1cce6
Due: none

Add missing cwd option when calling execGit function
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: use cwd option when resolving git repo root (#1075)
  lib/resolveGitRepo.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  a2/30b0350885194e5f07be667312316ad869b7fc
Due: none

feat: sparse config
  bin/lint-staged.js
  lib/index.js
  lib/loadConfig.js
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
  lib/runAll.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: compatible with windows
  lib/runAll.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: add a integration test for sparse config
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: text
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: update readme
  README.md
Due: prettier --write

fix: test with whitespace
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: fixes accroding to code review
  lib/loadConfig.js
  lib/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: always validate config after load config in subdirectory
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refact: changes according to code review
  bin/lint-staged.js
  lib/index.js
  lib/loadConfig.js
  lib/messages.js
  lib/runAll.js
  test/index.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: using `--debug` option enables debug mode
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: search configuration starting from explicit cwd option
  lib/index.js
  lib/loadConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  c7/ea3594c81f7c2724a7babc8e8d57926b4679c8
Due: none

fix: always run non-git tasks in the current working directory
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
  lib/runAll.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: Resolve config modules with ESM createRequire()
  jest.config.js
  lib/loadConfig.js
  lib/resolveConfig.js
  test/index.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test(integration): Respect global init.defaultBranch git config
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  89/3f3d7825f73115a41ddb3be34af15f4c207315
Due: none

fix: use explicit file extension in import path
  lib/loadConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: resolve config modules with ESM createRequire (#1082)
  jest.config.js
  lib/loadConfig.js
  lib/resolveConfig.js
  test/index.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  f9/f65380dc3fc6aaa5627abe92f4e26d5b7a25de
Due: none

feat: support multiple configuration files
  README.md
  lib/dynamicImport.js
  lib/generateTasks.js
  lib/getConfigGroups.js
  lib/getStagedFiles.js
  lib/index.js
  lib/loadConfig.js
  lib/runAll.js
  lib/validateConfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/dynamicImport.spec.js
  test/generateTasks.spec.js
  test/getConfigGroups.spec.js
  test/getStagedFiles.spec.js
  test/index.spec.js
  test/integration.test.js
  test/loadConfig.spec.js
  test/runAll.spec.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: make console task titles more explicit
  README.md
  lib/runAll.js
  test/integration.test.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: replace "for...of" with "await Promise.all()"
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: remove babel packages and use @typescript-eslint/parser
  .eslintrc.json
  babel.config.cjs
  bin/lint-staged.js
  package-lock.json
  package.json
  test/printTaskOutput.spec.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: split integration tests into multiple files
  .github/workflows/main.yml
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/integration/allow-empty.test.js
  test/integration/binary-files.test.js
  test/integration/fail-when-not-git-dir.test.js
  test/integration/file-resurrection.test.js
  test/integration/fixtures/configs.js
  test/integration/fixtures/files.js
  test/integration/git-amend.test.js
  test/integration/git-lock-file.test.js
  test/integration/git-submodules.test.js
  test/integration/gitWorkflow.test.js
  test/integration/integration.test.js
  test/integration/merge-conflicts.test.js
  test/integration/multiple-config-files.test.js
  test/integration/no-initial-commit.test.js
  test/integration/no-stash.test.js
  test/integration/non-ascii.test.js
  test/integration/partially-staged-files.test.js
  test/integration/resurrected-files.test.js
  test/integration/submodules.test.js
  test/integration/untracked-files.test.js
  test/integration/utils/configFilepathSerializer.js
  test/integration/utils/gitHubActions.js
  test/integration/utils/gitIntegration.js
  test/integration/utils/replaceSerializer.js
  test/integration/utils/tempDir.js
  test/integration/utils/windowsNewLines.js
  test/integration/worktree.test.js
  test/utils/tempDir.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

style: setup some "@typescript-eslint/recommended-requiring-type-checking"
  .eslintrc.json
  lib/runAll.js
  package-lock.json
  package.json
  test/.eslintrc.json
  test/resolveGitRepo.spec.js
  tsconfig.json
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: replace "for...of" with "await Promise.all()"
  lib/getConfigGroups.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base -- --fix: any of: *.js
