Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

fix: handle colon characters in staged filenames (#1544)
  .changeset/happy-cougars-wish.md
  lib/getStagedFiles.js
  test/unit/getStagedFiles.spec.js
Due: eslint --fix, prettier --write

Revert "feat: replace `execa` with `nano-spawn`"
  .changeset/easy-frogs-speak.md
  .changeset/rare-fishes-call.md
  MIGRATION.md
  lib/execGit.js
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/kill-tasks-on-failure.test.js
  test/e2e/no-stash.test.js
  test/e2e/stdin-config.test.js
  test/integration/git-submodules.test.js
  test/unit/__utils__/getMockExeca.js
  test/unit/__utils__/getMockNanoSpawn.js
  test/unit/__utils__/mockExecaReturnValue.js
  test/unit/__utils__/mockNanoSpawnReturnValue.js
  test/unit/execGit.spec.js
  test/unit/index3.spec.js
  test/unit/makeCmdTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/resolveTaskFn.unmocked.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

Revert "feat: remove `--shell` flag support"
  .changeset/neat-parrots-watch.md
  MIGRATION.md
  README.md
  bin/lint-staged.js
  lib/index.d.ts
  lib/index.js
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
  lib/runAll.js
  lib/validateOptions.js
  package.json
  test/integration/__utils__/isWindows.js
  test/integration/git-lock-file.test.js
  test/integration/multiple-config-files.test.js
  test/integration/parent-globs.test.js
  test/unit/makeCmdTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/resolveTaskFn.unmocked.spec.js
  test/unit/validateOptions.spec.js
Due: eslint --fix, prettier --write

Revert "chore: remove validation of deprecated advanced config options"
  .changeset/pretty-bats-push.md
  README.md
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/validateConfig.spec.js
Due: eslint --fix, prettier --write

Revert "build(execa): upgrade execa@9.5.2, require Node.js ^18.19.0 || >=20.5.0"
  .changeset/rare-fishes-call.md
  README.md
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  test/unit/__utils__/mockExecaReturnValue.js
  test/unit/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write

Revert "build(deps): update dependencies"
  package-lock.json
  package.json
Due: prettier --write

Revert "Revert v16 changes"
  .changeset/easy-frogs-speak.md
  .changeset/neat-parrots-watch.md
  .changeset/pretty-bats-push.md
  .changeset/rare-fishes-call.md
  MIGRATION.md
  README.md
  bin/lint-staged.js
  lib/execGit.js
  lib/index.d.ts
  lib/index.js
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
  lib/runAll.js
  lib/validateConfig.js
  lib/validateOptions.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/kill-tasks-on-failure.test.js
  test/e2e/no-stash.test.js
  test/e2e/stdin-config.test.js
  test/integration/__utils__/isWindows.js
  test/integration/git-lock-file.test.js
  test/integration/git-submodules.test.js
  test/integration/multiple-config-files.test.js
  test/integration/parent-globs.test.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/__utils__/getMockExeca.js
  test/unit/__utils__/getMockNanoSpawn.js
  test/unit/__utils__/mockExecaReturnValue.js
  test/unit/__utils__/mockNanoSpawnReturnValue.js
  test/unit/execGit.spec.js
  test/unit/index3.spec.js
  test/unit/makeCmdTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/resolveTaskFn.unmocked.spec.js
  test/unit/runAll.spec.js
  test/unit/validateConfig.spec.js
  test/unit/validateOptions.spec.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  .changeset/calm-sloths-leave.md
  package-lock.json
  package.json
Due: prettier --write

ci: update Node.js versions used in CI
  .github/workflows/default-branch-push.yml
  .github/workflows/pull-requests.yml
  .github/workflows/tag.yml
  .node-version
Due: none

refactor: simplify config validation
  lib/getFunctionTask.js
  lib/index.d.ts
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/validateConfig.spec.js
Due: eslint --fix

refactor: separate "make cmd tasks" and "make function tasks"
  .changeset/thin-onions-attack.md
  lib/makeCmdTasks.js
  lib/makeFunctionTask.js
  lib/runAll.js
  test/unit/makeCmdTasks.spec.js
Due: eslint --fix, prettier --write

test: update tests
  lib/getFunctionTask.js
  lib/runAll.js
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/getFunctionTask.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix

fix: update TypeScript type definitions
  lib/index.d.ts
  test/types/index.ts
Due: none

feat: added support for custom configuration
  .changeset/thin-onions-attack.md
  lib/handleCustomConfig.js
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/makeCmdTasks.spec.js
  test/unit/validateConfig.spec.js
Due: eslint --fix, prettier --write

refactor: rename functions
  lib/getFunctionTasks.js
  lib/getSpawnedTask.js
  lib/getSpawnedTasks.js
  lib/runAll.js
  lib/validateConfig.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTask.unmocked.spec.js
  test/unit/getSpawnedTasks.spec.js
Due: eslint --fix

docs: update README.md and bump nano-spawn as major change
  .changeset/easy-frogs-speak.md
  README.md
Due: prettier --write

build(deps): update dependencies and require Node.js 20.18
  .changeset/rare-fishes-call.md
  .github/workflows/pull-requests.yml
  package-lock.json
  package.json
Due: prettier --write

feat: leave out symlinks from list of staged files
  .changeset/yummy-poems-agree.md
  lib/getStagedFiles.js
Due: eslint --fix, prettier --write

store untracked files in .git/
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
Due: eslint --fix

fix .git/index.lock test
  test/integration/git-lock-file.test.js
Due: eslint --fix

hide modified unstaged files
  lib/gitWorkflow.js
Due: eslint --fix

add getHiddenDirectory helper, recursively clean up hidden directory
  lib/gitWorkflow.js
Due: eslint --fix

simplify untracked files check
  lib/gitWorkflow.js
Due: eslint --fix

fix spelling
  lib/gitWorkflow.js
Due: eslint --fix

add file rename helper
  lib/file.js
  lib/gitWorkflow.js
Due: eslint --fix

call restoreUntrackedFiles from restoreOriginalState
  lib/gitWorkflow.js
Due: eslint --fix

add comment to restoreUntrackedFiles
  lib/gitWorkflow.js
Due: eslint --fix

add mkdirSync helper
  lib/file.js
  lib/gitWorkflow.js
Due: eslint --fix

add getFiles helper with generic filter parameter
  lib/gitWorkflow.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
