Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

add error handling to hideUntrackedFiles
  lib/gitWorkflow.js
Due: eslint --fix

fix symlink git dir test
  test/integration/symlink-git-dir.test.js
Due: eslint --fix

track partiallyStagedFiles and unstagedFiles separately
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  test/integration/partially-staged-changes.test.js
Due: eslint --fix

add --hide-unstaged and --hide-untracked cli options
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
Due: eslint --fix

add missing comments for hide parameters
  lib/index.js
  lib/runAll.js
Due: eslint --fix

Revert "fix .git/index.lock test"
  test/integration/git-lock-file.test.js
Due: eslint --fix

test hideUnstaged and hideUntracked
  test/integration/unstaged-changes.test.js
  test/integration/untracked-changes.test.js
Due: eslint --fix

add changeset
  .changeset/breezy-dingos-drum.md
Due: prettier --write

add rm helper and properly remove hidden directory
  lib/file.js
  lib/gitWorkflow.js
Due: eslint --fix

set hideUnstaged and hideUntracked initial state to false
  lib/state.js
Due: eslint --fix

remove hideUnstaged and hideUntracked logs
  lib/messages.js
  lib/runAll.js
Due: eslint --fix

test hideUntrackedFiles
  lib/gitWorkflow.js
  lib/symbols.js
  test/integration/gitWorkFlow.test.js
Due: eslint --fix

test restoreUntrackedFilesSkipped
  test/unit/state.spec.js
Due: eslint --fix

remove untrackedFiles existence check within hideUntracedFiles function
  lib/gitWorkflow.js
Due: eslint --fix

Revert "fix symlink git dir test"
  test/integration/symlink-git-dir.test.js
Due: eslint --fix

commit: include untracked files in diff patch
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  test/integration/untracked-changes.test.js
  test/unit/state.spec.js
Due: eslint --fix

commit: merge hideUntrackedFiles into hideUnstagedChanges
  lib/gitWorkflow.js
  lib/runAll.js
  lib/symbols.js
  test/integration/gitWorkFlow.test.js
  test/integration/untracked-changes.test.js
Due: eslint --fix

commit: backup entire index and working tree in stash
  lib/gitWorkflow.js
  test/integration/git-lock-file.test.js
  test/unit/getBackupStash.spec.js
Due: eslint --fix

commit: do not copy unstaged files to temporary directory
  lib/file.js
  lib/gitWorkflow.js
Due: eslint --fix

commit: remove hidden subdirectory
  lib/file.js
  lib/gitWorkflow.js
Due: eslint --fix

commit: merge untracked-changes-test into untracked-files-test
  test/integration/untracked-changes.test.js
  test/integration/untracked-files.test.js
Due: eslint --fix

refactor: update getDeletedFiles function to use getFiles function
  lib/gitWorkflow.js
Due: eslint --fix

refactor: do not store file arrays as null
  lib/gitWorkflow.js
Due: eslint --fix

refactor: store deleted files with relative path for consistency
  lib/gitWorkflow.js
Due: eslint --fix

refactor: add unlinkFiles helper
  lib/gitWorkflow.js
Due: eslint --fix

test: add --hide-unstaged --no-hide-partially-staged test for full coverage
  test/integration/gitWorkFlow.test.js
Due: eslint --fix

revert: output stash revision in task title
  lib/gitWorkflow.js
Due: eslint --fix

docs: add table of contents section to README.md
  README.md
Due: prettier --write

docs: create neat-badgers-compare.md
  .changeset/neat-badgers-compare.md
Due: prettier --write

docs: add table of contents section to README.md (#1555)
  .changeset/neat-badgers-compare.md
  README.md
Due: prettier --write

fix: update package.json to support TypeScript types
  package.json
Due: prettier --write

feat: leave out symlinks from list of staged files
  .changeset/yummy-poems-agree.md
  lib/getStagedFiles.js
  test/integration/symlinked-staged-files.test.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: lower minimum required Node.js version to 20.17
  .changeset/orange-pumas-dress.md
  package-lock.json
  package.json
Due: prettier --write

feat: add "--no-revert" flag to disable reverting to original state in case of errors
  .changeset/clean-spiders-melt.md
  README.md
  bin/lint-staged.js
  lib/index.d.ts
  lib/index.js
  lib/runAll.js
  lib/state.js
  test/integration/no-revert.test.js
  test/unit/state.spec.js
Due: eslint --fix, prettier --write

docs: document --hide-unstaged and --hide-untracked in readme
  README.md
Due: prettier --write
