Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

ci: move CodeQL job to push workflow
  .github/workflows/codeql.yml
  .github/workflows/push.yml
Due: none

ci: update actions
  .github/workflows/push.yml
Due: none

ci: organize Github Actions workflows, no need to run tests in master
  .github/workflows/default-branch-push.yml
  .github/workflows/pull-requests.yml
  .github/workflows/tag.yml
Due: none

ci: remove separate install job
  .github/workflows/install.yml
  .github/workflows/push.yml
Due: none

ci: combine workflows
  .github/workflows/node-range.yml
  .github/workflows/push.yml
Due: none

Revert "ci: move CodeQL job to push workflow"
  .changeset/yellow-worms-shop.md
  .github/workflows/codeql.yml
  .github/workflows/pull-requests.yml
Due: prettier --write

Revert "ci: move CodeQL job to push workflow" (#1450)
  .changeset/yellow-worms-shop.md
  .github/workflows/codeql.yml
  .github/workflows/pull-requests.yml
Due: prettier --write

ci: replace CodeCov Action with inline GitHub Actions
  .changeset/fifty-flies-bow.md
  .github/workflows/pull-requests.yml
  README.md
  jest.config.js
Due: eslint --fix, prettier --write

ci: replace CodeCov Action with inline GitHub Actions (#1451)
  .changeset/fifty-flies-bow.md
  .github/workflows/pull-requests.yml
  README.md
  jest.config.js
Due: eslint --fix, prettier --write

fix: resolve git config directory in MSYS2-compatible way
  .changeset/smart-planes-crash.md
  .github/workflows/pull-requests.yml
  lib/resolveGitRepo.js
  test/integration/execGit.test.js
  test/integration/resolveGitRepo.spec.js
Due: eslint --fix, prettier --write

refactor: rename "gitDir" to "topLevelDir" for more clear terminology
  lib/chunkFiles.js
  lib/generateTasks.js
  lib/gitWorkflow.js
  lib/makeCmdTasks.js
  lib/resolveGitRepo.js
  lib/resolveTaskFn.js
  lib/runAll.js
  lib/searchConfigs.js
  test/integration/execGit.test.js
  test/integration/gitWorkFlow.test.js
  test/integration/resolveGitRepo.spec.js
  test/unit/index2.spec.js
  test/unit/makeCmdTasks.spec.js
  test/unit/resolveGitRepo.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix

build(execa): upgrade execa@9.3.0, require Node.js ^18.19.0 || >=20.5.0
  .changeset/rare-fishes-call.md
  README.md
  lib/resolveTaskFn.js
  package-lock.json
  package.json
  test/unit/__utils__/mockExecaReturnValue.js
  test/unit/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write

refactor: adjust debug logging
  .changeset/eighty-tips-sparkle.md
  bin/lint-staged.js
  lib/index.js
  lib/validateOptions.js
Due: eslint --fix, prettier --write

refactor: adjust debug logging (#1452)
  .changeset/eighty-tips-sparkle.md
  bin/lint-staged.js
  lib/index.js
  lib/validateOptions.js
Due: eslint --fix, prettier --write

feat: added changeset
  .changeset/thin-onions-attack.md
Due: prettier --write

feat: updated the logic to accept the object task
  lib/makeCmdTasks.js
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/validateConfig.spec.js
Due: eslint --fix

feat: refactored custom config handling
  lib/handleCustomConfig.js
  lib/makeCmdTasks.js
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/makeCmdTasks.spec.js
Due: eslint --fix

feat: updated the logic to accept the object task
  lib/handleCustomConfig.js
  lib/makeCmdTasks.js
  lib/validateConfig.js
  test/unit/__snapshots__/validateConfig.spec.js.snap
  test/unit/makeCmdTasks.spec.js
Due: eslint --fix

build(dependencies): update minor dependencies
  .changeset/orange-pans-share.md
  package-lock.json
  package.json
Due: prettier --write

build(dependencies): update minor dependencies (#1456)
  .changeset/orange-pans-share.md
  package-lock.json
  package.json
Due: prettier --write

build: migrate Husky to V9
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

docs: update Husky's codeblocks to V9
  README.md
Due: prettier --write

chore: generate provenance statements for npm package
  .github/workflows/tag.yml
Due: none

build: generate provenance statements for npm package (#1459)
  .github/workflows/tag.yml
Due: none

build(deps): update dependencies
  .changeset/pink-ways-nail.md
  package-lock.json
  package.json
Due: prettier --write

build(deps): update dependencies (#1460)
  .changeset/pink-ways-nail.md
  package-lock.json
  package.json
Due: prettier --write

Revert "chore(changeset): release (#1455)"
  .changeset/beige-socks-cover.md
  .changeset/eighty-tips-sparkle.md
  .changeset/fifty-flies-bow.md
  .changeset/orange-pans-share.md
  .changeset/pink-ways-nail.md
  .changeset/smart-planes-crash.md
  .changeset/yellow-worms-shop.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: add required permission for provenance generation
  .github/workflows/tag.yml
Due: none

Revert "chore(changeset): release (#1461)"
  .changeset/beige-socks-cover.md
  .changeset/eighty-tips-sparkle.md
  .changeset/fifty-flies-bow.md
  .changeset/orange-pans-share.md
  .changeset/pink-ways-nail.md
  .changeset/smart-planes-crash.md
  .changeset/yellow-worms-shop.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: update repository url in package.json
  package.json
Due: prettier --write

fix: set max event listeners to the number of tasks
  .changeset/dull-pants-remain.md
  lib/runAll.js
Due: eslint --fix, prettier --write

fix: set max event listeners to the number of tasks (#1463)
  .changeset/dull-pants-remain.md
  lib/runAll.js
Due: eslint --fix, prettier --write

docs: add some more concrete command examples to the README
  README.md
Due: prettier --write

refactor: remove unused parameter default
  lib/resolveGitRepo.js
Due: eslint --fix

build(deps): update minor dependencies
  .changeset/angry-mugs-marry.md
  package-lock.json
  package.json
Due: prettier --write

Add Node v23 to the CI PR test matrix
  .github/workflows/pull-requests.yml
Due: none

docs: create young-bananas-clean.md
  .changeset/young-bananas-clean.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
