Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

fix: limit configuration discovery to cwd
  lib/getConfigGroups.js
  lib/groupFilesByConfig.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/searchConfigs.js
  test/getConfigGroups.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/runAll.spec.js
  test/searchConfigs.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: specify merge conflict style for snapshots
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: expose `--max-arg-length` cli option
  bin/lint-staged.js
  lib/index.js
  test/index3.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  8b/e800fdc31e0747d2b1717d6f57a90a0f569540
Due: none

fix: correctly handle symlinked config files
  lib/searchConfigs.js
  test/integration.test.js
  test/searchConfigs.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix(deps): update `execa@^6.1.0`
  integration/utils/gitIntegration.js
  lib/execGit.js
  lib/resolveTaskFn.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: integration tests run the entire lint-staged cli
  .github/workflows/main.yml
  integration/.eslintrc.json
  integration/allow-empty.test.js
  integration/binary-files.test.js
  integration/fail-when-not-git-dir.test.js
  integration/file-resurrection.test.js
  integration/files-outside-cwd.test.js
  integration/fixtures/configs.js
  integration/fixtures/files.js
  integration/git-amend.test.js
  integration/git-lock-file.test.js
  integration/git-submodules.test.js
  integration/gitWorkflow.test.js
  integration/integration.test.js
  integration/merge-conflicts.test.js
  integration/multiple-config-files.test.js
  integration/no-initial-commit.test.js
  integration/no-stash.test.js
  integration/non-ascii.test.js
  integration/parent-globs.test.js
  integration/partially-staged-files.test.js
  integration/untracked-files.test.js
  integration/utils/configFilepathSerializer.js
  integration/utils/gitHubActions.js
  integration/utils/gitIntegration.js
  integration/utils/replaceSerializer.js
  integration/utils/tempDir.js
  integration/utils/windowsNewLines.js
  integration/worktree.test.js
  jest.config.js
  package.json
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/makeCmdTasks.spec.js
  test/utils/tempDir.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: do not use `babel-jest`
  babel.config.cjs
  package-lock.json
  package.json
  test/__mocks__/execa.js
  test/__mocks__/gitWorkflow.js
  test/__mocks__/lilconfig.js
  test/__mocks__/npm-which.js
  test/execGit.spec.js
  test/getStagedFiles.spec.js
  test/index.spec.js
  test/index2.spec.js
  test/loadConfig.spec.js
  test/makeCmdTasks.spec.js
  test/printTaskOutput.spec.js
  test/resolveGitRepo.spec.js
  test/resolveTaskFn.spec.js
  test/resolveTaskFn.unmocked.spec.js
  test/runAll.spec.js
  test/utils/createExecaReturnValue.js
  test/utils/mockExeca.js
  test/utils/mockListr.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: integration tests are ESM modules by default
  integration/merge-conflicts.test.js
  integration/multiple-config-files.test.js
  integration/no-stash.test.js
  integration/utils/gitIntegration.js
  lib/resolveConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: relocate fixtures
  test/__mocks__/execa.js
  test/__mocks__/gitWorkflow.js
  test/__mocks__/lilconfig.js
  test/__mocks__/log-symbols.js
  test/__mocks__/npm-which.js
  test/__mocks__/pidtree.js
  test/fixtures/advanced-config.js
  test/fixtures/esm-config-in-js.js
  test/fixtures/esm-config.mjs
  test/fixtures/my-config.cjs
  test/fixtures/my-config.json
  test/fixtures/my-config.yml
  test/fixtures/my-lint-staged-config/index.cjs
  test/fixtures/my-lint-staged-config/package.json
  test/index2.spec.js
  test/loadConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore: rebase fixes
  integration/multiple-config-files.test.js
  integration/parent-globs.test.js
  lib/configFiles.js
  lib/groupFilesByConfig.js
  lib/loadConfig.js
  lib/runAll.js
  lib/searchConfigs.js
  lib/symbols.js
  test/index3.spec.js
  test/resolveTaskFn.spec.js
  test/searchConfigs.spec.js
  test/state.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: fix index2.spec.js
  test/index2.spec.js
  test/utils/mockListr.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: fix runAll.spec.js and remove duplicates
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: test using Node.js 18
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  f0/536dcc6a2e0758b1554c2673c218dd8e9c2d38
Due: none

fix: correctly handle --max-arg-length cli option
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  1d/b5f2651d7f41c56f3ee1eacb57f1be1566bce2
Due: none

docs: fix the missing comma in the README.md code
  README.md
Due: prettier --write

feat: #272 lint pr mr
  lib/getStagedFiles.js
  test/getStagedFiles.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix(deps): update commander@^9.2.0
  bin/lint-staged.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix(deps): update yaml@^2.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(deps): downgrade yaml@1.10.2 to support Node.js 12
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  38/3a96e17a21d10278e91ecdb8d80385886ce82f
Due: none

feat: add `--diff` option for overriding list of (staged) files
  README.md
  bin/lint-staged.js
  lib/getStagedFiles.js
  lib/index.js
  lib/runAll.js
  test/getStagedFiles.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: do not use Symbol in configuration mapping
  lib/groupFilesByConfig.js
  lib/runAll.js
  lib/searchConfigs.js
  test/searchConfigs.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: add `--diff-filter` option for overriding list of (staged) files
  README.md
  bin/lint-staged.js
  lib/getStagedFiles.js
  lib/index.js
  lib/runAll.js
  test/getStagedFiles.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: include all files when using `--config <path>`
  lib/groupFilesByConfig.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: skip backup stash when using the `--diff` option
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base -- --fix: any of: *.js
