Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix

docs: print a warning when arguments length is too long based on platform
  src/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: support functions as linter commands
  src/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: specify lowest node version in package.json
  index.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: run tests on node 8, 10 and 12
  .appveyor.yml
  .travis.yml
Due: none

fix: Update node version requirement (#646)
  .appveyor.yml
  .travis.yml
  index.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: add ignore glob example
  README.md
Due: prettier --write

fix: run all commands returned by function linters
  src/makeCmdTasks.js
  src/resolveTaskFn.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/resolveTaskFn.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: fix ignore example glob
  README.md
Due: prettier --write

feat: make node-api accessible
  bin/lint-staged
  package.json
  src/index.js
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: rename linters to config
  src/generateTasks.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: spelling mistake in README.md
  README.md
Due: prettier --write

fix: spelling mistake in src/makeCmdTasks.js
  src/makeCmdTasks.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: JSDoc name of shell parameter
  src/resolveTaskFn.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: custom task names
  src/generateTasks.js
  src/normalizeTasksConfig.js
  src/resolveTaskFn.js
  src/runAll.js
  test/generateTasks.spec.js
  test/normalizeTasksConfig.spec.js
  test/resolveTaskFn.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: custom command names
  src/makeCmdTasks.js
  src/normalizeCommandConfig.js
  test/normalizeCommandConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: adding custom titles example to docs
  README.md
Due: prettier --write

refactor: simplify bin declaration in package.json
  package.json
Due: prettier --write

refactor: convert main entrypoint to use an object
  bin/lint-staged
  src/index.js
  src/makeCmdTasks.js
  src/printErrors.js
  src/resolveTaskFn.js
  src/runAll.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
  test/index2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: return a Promise<Boolean> from the main entrypoint
  bin/lint-staged
  src/index.js
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: snapshot with fully-resolved path name
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: add node api to README
  README.md
Due: prettier --write

test: improve test coverage of printErrors
  src/printErrors.js
  test/printErrors.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: improve test coverage
  src/runAll.js
  test/__snapshots__/index.spec.js.snap
  test/__snapshots__/runAll.spec.js.snap
  test/index.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: improve test coverage
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: add --relative option for controlling file paths
  bin/lint-staged
  src/generateTasks.js
  src/index.js
  src/makeCmdTasks.js
  src/resolveGitDir.js
  src/resolveTaskFn.js
  src/runAll.js
  test/__snapshots__/runAll.unmocked.spec.js.snap
  test/generateTasks.spec.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.2.spec.js
  test/runAll.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add test for gitStashPop throwing
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fixed except
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base --fix: any of: *.js
