Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix

fix: node-please-upgrade usage
  index.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: Display package name when node-please-upgrade is being used (#575)
  index.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: Update yarn.lock
  yarn.lock
Due: none

refactor: Use micromatch `ignore` option instead of patterns with negations
  src/generateTasks.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: update lodash version
  package.json
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs: Update Node version in the documentation (#579)
  README.md
Due: prettier --write

fix: Use lodash version with prototype pollution fix (#578)
  package.json
  yarn.lock
Due: prettier --write

docs: Update screencast and installation instructions
  README.md
Due: prettier --write

fix: fix issue with scoped pkg listr-update-renderer
  package.json
  yarn.lock
Due: prettier --write

fix: fix issue with scoped pkg listr-update-renderer (#587)
  package.json
  yarn.lock
Due: prettier --write

fixed typo in package.json
  package.json
Due: prettier --write

Fixed tests for windows
  test/gitStash.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fixed vulnerabilities
  .babelrc
  package.json
  yarn.lock
Due: jsonlint, prettier --write

build fixes
  .eslintrc.json
  package.json
  test/.eslintrc.json
  yarn.lock
Due: prettier --write

chore: fix typo in package.json (#603)
  package.json
Due: prettier --write

fix: update yup to 0.27.0
  package.json
  yarn.lock
Due: prettier --write

fix: update yup to 0.27.0 (#607)
  package.json
  yarn.lock
Due: prettier --write

Update README wrt filtering files
  README.md
Due: prettier --write

docs: Correct section about filtering files (#612)
  README.md
Due: prettier --write

resolves security vulnerability in #600
  package.json
  yarn.lock
Due: prettier --write

fix: Resolve security vulnerability in dependencies (#615)
  package.json
  yarn.lock
Due: prettier --write

docs: update husky configuration example to match v1.x (#566)
  README.md
Due: prettier --write

refactor: generate gitDir only once, using git rev-parse
  package.json
  src/generateTasks.js
  src/gitWorkflow.js
  src/makeCmdTasks.js
  src/resolveGitDir.js
  src/runAll.js
  test/generateTasks.spec.js
  test/index.spec.js
  test/makeCmdTasks.spec.js
  test/resolveGitDir.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: generateTasks doesn't calculate gitDir itself
  src/generateTasks.js
  src/runAll.js
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: throw error in runAll if outside git directory
  README.md
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: resolveGitDir uses execGit
  src/execGit.js
  src/gitWorkflow.js
  src/resolveGitDir.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: fix test
  test/makeCmdTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: normalize gitDir path for Windows compatibility
  src/resolveGitDir.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: makeCmdTasks receives gitDir as argument
  src/makeCmdTasks.js
  src/runAll.js
  test/makeCmdTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: add test for resolveGitDir behaviour outside a git directory
  src/resolveGitDir.js
  test/resolveGitDir.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: improve runAll tests
  src/resolveGitDir.js
  test/__snapshots__/runAll.2.spec.js.snap
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.2.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{js,json,md}
  npm run lint:base --fix: any of: *.js
