Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

ci: add windows-latest to test matrix
  .github/workflows/main.yml
Due: none

test: dangerously skip failing tests on Windows
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/utils/skipWindowsActions.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test(windows-latest): add debug to test Windows issues on GitHub Actions
  .github/workflows/main.yml
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: make sure line-endings are LF
  .gitattributes
Due: none

fix: append newline in test
  test/gitWorkflow.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: make CI faster by separating ESLint and using node_modules cache
  .github/workflows/main.yml
Due: none

ci: run Windows tests with GitHub Actions instead of Appveyor
  .appveyor.yml
  .github/workflows/main.yml
  README.md
  package.json
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/utils/gitHubActions.js
  test/utils/tempDir.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: adjust tests for Windows compatibility
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/utils/crossPlatform.js
  test/utils/gitHubActions.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: add CodeQL action
  .github/workflows/codeql.yml
Due: none

ci: adjust workflow names
  .github/workflows/codeql.yml
  .github/workflows/main.yml
Due: none

ci: add dependabot config
  .github/dependabot.yml
Due: none

feat: Support using diff instead of staged files
  README.md
  bin/lint-staged.js
  lib/getDiffFiles.js
  lib/index.js
  lib/runAll.js
  lib/state.js
  test/getDiffFiles.spec.js
  test/gitWorkflow.spec.js
  test/index2.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: Skip irrelevant tasks when running with `--diff`
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not use `node:` protocol imports
  bin/lint-staged.js
  lib/chunkFiles.js
  lib/generateTasks.js
  lib/gitWorkflow.js
  lib/resolveGitRepo.js
  lib/validateOptions.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: replace `stringify-object` with `object-inspect`
  .babelrc
  babel.config.cjs
  jest.config.js
  lib/index.js
  lib/messages.js
  lib/validateConfig.js
  package-lock.json
  package.json
  test/__snapshots__/validateConfig.spec.js.snap
  test/index.spec.js
Due: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

refactor: make sure debug logs use the actual method name
  lib/execGit.js
  lib/generateTasks.js
  lib/gitWorkflow.js
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
  lib/runAll.js
  lib/validateConfig.js
  lib/validateOptions.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: use named exports
  lib/chunkFiles.js
  lib/execGit.js
  lib/generateTasks.js
  lib/getRenderer.js
  lib/getStagedFiles.js
  lib/gitWorkflow.js
  lib/index.js
  lib/makeCmdTasks.js
  lib/printTaskOutput.js
  lib/resolveGitRepo.js
  lib/resolveTaskFn.js
  lib/runAll.js
  lib/validateBraces.js
  lib/validateConfig.js
  lib/validateOptions.js
  test/chunkFiles.spec.js
  test/execGit.spec.js
  test/generateTasks.spec.js
  test/getRenderer.spec.js
  test/getStagedFiles.spec.js
  test/gitWorkflow.spec.js
  test/index.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/makeCmdTasks.spec.js
  test/printTaskOutput.spec.js
  test/resolveGitRepo.spec.js
  test/resolveTaskFn.spec.js
  test/resolveTaskFn.unmocked.spec.js
  test/runAll.spec.js
  test/validateBraces.spec.js
  test/validateConfig.spec.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: convert to native ESM module
  .eslintrc.json
  bin/lint-staged.js
  lib/chunkFiles.js
  lib/execGit.js
  lib/figures.js
  lib/file.js
  lib/generateTasks.js
  lib/getRenderer.js
  lib/getStagedFiles.js
  lib/gitWorkflow.js
  lib/index.js
  lib/makeCmdTasks.js
  lib/messages.js
  lib/printTaskOutput.js
  lib/resolveGitRepo.js
  lib/resolveTaskFn.js
  lib/runAll.js
  lib/state.js
  lib/symbols.js
  lib/validateBraces.js
  lib/validateConfig.js
  lib/validateOptions.js
  package.json
  testSetup.js
  wallaby.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not import from `fs/promises`
  lib/file.js
  lib/resolveGitRepo.js
  lib/validateOptions.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

style: enable `eslint-plugin-import` recommended rules
  .eslintrc.json
  lib/validateOptions.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

style: enable `import/order` rule
  .eslintrc.json
  bin/lint-staged.js
  lib/chunkFiles.js
  lib/file.js
  lib/generateTasks.js
  lib/gitWorkflow.js
  lib/resolveGitRepo.js
  lib/validateOptions.js
  test/chunkFiles.spec.js
  test/execGit.spec.js
  test/generateTasks.spec.js
  test/gitWorkflow.spec.js
  test/index.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/resolveGitRepo.spec.js
  test/runAll.spec.js
  test/utils/tempDir.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: run Security Analysis actions for all branches
  .github/workflows/codeql.yml
Due: none

ci: print lint-staged version and help text in CI
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  72/40f61730aa923b18156cc64ff5350f2d5be16d
Due: none

fix: read version number from lint-staged package.json instead of package.json in cwd (#1043)
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: read version number from lint-staged package.json instead of package.json in cwd (#1043) (#1044)
  bin/lint-staged.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  9f/9213d5fbc74e3c3fb11db2a1bd239888c2960c
Due: none

fix: remove `npm` version requirement
  package-lock.json
  package.json
Due: prettier --write

fix: remove `npm` version requirement (#1047)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e5/0d6d4ce53d125b735009bacb3de157fb6d1f2a
Due: none

chore: remove unused files
  .pre-commit-hooks.yaml
  package.json
  wallaby.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix
