Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

Update .changeset/quick-taxis-teach.md
  .changeset/quick-taxis-teach.md
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

ci: update CodeQL action v3
  .github/workflows/codeql.yml
Due: none

ci: update `actions/setup-node@v4`
  .changeset/plenty-planes-rush.md
  .github/workflows/install.yml
  .github/workflows/push.yml
  .github/workflows/tag.yml
Due: prettier --write

fix: ignore stdin of spawned commands
  .changeset/dirty-eagles-decide.md
  lib/execGit.js
  lib/resolveTaskFn.js
  test/unit/execGit.spec.js
  test/unit/makeCmdTasks.spec.js
  test/unit/resolveTaskFn.spec.js
  test/unit/resolveTaskFn.unmocked.spec.js
Due: eslint --fix, prettier --write

ci: update "actions/cache@v4"
  .github/workflows/install.yml
  .github/workflows/push.yml
Due: none

fix: do not try to load configuration from files that are not checked out
  .changeset/wet-cups-jog.md
  lib/searchConfigs.js
  test/unit/searchConfigs.spec.js
Due: eslint --fix, prettier --write

ci: use macOS Sonoma M1 runners
  .github/workflows/push.yml
Due: none

feat/issue-1398: added support for custom configuration
  lib/makeCmdTasks.js
  lib/resolveTaskFn.js
Due: eslint --fix

feat: added check to proceed only with not null/undefined
  lib/makeCmdTasks.js
Due: eslint --fix

feat: added check to proceed only if is Function
  lib/makeCmdTasks.js
Due: eslint --fix

feat/issue-1398: updated the condition to return the errors early
  lib/makeCmdTasks.js
  test/unit/makeCmdTasks.spec.js
Due: eslint --fix

feat/issue-1398: removed command field from object requirement
  lib/makeCmdTasks.js
Due: eslint --fix

feat/issue-1398: refactored makeCmdTasks function and added unit test cases
  lib/makeCmdTasks.js
  test/unit/makeCmdTasks.spec.js
Due: eslint --fix

v15.2.3
  package.json
Due: prettier --write

chore(changeset): release
  package-lock.json
Due: prettier --write

Revert "v15.2.3"
  package.json
Due: prettier --write

feat: removed version related changes from package.json
  package-lock.json
Due: prettier --write

Add example avoid globs overlap & tasks edit files
  README.md
Due: prettier --write

docs: add example avoid globs overlap & tasks edit files (#1405)
  README.md
Due: prettier --write

chore(release): add empty changeset
  .changeset/twelve-eels-think.md
Due: prettier --write

Fix typo in resolveTaskFn.js
  lib/resolveTaskFn.js
Due: eslint --fix

Create great-cats-thank.md
  .changeset/great-cats-thank.md
Due: prettier --write

docs: fix typo (#1408)
  .changeset/great-cats-thank.md
  lib/resolveTaskFn.js
Due: eslint --fix, prettier --write

fix(deps): update dependencies
  .changeset/plenty-bags-build.md
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

ci(test): run tests on Node.js 22
  .github/workflows/push.yml
Due: none

build(deps): update dependencies
  .changeset/plenty-bags-build.md
  .github/workflows/push.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

ci(release): disable Husky hooks in release action
  .github/workflows/push.yml
Due: none

test: add "getRepoRootPath" util
  test/__utils__/getRepoRootPath.js
  test/e2e/__utils__/getLintStagedExecutor.js
  test/unit/index2.spec.js
  test/unit/resolveGitRepo.spec.js
Due: eslint --fix

test: add e2e test for linting difficult filename with ESLint + Prettier
  .changeset/three-dogs-drop.md
  test/e2e/special-characters.test.js
Due: eslint --fix, prettier --write

test: add e2e test for linting difficult filename with ESLint + Prettier (#1413)
  .changeset/three-dogs-drop.md
  test/__utils__/getRepoRootPath.js
  test/e2e/__utils__/getLintStagedExecutor.js
  test/e2e/special-characters.test.js
  test/unit/index2.spec.js
  test/unit/resolveGitRepo.spec.js
Due: eslint --fix, prettier --write

feat: use built-in `exec` instead of `execa` with `execGit`
  lib/exec.js
  lib/execGit.js
  test/integration/git-submodules.test.js
  test/unit/execGit.spec.js
Due: eslint --fix

refactor: use `pipeline` from `node:stream/promises`
  lib/exec.js
Due: eslint --fix

refactor: use built-in `exec` in script
  scripts/list-dependency-node-versions.js
Due: eslint --fix

refactor: shorten output stringification
  lib/exec.js
Due: eslint --fix

refactor: wait all promises
  lib/exec.js
Due: eslint --fix

refactor: use `once` from `node:events`
  lib/exec.js
Due: eslint --fix
