Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

chore(eslint): remove unnecessary rules
  .eslintrc.json
Due: none

chore(eslint): set `no-console` off
  .eslintrc.json
  src/getConfig.js
  src/index.js
  src/printErrors.js
  test/getConfig.spec.js
  test/index.spec.js
  test/printErrors.spec.js
  test/runAll.spec.js
Due: eslint --fix

test: update snapshot (whitespace only)
  test/__snapshots__/getConfig.spec.js.snap
Due: none

chore(eslint): make overridden rules more explicit
  .eslintrc.json
Due: none

ci(appveyor): Switch off node modules cache
  appveyor.yml
Due: none

ci(appveyor): Switch off node modules cache (#289)
  appveyor.yml
Due: none

refactor: Break up getConfig into config-util module
  src/config-util/defaultConfig.js
  src/config-util/getConfig.js
  src/config-util/index.js
  src/config-util/validateConfig.js
  src/generateTasks.js
  src/index.js
  src/runScript.js
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
  test/runAll.spec.js
  test/validateConfig.spec.js
Due: eslint --fix

feat: Support glob filter array in linters
  .eslintrc.json
  package.json
  src/config-util/defaultConfig.js
  src/config-util/getConfig.js
  src/config-util/validateConfig.js
  src/generateTasks.js
  src/runAll.js
  src/runScript.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/__snapshots__/validateConfig.spec.js.snap
  test/generateTasks.spec.js
  test/getConfig.spec.js
Due: eslint --fix

feat: Use includes, excludes patterns instead of filters
  src/config-util/getConfig.js
  src/config-util/validateConfig.js
  src/generateTasks.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

refactor: Address feedback
  .eslintrc.json
  src/.eslintrc.json
  src/config-util/defaultConfig.js
  src/config-util/getConfig.js
  src/config-util/index.js
  src/config-util/validateConfig.js
  src/generateTasks.js
  src/getConfig.js
  src/index.js
  src/printErrors.js
  src/runScript.js
  test/.eslintrc.json
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/generateTasks.spec.js
  test/getConfig.spec.js
  test/index.spec.js
  test/printErrors.spec.js
  test/runAll.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
  test/validateConfig.spec.js
Due: eslint --fix

refactor: Address feedback - comments, minor refactorings
  .eslintrc.json
  src/config-util/getConfig.js
  src/generateTasks.js
  src/index.js
Due: eslint --fix

docs: No double negation for excludes in code comment
  src/config-util/getConfig.js
Due: eslint --fix

docs(README): Add/update docs for multi-glob patterns support
  README.md
Due: yaspeller

docs(README): Document excludes option as optional
  README.md
Due: yaspeller

docs(README): Tweak formatting for advanced config
  README.md
Due: yaspeller

test: Add tests for getConfig, generateTasks
  test/__snapshots__/getConfig.spec.js.snap
  test/generateTasks.spec.js
  test/getConfig.spec.js
Due: eslint --fix

chore(eslint): move `env` to be applied for test files
  .eslintrc.json
  test/.eslintrc.json
Due: none

chore: remove unnecessary overridden rules
  test/index.spec.js
  test/printErrors.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
Due: eslint --fix

chore(eslint): allow `global-assign` for `console`
  test/.eslintrc.json
  test/index.spec.js
  test/printErrors.spec.js
Due: eslint --fix

chore(eslint): unnecessary `env`
  test/.eslintrc.json
Due: none

chore(eslint): remove redundant ignored list
  .eslintignore
Due: none

chore(eslint): update `parserOptions` to support enforcing `strict mode`
  .eslintrc.json
  index.js
  src/getConfig.js
  src/resolveGitDir.js
  test/.eslintrc.json
  testSetup.js
  wallaby.js
Due: eslint --fix

chore(eslint): remove `node/exports-style`
  .eslintrc.json
Due: none

chore(eslint): Update config (#287)
  .eslintignore
  .eslintrc.json
  index.js
  src/.eslintrc.json
  src/getConfig.js
  src/index.js
  src/printErrors.js
  src/resolveGitDir.js
  test/.eslintrc.json
  test/__snapshots__/getConfig.spec.js.snap
  test/getConfig.spec.js
  test/index.spec.js
  test/printErrors.spec.js
  test/runAll.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
  testSetup.js
  wallaby.js
Due: eslint --fix

docs(README): Update readme with proposed syntax
  README.md
Due: yaspeller

fix(findBin): Resolve package script with args
  src/findBin.js
  src/index.js
  src/runAll.js
  src/runScript.js
  test/findBin.spec.js
  test/runAll.spec.js
  test/runScript.spec.js
Due: eslint --fix

fix(findBin): Resolve package script with args (#295)
  src/findBin.js
  src/index.js
  src/runAll.js
  src/runScript.js
  test/findBin.spec.js
  test/runAll.spec.js
  test/runScript.spec.js
Due: eslint --fix

fix(findBin): Add separator before npm args
  src/findBin.js
  src/runScript.js
  test/findBin.spec.js
Due: eslint --fix

fix(findBin): Add separator before npm args (#297)
  src/findBin.js
  src/runScript.js
  test/findBin.spec.js
Due: eslint --fix

docs: Add code comment for func findBin>npmArgs
  src/findBin.js
Due: eslint --fix

Fix process.env
  test/generateTasks.spec.js
Due: eslint --fix

docs: Add code comment for func findBin>npmArgs (#298)
  src/findBin.js
Due: eslint --fix

Make consistent import and change homedir to tmpdir
  test/generateTasks.spec.js
Due: eslint --fix

test: Use os.tmpdir instead of process.env.HOME (#300)
  test/generateTasks.spec.js
Due: eslint --fix

Change process.env.HOME to os.tmpdir
  test/resolveGitDir.spec.js
Due: eslint --fix

test: Change process.env.HOME to os.tmpdir (#301)
  test/resolveGitDir.spec.js
Due: eslint --fix

processes spawned by execa now inherit the stdio of their spawning process.
  src/runScript.js
Due: eslint --fix

update tests to expect execa option
  test/runScript-mock-findBin.spec.js
  test/runScript.spec.js
Due: eslint --fix

Add full coverage for runAll.js
  test/runAll.spec.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  yaspeller: any of: *.md
  jsonlint: any of: .*rc
