Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

refactor: use arrow function
  lib/generateTasks.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

docs: update BRACES_REGEXP comment
  lib/validateConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: correctly handle incorrect patterns with braces of only single value
  lib/generateTasks.js
  lib/messages.js
  lib/runAll.js
  test/generateTasks.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: throw early for empty configuration
  lib/validateConfig.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not match escaped curly braces (`\{` or `\}`)
  lib/validateConfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: move brace pattern validation to separate file
  lib/validateBraces.js
  lib/validateConfig.js
  test/__snapshots__/validateConfig.spec.js.snap
  test/validateBraces.spec.js
  test/validateConfig.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: correctly handle nested braces
  lib/validateBraces.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: clean up code
  lib/validateBraces.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: add some more tests
  test/validateBraces.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Simplify configuration example for formatting any format Prettier supports
  README.md
Due: prettier --write

docs: simplify configuration example for formatting any format Prettier supports (#997)
  README.md
Due: prettier --write

fix: try to automatically fix and warn about invalid brace patterns (#992)
  lib/formatConfig.js
  lib/generateTasks.js
  lib/index.js
  lib/makeCmdTasks.js
  lib/messages.js
  lib/validateBraces.js
  lib/validateConfig.js
  package.json
  test/__snapshots__/index2.spec.js.snap
  test/__snapshots__/validateConfig.spec.js.snap
  test/formatConfig.spec.js
  test/generateTasks.spec.js
  test/index.spec.js
  test/index2.spec.js
  test/makeCmdTasks.spec.js
  test/validateBraces.spec.js
  test/validateConfig.spec.js
  test/validateOptions.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Notes added by 'git notes add'
  b3/d97cf4cfb115e51908cd92b95896442494c778
Due: none

doc: fix incorrect folding
  README.md
Due: prettier --write

docs: fix incorrect folding (#1006)
  README.md
Due: prettier --write

Simplify Ignoring Files From .eslintignore.
  README.md
Due: prettier --write

docs: simplify Ignoring Files From .eslintignore. (#1013)
  README.md
Due: prettier --write

Use /usr/bin/env sh instead of direct path
  .husky/pre-commit
  README.md
Due: prettier --write

docs: Use /usr/bin/env sh instead of direct path (#1020)
  .husky/pre-commit
  README.md
Due: prettier --write

Idea: postinstall reducing size of node_modules
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9b/4fff70cd5c428b12afe04a56f4dc81ea3f94ba
Due: none

Notes added by 'git notes add'
  29/be5d705e06b9f8105d285970e9f445175b9271
Due: none

chore(deps): update dependencies
  package.json
  yarn.lock
Due: prettier --write

test: remove duplicates lines from snapshots
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: replace babel-eslint with @babel/eslint-parser
  .eslintrc.json
  package.json
  test/.eslintrc.json
  yarn.lock
Due: prettier --write

chore(deps): regenerate yarn.lock to reduce its size
  yarn.lock
Due: none

perf: re-use figures from listr2 and remove `log-symbols`
  lib/figures.js
  lib/messages.js
  lib/resolveTaskFn.js
  package.json
  test/__snapshots__/validateConfig.spec.js.snap
  test/index.spec.js
  test/integration.test.js
  test/makeCmdTasks.spec.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
  test/validateBraces.spec.js
  test/validateOptions.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

perf: replace `chalk` with `colorette` and `supports-color`
  bin/lint-staged.js
  lib/figures.js
  lib/messages.js
  lib/resolveTaskFn.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

build: use npm instead of yarn
  .appveyor.yml
  .github/workflows/main.yml
  package-lock.json
  yarn.lock
Due: prettier --write

chore: remove unused code
  lib/file.js
  lib/gitWorkflow.js
  lib/resolveGitRepo.js
  lib/runAll.js
  lib/unlink.js
  test/file.spec.js
  test/gitWorkflow.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

perf: further optimize by reusing previous job
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  lib/symbols.js
  test/__mocks__/gitWorkflow.js
  test/state.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

perf: do not use a git stash
  lib/gitWorkflow.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/state.js
  lib/symbols.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: update most of the tests
  lib/gitWorkflow.js
  lib/runAll.js
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/runAll.spec.js
  test/state.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: restore previous order of jobs
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  test/gitWorkflow.spec.js
  test/integration.test.js
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: restore original state when preventing an empty commit
  lib/gitWorkflow.js
  lib/state.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: rename `--no-stash` option to `--no-reset`
  README.md
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/runAll.js
  lib/state.js
  test/gitWorkflow.spec.js
  test/index2.spec.js
  test/integration.test.js
  test/resolveTaskFn.spec.js
  test/runAll.spec.js
  test/state.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: add `--no-stash` as hidden option for backwards-compatibility
  bin/lint-staged.js
  lib/index.js
  lib/messages.js
  lib/validateOptions.js
  test/validateOptions.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not apply empty patch
  lib/gitWorkflow.js
  test/gitWorkflow.spec.js
  test/integration.test.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: do not use `fs/promises` for Node.js 12 compatibility
  lib/resolveGitRepo.js
  lib/unlink.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix
