Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

feat: run `git update-index --again` after running tasks, instead of `git add` for individual files
  .changeset/late-dots-agree.md
  README.md
  lib/gitWorkflow.js
  lib/runAll.js
  lib/state.js
  test/integration/partially-staged-changes.test.js
  test/unit/__mocks__/gitWorkflow.js
  test/unit/runAll.spec.js
  test/unit/state.spec.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  .changeset/cozy-bobcats-flow.md
  package-lock.json
  package.json
Due: prettier --write

ci: run security workflow daily, add manual trigger
  .github/workflows/security.yml
Due: none

ci: omitting dev dependencies in `npm audit` hides production issues
  .github/workflows/security.yml
Due: none

ci: update GitHub Actions versions
  .changeset/long-tires-tap.md
  .github/workflows/default-branch-push.yml
  .github/workflows/npm.yml
  .github/workflows/pull-requests.yml
  .github/workflows/security.yml
  .github/workflows/tag.yml
Due: prettier --write

build(deps): update `tinyexec@1.1.2-next.0` [DO NOT MERGE]
  .changeset/smooth-memes-attend.md
  package-lock.json
  package.json
Due: prettier --write

build(deps): update dependencies
  .changeset/brown-adults-taste.md
  package-lock.json
  package.json
Due: prettier --write

docs: clarify how multiple config files works
  README.md
Due: prettier --write

refactor: rewrite condition to an equivalent form that matches code comment
  .changeset/loose-bars-shout.md
  lib/runAll.js
Due: eslint --fix, prettier --write

docs: fix documentation about multiple config files and the `--cwd` option
  .changeset/orange-signs-give.md
  README.md
Due: prettier --write

build(deps): update dependencies
  .changeset/honest-needles-search.md
  package-lock.json
  package.json
Due: prettier --write

ci: use GitHub API with changesets to create signed commits/tags
  .github/workflows/default-branch-push.yml
Due: none

ci: configure GitHub Bot user for changesets
  .github/workflows/default-branch-push.yml
Due: none

ci: fix Changeset commit message
  .github/workflows/default-branch-push.yml
Due: none

build(deps): update dependencies
  .changeset/small-mugs-press.md
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: run tests on Node.js 26, drop 25
  .github/workflows/pull-requests.yml
Due: none

ci: use personal access token with semantic-release so that it can trigger publish workflow
  .changeset/odd-kids-ask.md
  .github/workflows/default-branch-push.yml
Due: prettier --write

ci: publish to npm in same Changesets workflow so that a personal token isn't required
  .changeset/tidy-chefs-dance.md
  .github/workflows/release.yml
  .github/workflows/tag.yml
Due: prettier --write

ci: force Changesets action to sign Git tag
  .changeset/young-states-join.md
  .github/workflows/release.yml
Due: prettier --write

fix: override `GIT_INDEX_FILE` to point to the default index instead of unsetting it
  .changeset/tricky-pandas-shop.md
  lib/execGit.js
  lib/gitWorkflow.js
  test/integration/gitWorkFlow.test.js
Due: eslint --fix, prettier --write

docs: fix typo in changeset
  .changeset/huge-rules-peel.md
  .changeset/tricky-pandas-shop.md
Due: prettier --write

docs: fix typo in changeset
  .changeset/tricky-pandas-shop.md
Due: prettier --write

docs: update repo URL to point in `lint-staged/lint-staged`
  .changeset/config.json
  CHANGELOG.md
  README.md
  lib/messages.js
  test/unit/validateOptions.spec.js
Due: eslint --fix, prettier --write

docs: disable Changesets "thanks"
  .changeset/config.json
  .changeset/famous-camels-punch.md
Due: prettier --write

build(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: update both default index.lock and non-standard lock when latter exists
  .changeset/shaky-trains-mate.md
  lib/gitWorkflow.js
  test/e2e/git-pre-commit.test.js
  test/integration/__utils__/withGitIntegration.js
  test/integration/gitWorkFlow.test.js
  vitest.config.js
Due: eslint --fix, prettier --write

fix: default `maxArgLength` to `undefined` instead of `NaN` when parsing cli args
  .changeset/pretty-roses-check.md
  lib/cli.js
  test/unit/cli.spec.js
Due: eslint --fix, prettier --write

ci: use staged publishing for npm packages
  .changeset/empty-rings-taste.md
  .github/workflows/release.yml
  package.json
Due: prettier --write

ci: update npm before running `npm stage publish`
  .changeset/loose-toes-return.md
  .github/workflows/release.yml
Due: prettier --write

docs: update changeset
  .changeset/empty-rings-taste.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
