Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write

feat: use `tinyexec` for Git commands
  lib/exec.js
  lib/execGit.js
  package-lock.json
  package.json
  test/unit/__utils__/getMockTinyexec.js
  test/unit/__utils__/mockTinyexecReturnValue.js
  test/unit/execGit.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

feat: add --all flag to run on all tracked files
  README.md
  bin/lint-staged.js
  lib/getStagedFiles.js
  lib/index.d.ts
  lib/index.js
  lib/runAll.js
  test/integration/all-files.test.js
  test/integration/cli-options.test.js
  test/unit/getStagedFiles.spec.js
Due: eslint --fix, prettier --write

chore(changeset): add changeset for --all flag feature
  .changeset/brave-tigers-run.md
Due: prettier --write

docs: update GitHub issue template
  .changeset/silver-dolls-brake.md
  .github/issue_template.md
Due: prettier --write

docs: add AGENTS.md
  AGENTS.md
Due: prettier --write

docs: add PR template
  .github/pull_request_template.md
Due: prettier --write

ci: remove dependabot integration, it's not useful
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Due: none

build(deps): update dependencies
  package-lock.json
  package.json
  test/unit/colors.spec.js
Due: eslint --fix, prettier --write

chore: drop npx overhead since changeset status is non-interactive
  .husky/pre-push
Due: none

chore: updated the pre-push hook so it works correctly for lint-staged contributors
  .changeset/wet-lemons-stare.md
Due: prettier --write

chore: add empty changeset for husky update
  .changeset/hungry-bushes-switch.md
  .changeset/wet-lemons-stare.md
  .husky/pre-push
Due: prettier --write

chore: fix `pre-push` hook usage with changeset
  .changeset/hungry-bushes-switch.md
  .husky/pre-push
Due: prettier --write

chore: drop `npx` from `commit-msg` hook
  .husky/commit-msg
Due: none

style: do not autofix when running lint-staged
  lint-staged.config.js
Due: eslint --fix

fix: do display "failed to spawn" message when task fails normally
  .changeset/fresh-ghosts-follow.md
  lib/getSpawnedTask.js
Due: eslint --fix, prettier --write

build(deps): update dependencies
  .changeset/fresh-ghosts-follow.md
  package-lock.json
  package.json
Due: prettier --write

refactor: only try to kill processes on failure
  lib/getFunctionTask.js
  lib/getSpawnedTask.js
  test/e2e/kill-tasks-on-failure.test.js
  test/unit/getSpawnedTask.unmocked.spec.js
Due: eslint --fix

refactor: improve messaging around failed/killed tasks
  lib/getSpawnedTask.js
  test/e2e/kill-tasks-on-failure.test.js
  test/integration/fail-to-spawn.test.js
Due: eslint --fix

feat: kill sub-processes of tasks more efficiently without `pidtree`
  .changeset/salty-colts-allow.md
  lib/getSpawnedTask.js
  lib/killSubprocesses.js
  package-lock.json
  package.json
  test/unit/getSpawnedTask.spec.js
  test/unit/killSubprocesses.spec.js
Due: eslint --fix, prettier --write

feat: improve handling of SIGINT interrupting tasks
  .changeset/beige-crabs-wish.md
  bin/lint-staged.js
  lib/getAbortController.js
  lib/getSpawnedTask.js
  lib/getSpawnedTasks.js
  lib/runAll.js
  lib/state.js
  test/unit/__utils__/mockNanoSpawnReturnValue.js
  test/unit/getAbortController.spec.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTask.unmocked.spec.js
  test/unit/getSpawnedTasks.spec.js
Due: eslint --fix, prettier --write

refactor: replace micromatch with picomatch
  .changeset/replace-micromatch-picomatch.md
  lib/generateTasks.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

build(deps): update dependencies
  package-lock.json
  package.json
  test/unit/generateTasks.spec.js
  test/unit/index3.spec.js
  test/unit/runAll.spec.js
  test/unit/validateOptions.spec.js
Due: eslint --fix, prettier --write

ci: update GitHub actions
  .github/workflows/codeql.yml
  .github/workflows/default-branch-push.yml
  .github/workflows/npm.yml
  .github/workflows/pull-requests.yml
  .github/workflows/tag.yml
Due: none

chore: fix typos in example comments for environment variables
  lib/colors.js
Due: eslint --fix

docs: fix typos in example comments for environment variables (#1721)
  lib/colors.js
Due: eslint --fix

feat: use `tinyexec` for Git commands
  .changeset/crisp-wombats-doubt.md
  lib/execGit.js
  package-lock.json
  package.json
  scripts/test-node-range.js
  test/unit/__utils__/getMockTinyexec.js
  test/unit/__utils__/mockTinyexecReturnValue.js
  test/unit/execGit.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

feat: use `tinyexec` to spawn tasks
  .changeset/crisp-wombats-doubt.md
  lib/getAbortController.js
  lib/getSpawnedTask.js
  lib/getSpawnedTasks.js
  lib/killSubprocesses.js
  lib/runAll.js
  lib/state.js
  test/e2e/kill-tasks-on-failure.test.js
  test/integration/diff-options.test.js
  test/integration/no-stash.test.js
  test/unit/getAbortController.spec.js
  test/unit/getSpawnedTask.spec.js
  test/unit/getSpawnedTask.unmocked.spec.js
  test/unit/getSpawnedTasks.spec.js
  test/unit/killSubprocesses.spec.js
  test/unit/runAll.spec.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
  prettier --write: any of: *.{json,md}
