Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base --fix, jsonlint --in-place

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base --fix",
  ".*{rc, json}": "jsonlint  --in-place"
}

test: add test for supplying object config via node api
  test/__snapshots__/index.spec.js.snap
  test/index.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: update warning about git add, and to README
  README.md
  lib/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: no need to run `git clean -df` since untracked changes are stashed
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

test: should not resurrect removed files due to git bug
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: add all modified files to git index with `git add .`
  lib/gitWorkflow.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

Revert "fix: no need to run `git clean -df` since untracked changes are stashed"
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: correctly leave only staged files for running tasks
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: Mention the beta channel in the readme (#721)
  README.md
Due: prettier --write

fix: support binary files
  lib/gitWorkflow.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

chore: update all dependencies
  lib/execGit.js
  lib/index.js
  package.json
  test/__mocks__/cosmiconfig.js
  test/execGit.spec.js
  test/index.spec.js
  yarn.lock
Due: eslint --fix, prettier --write, npm run lint:base --fix

docs: Fix root-dir-only example.
  README.md
Due: prettier --write

docs: fix root-dir-only example. (#731)
  README.md
Due: prettier --write

chore(deps): remove unused devDependencies
  package.json
  yarn.lock
Due: prettier --write

Setup GitHub Actions
  .gitattributes
  .github/workflows/nodejs.yml
  .github/workflows/npmpublish.yml
Due: none

feat: split tasks into chunks to support shells with limited max argument length
  README.md
  bin/lint-staged
  lib/chunkFiles.js
  lib/index.js
  lib/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/chunkFiles.spec.js
  test/runAll.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: use a function for getting max arg lenth
  bin/lint-staged
Due: none

refactor: simplify spreading of listrTasks into main runner tasks
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: split tasks into chunks to support shells with limited max argument length (#732)
  README.md
  bin/lint-staged
  lib/chunkFiles.js
  lib/index.js
  lib/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/chunkFiles.spec.js
  test/runAll.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

initial test concurrent mode
  bin/lint-staged
  src/index.js
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

default to true to mimic old behaviour
  src/index.js
  src/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

initial pass for concurrent mode don't pass concurrent into root listr options
  bin/lint-staged
  src/index.js
  src/runAll.js
  test/index2.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

initial pass for concurrent mode
  README.md
  bin/lint-staged
  src/index.js
  src/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: add support for concurrent CLI option
  README.md
  bin/lint-staged
  src/index.js
  src/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: improve debug logging
  bin/lint-staged
  lib/chunkFiles.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

refactor: linStaged is an async function
  lib/index.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: max arg length is by default half of the allowed to prevent edge cases
  bin/lint-staged
Due: none

test: remove non-working concurrency tests for now
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: add --bail option for erroring when tasks modify staged files
  README.md
  bin/lint-staged
  lib/gitWorkflow.js
  lib/index.js
  lib/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

fix: do not stage modifications with --bail
  lib/gitWorkflow.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base --fix

feat: bump Node.js version dependency to at least 10.13.0
  bin/lint-staged
Due: none

test: replace Node.js v8 with v13 in test matrix
  .appveyor.yml
  .travis.yml
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: bump Node.js version dependency to at least 10.13.0 (#747)
  .appveyor.yml
  .travis.yml
  bin/lint-staged
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  bf532c2af9dbd3514b16768a106fea82ddc99923
Due: none

Notes added by 'git notes add'
  cfde9ca64bed7fa236eda69e63478c536f9f9068
Due: none

Notes added by 'git notes add'
  a33dc68ee34b58c0b36479e0410ef1ba0049a5bd
Due: none

Notes added by 'git notes add'
  cb43872fb6c05366a8fc25a8bd889b95918f45a3
Due: none

Notes added by 'git notes add'
  80406c20fd3d1a86b0a0558c10f6747b2b47698e
Due: none

Notes added by 'git notes add'
  0eedacdb12b65c99a8a0e098cc48b2a50974d84d
Due: none

fix: automatically add modifications only to originally staged files
  lib/gitWorkflow.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base --fix
