Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint, prettier --write, npm run lint:base -- --fix

.lintstagedrc:

{
    "linters": {
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        ".*{rc, json}": "jsonlint"
    },
    "verbose": true
}

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "*.js": "npm run lint:base -- --fix"
}

ci: upload only one coverage
  .github/workflows/main.yml
Due: none

docs: add GitHub Actions badge to readme
  README.md
Due: prettier --write

ci: add semantic-release job
  .github/workflows/main.yml
Due: none

ci: rename Codecov job
  .github/workflows/main.yml
Due: none

ci: do not run Appveyor for tags, sync branches with GitHub Actions
  .appveyor.yml
Due: none

ci: run only ubuntu for now
  .github/workflows/test.yml
Due: none

ci: add codecov job
  .github/workflows/test.yml
Due: none

ci: replace Travis with GitHub Actions
  .gitattributes
  .github/workflows/test.yml
  .travis.yml
Due: none

refactor: prefer explicit default value
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: remove redundant check
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: Separate release and tests tasks
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

ci: Use yarn and only trigger release on master branch
  .github/workflows/release.yml
Due: none

ci: checkout repo and setup node in the release job
  .github/workflows/main.yml
Due: none

ci: trigger release job for only pushes, not pull requests
  .github/workflows/main.yml
Due: none

ci: get event name from correct place
  .github/workflows/main.yml
Due: none

fix: no longer include untracked files in backup stash
  lib/gitWorkflow.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: add --index flag to help text
  lib/runAll.js
  test/runAll.unmocked.2.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: no longer include untracked files in backup stash (#827)
  lib/gitWorkflow.js
  lib/runAll.js
  test/runAll.unmocked.2.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

feat: improve task naming
  lib/makeCmdTasks.js
  test/makeCmdTasks.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

ci: add macos-latest to test matrix
  .github/workflows/main.yml
Due: none

fix: run `git add` for staged file chunks serially
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

refactor: rename chunkFiles gitDir arg to baseDir, since it's used for resolving
  lib/chunkFiles.js
  lib/runAll.js
  test/chunkFiles.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: only run git add on staged files matched to a task
  lib/gitWorkflow.js
  lib/runAll.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: allow lint-staged to run on empty git repo by disabling backup
  lib/gitWorkflow.js
  lib/runAll.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

test: inline snapshots
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Delete lint-staged-prettier.gif
  screenshots/lint-staged-prettier.gif
Due: none

Delete README.md
  README.md
Due: prettier --write

test: do not test for console output when it's not relevant
  test/runAll.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

fix: allow lint-staged to run on empty git repo by disabling backup
  lib/gitWorkflow.js
  lib/runAll.js
  test/__snapshots__/runAll.spec.js.snap
  test/runAll.spec.js
  test/runAll.unmocked.spec.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix

Update README.md
  README.md
Due: prettier --write

fix: pass correct path to unstaged patch during cleanup
  lib/gitWorkflow.js
Due: eslint --fix, prettier --write, npm run lint:base -- --fix
