Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint

Remove unused code that fails tests on Node 4
  src/gitWorkflow.js
  test/gitStash.spec.js
Due: eslint --fix

fixup! chore: Use debug instead of console.log
  src/gitWorkflow.js
Due: eslint --fix

Remove unused post.js and pre.js files
  post.js
  pre.js
Due: eslint --fix

Add stashUnstaged flag to the config
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/getConfig.spec.js
Due: eslint --fix

feat(config): Add `ignore` config option (#385)
  README.md
  src/generateTasks.js
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/generateTasks.spec.js
  test/getConfig.spec.js
Due: eslint --fix

Fix tests
  test/gitStash.spec.js
Due: eslint --fix

Update test title
  test/gitStash.spec.js
Due: eslint --fix

ci: Whitelist the `next` branch
  .travis.yml
  appveyor.yml
Due: none

perf: Switch from minimatch to micromatch
  README.md
  package.json
  src/generateTasks.js
  yarn.lock
Due: eslint --fix

perf: Switch from minimatch to micromatch (#388)
  README.md
  package.json
  src/generateTasks.js
  yarn.lock
Due: eslint --fix

feat: Remove support for npm scripts
  README.md
  package.json
  src/findBin.js
  src/index.js
  src/runAll.js
  src/runScript.js
  test/__mocks__/npm-which.js
  test/findBin.spec.js
  test/runAll.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
  yarn.lock
Due: eslint --fix

fix: Check pkg scripts when findBin fails
  package.json
  src/checkPkgScripts.js
  src/findBin.js
  test/__snapshots__/checkPkgScripts.spec.js.snap
  test/__snapshots__/findBin.spec.js.snap
  test/checkPkgScripts.spec.js
  test/findBin.spec.js
  yarn.lock
Due: eslint --fix

chore(package): update lockfile
  yarn.lock
Due: none

feat: Remove support for npm scripts (#390)
  README.md
  package.json
  src/checkPkgScripts.js
  src/findBin.js
  src/index.js
  src/runAll.js
  src/runScript.js
  test/__mocks__/npm-which.js
  test/__snapshots__/checkPkgScripts.spec.js.snap
  test/__snapshots__/findBin.spec.js.snap
  test/checkPkgScripts.spec.js
  test/findBin.spec.js
  test/runAll.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
  yarn.lock
Due: eslint --fix

refactor: Drop support for Node.js 4
  .babelrc
  .eslintrc.json
  .travis.yml
  README.md
  appveyor.yml
  index.js
  package.json
  src/checkPkgScripts.js
  src/findBin.js
  src/generateTasks.js
  src/getConfig.js
  src/index.js
  src/runAll.js
  src/runScript.js
  yarn.lock
Due: eslint --fix, jsonlint

refactor: Drop support for Node.js 4 (#399)
  .babelrc
  .eslintrc.json
  .travis.yml
  README.md
  appveyor.yml
  index.js
  package.json
  src/checkPkgScripts.js
  src/findBin.js
  src/generateTasks.js
  src/getConfig.js
  src/index.js
  src/runAll.js
  src/runScript.js
  yarn.lock
Due: eslint --fix, jsonlint

fix(package): Bump dependencies
  .eslintrc.json
  package.json
  src/runScript.js
  test/__mocks__/execa.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
  yarn.lock
Due: eslint --fix

fix: Use silent nonTTYRenderer to avoid dupl output
  src/runAll.js
Due: eslint --fix

Add JetBrains IDE instructions for bugfix
  README.md
Due: none

Check if there are staged files before stashing
  src/runAll.js
  test/__snapshots__/runAll.spec.js.snap
Due: eslint --fix

Add logging for git commands
  src/gitWorkflow.js
Due: eslint --fix

Apply requested changes
  README.md
Due: none

Remove full name credit
  README.md
Due: none

docs: Add JetBrains IDE instructions for bugfix (#408)
  README.md
Due: none

docs: Move section for use with monorepo under FAQ
  README.md
Due: none

docs: Move section for use with monorepo under FAQ (#409)
  README.md
Due: none

Fix duplicate error messages #142
  src/runScript.js
Due: eslint --fix

remove dedent from console
  src/runScript.js
Due: eslint --fix

remove semi column
  src/runScript.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  jsonlint: any of: .*{rc, json}
