Repository lint-staged/lint-staged: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller, jsonlint

chore(scripts): replace `npm run` with `yarn` (#370)
  package.json
Due: none

test: use `expect.assertions()`
  test/index.spec.js
  test/printErrors.spec.js
  test/runAll.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix

test(runAll): move `expect.assertions()` to the top
  test/runAll.spec.js
Due: eslint --fix

test(runAll): convert promise style codes to `async/await`
  test/runAll.spec.js
Due: eslint --fix

ci(travis): cache dependencies
  .travis.yml
Due: none

ci(appveyor): cache dependencies
  appveyor.yml
Due: none

ci: Cache dependencies (#378)
  .travis.yml
  appveyor.yml
Due: none

test: Use `expect.assertions()` to test async codes (#377)
  test/index.spec.js
  test/printErrors.spec.js
  test/runAll.spec.js
  test/runScript-mock-findBin.spec.js
  test/runScript-mock-pMap.spec.js
  test/runScript.spec.js
Due: eslint --fix

ci(travis): pass `--ignore-engines` to install `semantic-release`
  .travis.yml
Due: none

ci(travis): use & install `semantic-release` v11
  .travis.yml
Due: none

ci: pass `--ignore-engines` to `yarn install`
  .travis.yml
  appveyor.yml
Due: none

ci(travis): Update `semantic-release` config (#371)
  .travis.yml
  appveyor.yml
Due: none

chore(package): upgrade to jest 22
  package.json
  yarn.lock
Due: none

chore(package): upgrade to jest 22 (#367)
  package.json
  yarn.lock
Due: none

docs: Update inconsistent docs for filtering files
  README.md
Due: yaspeller

docs: Address feedback
  README.md
Due: yaspeller

docs: Update filtering part
  README.md
Due: yaspeller

docs: Re-word, format
  README.md
Due: yaspeller

style(readme): Single line for para
  README.md
Due: yaspeller

docs: Update inconsistent docs for filtering files (#374)
  README.md
Due: yaspeller

ci(travis): Use `semantic-release` v12
  .travis.yml
Due: none

ci(travis): run `semantic-release` and its installation inside `travis-deploy-once`
  .travis.yml
Due: none

refactor: Do not pass redundant param for searchPath
  src/index.js
  yarn.lock
Due: eslint --fix

ci(travis): Use `semantic-release` v12 (#383)
  .travis.yml
Due: none

feat(config): add `ignore` config option
  README.md
  src/generateTasks.js
  src/getConfig.js
  test/__snapshots__/getConfig.spec.js.snap
  test/__snapshots__/index.spec.js.snap
  test/generateTasks.spec.js
  test/getConfig.spec.js
Due: eslint --fix, yaspeller

docs(options): sort alphabetically
  README.md
Due: yaspeller

docs: fix globOptions
  README.md
Due: yaspeller

refactor: Remove unused jest-stdout-serializer
  test/gitStash.spec.js
  test/jest-stdout-serializer.js
Due: eslint --fix

Create more git utilities for staged / unsteaged files
  src/gitWorkflow.js
  src/runAll.js
  test/gitStash.spec.js
Due: eslint --fix

tests: Add a failing test for deletion
  test/gitStash.spec.js
Due: eslint --fix

tests: More tests for git workflow
  test/gitStash.spec.js
Due: eslint --fix

Fix execution order problem
  src/runAll.js
Due: eslint --fix

Run in verbose mode
  .lintstagedrc
Due: jsonlint

tests: Update test case and comment the conent check for now
  test/gitStash.spec.js
Due: eslint --fix

Generate path if there are unstaged files
  src/gitWorkflow.js
Due: eslint --fix

tests: Skip the failing test
  test/gitStash.spec.js
Due: eslint --fix

tests: Update snapshots
  test/__snapshots__/runAll.spec.js.snap
Due: none

chore: Use debug instead of console.log
  src/gitWorkflow.js
Due: eslint --fix

Run lint-staged in debug mode
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  yaspeller: any of: *.md
  jsonlint: any of: .*rc
